<article class="program_finder_block_empty no_results">
	<div class="program_finder_block_empty_inner">
		<h3 class="program_finder_block_empty_heading">No Results Found</h3>
		<a href="#" class="program_finder_block_empty_link">View All<br>Undergraduate Programs</a>
	</div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>

<!-- If results, return normally, filling in result sets < 4 with empty blocks
@@include('../components/program-finder-block.html', {
	"name": "Archaeology",
	"type": "B.S.",
	"image": "9"
})
@@include('../components/program-finder-block.html', {
	"name": "Paleontology",
	"type": "B.S.",
	"image": "8"
})
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
-->