/* This file will hold styles that are loaded using the same media query as the normal grid. */
  .ui-widget.ui-datepicker {
    font-size: 0.7em;
  }
  .site-sit.front.chrome #carousel_default .caroufredsel_wrapper,  
  .site-sit.front.safari #carousel_default .caroufredsel_wrapper,  
  .site-hub.front.chrome .front-landing .caroufredsel_wrapper, 
  .site-hub.front.safari .front-landing .caroufredsel_wrapper {
    width: 800px !important; 
  }

.front .sit-banner-default .caroufredsel_wrapper:not(.site-prv .sit-banner-default .caroufredsel_wrapper)
{
	min-height: 314px;
}

.page { width: 960px; }
.sit-landing-banner #banner_carousel-pagination {
  top: 280px;
}
.sit-landing-banner .sit-carousel-column {
	width: 960px;
}

.sesdept-banner img {
        height: 360px !important;
}

.not-ie7 .sesdept-banner img {
        height: 300px !important;
}

.not-ie7 .media-image {
	height:145px;
}

.not-ie7 .field-name-field-image img{
        height:242px;
}

