.sit-landing-banner #banner_carousel-pagination {
  left: 10px;
  top: 210px;
}
.zone-user .region-user-first .block-menu {
	clear: both;
	display: block;
	float: none !important;
	margin-left: 0;
	width: auto !important;
}

.sit-landing-banner .sit-carousel-column {
	width: 720px;
}

.zone-menu .block li {
	font-size: 10px;
	padding-top: 5px;
	width: 90px;
}

.logo-img {
	padding-right: 20px;
	top: 8px;
	width: 190px;
}

.zone-branding {
	background-position: right top;
}

.site-lib .zone-branding {
        background-position: right -2520px;
}

.site-cal .zone-branding {
	background-position: right -420px;
}

.site-sse .zone-branding {
	background-position: right -840px;
}

.site-how .zone-branding {
	background-position: right -1260px;
}

.site-ses .zone-branding {
	background-position: right -1680px;
}

.site-sdc .zone-branding {
        background-position: right -2520px;
}

.site-dof .zone-branding {
  background-position: right -2520px;
}
.region-content p,
.region-content li,
.region-content dt,
.region-content dd {
	font-size: 12px;
}

.page {
	width: 720px;
}

/**
* USER ZONE
*/

/**
* User First Region
*/
.user-menu-block  {
	clear: both;
	width: auto !important;
}

.user-menu-block li {
	font-size: 10px;
}

/**
* Site Search
*/
.zone-user .block-search {
	margin-bottom: 5px;
}

.zone-user .block-search .form-text {
	width: 170px;
}

.not-ie7 .zone-user .block-search .form-submit {
	left: 147px;
}


/**
* USER SECOND REGION
*/
.zone-user .block-superfish li li {
	font-size: 11px;
}


/**
* BRANDING ZONE
*/
.zone-branding,
.region-branding {
	height: 100px;
}

.region-branding {
	background-position: right top;
}


.region-branding .block {
	height: 60px;
	left: 235px;
	padding: 23px 0 0 20px;
	top: 8px;
}

.site-hub .region-branding .block {
	height: 55px;
	padding-top: 28px;
}

.region-branding .site-name-large {
	height: 75px;
	padding-top: 9px;
}

.region-branding .block h2 {
	font-size: 18px;
}

.site-hub .region-branding .block h2 {
	font-size: 18px;
}

.region-branding .block h2 span {
	font-size: 13px;
}


/**
* MENU ZONE/REGIONS
*/
.not-sit-school .zone-menu .block,
.sit-school .block-system-main-menu,
.sit-school .block-menu-menu-secondary.menu-opened {
	padding: 0 20px 7px;
}

.not-sit-school .menu-closed,
.sit-school .block-system-main-menu.menu-closed {
	height: 15px;
}

.zone-menu .open-close {
	background-position: 0 -9px;
	padding-top: 22px;
}

.zone-menu .menu-opened .open-close {
	background-position: 0 -48px;
}

.sit-school .block-menu-menu-secondary .open-close {
	font-size: 11px;
	height: 15px;
	padding: 5px 15px 2px;
	width: 100px;
}

/**
* SIT Main Menu Items
*/
.site-sit .zone-menu .block .academics {
	width: 110px;
}

.site-sit .zone-menu .block .admissions {
	width: 75px;
}

.site-sit .zone-menu .block .research {
	width: 55px;
}

.site-sit .zone-menu .block .athletics {
	width: 60px;
}

.site-sit .zone-menu .block .university-life {
	width: 100px;
}

.site-sit .zone-menu .block .news {
	width: 75px;
}

.site-sit .zone-menu .block .about {
	width: 90px;
}

/**
* CAL Main Menu Items
*/
.site-cal .zone-menu .block .about-cal {
	width: 75px;
}

.site-cal .zone-menu .block .undergraduate {
	width: 80px;
}

.site-cal .zone-menu .block .graduate {
	width: 75px;
}

.site-cal .zone-menu .block .centers-resources {
	width: 120px;
}

.site-cal .zone-menu .block .people {
	width: 55px;
}

.site-cal .zone-menu .block .research {
	width: 70px;
}

/**
* SSE Main Menu Items
*/
.site-sse .zone-menu .block .about-sse {
	width: 100px;
}

.site-sse .zone-menu .block .academics {
	width: 80px;
}

.site-sse .zone-menu .block .admissions {
	width: 75px;
}

.site-sse .zone-menu .block .research {
	width: 60px;
}

.site-sse .zone-menu .block .people {
	width: 85px;
}

.site-sse .zone-menu .block .partnerships {
	width: 70px;
}

/**
* SES Main Menu Items
*/
.site-ses .zone-menu .block .about {
	width: 90px;
}

.site-ses .zone-menu .block .undergraduate {
	width: 110px;
}

.site-ses .zone-menu .block .graduate {
	width: 90px;
}

.site-ses .zone-menu .block .research {
	width: 90px;
}

.site-ses .zone-menu .block .resources {
	width: 90px;
}

/**
* HOWE Main Menu Items
*/
.site-how .zone-menu .block .about-us {
	width: 80px;
}

.site-how .zone-menu .block .academics {
	width: 80px;
}

.site-how .zone-menu .block .students {
	width: 65px;
}

.site-how .zone-menu .block .research {
	width: 90px;
}

.site-how .zone-menu .block .admissions {
	width: 80px;
}

.site-how .zone-menu .block .partnerships {
	width: 90px;
}

/**
* NEWS HUB Main Menu Items
*/
.site-hub .zone-menu .block-system-main-menu .stevens-news {
	width: 70px;
}

.site-hub .zone-menu .block-system-main-menu .multimedia {
	width: 70px;
}

.site-hub .zone-menu .block-system-main-menu .events {
	width: 50px;
}

.site-hub .zone-menu .block-system-main-menu .stevens-public-relations {
	width: 130px;
}

.site-hub .zone-menu .block-system-main-menu .stevens-experts {
	width: 85px;
}

.site-hub .zone-menu .block-system-main-menu .contact-news {
	width: 80px;
}

/**
* Office of Development Main Menu items
*/
.site-dof .zone-menu .block-system-main-menu .annual-giving {
	width: 80px;
}

.site-dof .zone-menu .block-system-main-menu .planned-giving {
	width: 78px;
}

.site-dof .zone-menu .block-system-main-menu .reunions {
	width: 45px;
}

.site-dof .zone-menu .block-system-main-menu .scholarship {
	width: 60px;
}

.site-dof .zone-menu .block-system-main-menu .corporations-foundations {
	width: 152px;
}

.site-dof .zone-menu .block-system-main-menu .guide-to-giving {
	width: 83px;
}

.site-dof .zone-menu .block-system-main-menu .about-us {
	width: 70px;
}

/**
* Provost Main Menu items
*/
.site-prv .zone-menu .block-system-main-menu .academics {
	width: 70px;
}

.site-prv .zone-menu .block-system-main-menu .research {
	width: 48px;
}

.site-prv .zone-menu .block-system-main-menu .entrepreneurship {
	width: 90px;
}

.site-prv .zone-menu .block-system-main-menu .institutional-research {
	width: 122px;
}

.site-prv .zone-menu .block-system-main-menu .administration {
	width: 75px;
}

.site-prv .zone-menu .block-system-main-menu .policies-guidelines {
	width: 110px;
}

.site-prv .zone-menu .block-system-main-menu .directory {
	width: 55px;
}

/**
* Academic Entrepreneurship Main Menu items
*/
.site-ent .zone-menu .block-system-main-menu .about-oae {
	width: 75px;
}

.site-ent .zone-menu .block-system-main-menu .programs-scholarships {
	width: 132px;
}

.site-ent .zone-menu .block-system-main-menu .people {
	width: 45px;
}

.site-ent .zone-menu .block-system-main-menu .inventions-ip-guide {
	width: 110px;
}

.site-ent .zone-menu .block-system-main-menu .patents {
	width: 40px;
}

.site-ent .zone-menu .block-system-main-menu .inventors-handbook {
	width: 107px;
}

.site-ent .zone-menu .block-system-main-menu .related-links {
	width: 55px;
}

/**
* Secondary Menu Item width on SIT
*/
.site-sit .zone-menu .block-menu-menu-secondary .prospective-students {
	width: 94px;
}

.site-sit .zone-menu .block-menu-menu-secondary .current-students {
	width: 76px;
}

.site-sit .zone-menu .block-menu-menu-secondary .international-students {
	width: 100px;
}

.site-sit .zone-menu .block-menu-menu-secondary .faculty-staff {
	width: 68px;
}

.site-sit .zone-menu .block-menu-menu-secondary .alumni {
	width: 59px;
}

.site-sit .zone-menu .block-menu-menu-secondary .working-at-stevens {
	width: 86px;
}

.site-sit .zone-menu .block-menu-menu-secondary .apply {
	width: 78px;
}

/**
* Secondary Menu Item width on school sites
*/
.not-sit .zone-menu .block-menu-menu-secondary .engage {
	width: 65px;
}

.not-sit .zone-menu .block-menu-menu-secondary .academics {
	width: 100px;
}

.not-sit .zone-menu .block-menu-menu-secondary .admissions {
	width: 70px;
}

.not-sit .zone-menu .block-menu-menu-secondary .research {
	width: 50px;
}

.not-sit .zone-menu .block-menu-menu-secondary .athletics {
	width: 65px;
}

.not-sit .zone-menu .block-menu-menu-secondary .university-life {
	width: 80px;
}

.not-sit .zone-menu .block-menu-menu-secondary .news {
	width: 65px;
}

.not-sit .zone-menu .block-menu-menu-secondary .about {
	width: 65px;
}

/**
* Main Link styles and sub-menu styling
*/
.zone-menu .block li ul {
	padding: 0;
	margin-top: 10px;
}

.zone-menu .block li li {
	margin-bottom: 7px;
}


/**
* CONTENT REGION
*/
.region-sidebar-first-active .zone-content {
	background-image: url(images/narrow/zone-content.jpg); 
}

.not-front.region-sidebar-first-inactive .zone-content .region-content {
	width: 700px !important;
}

.page-title {
	font-size: 18px;
}

.node-type-page .page-title {
	font-size: 24px;
}

.fb-comments {
  width: 100% !important;
}

.ui-widget.ui-datepicker {
  font-size: 0.5em;
  margin-left: -1em;
}

/**
* Basic Text styles
*/
.region-content h2 {
	font-size: 18px;
}

.region-content h3 {
	font-size: 16px;
}

.region-content h4 {
	font-size: 14px;
}

.region-content .field-name-field-intro-text * {
	font-size: 14px;
}

/**
* Webform on page node
*/
.node-page .node-webform label {
	font-size: 12px;
}

.node-page .node-webform .compact-form-label {
	top: 6px;
}

.node-page .node-webform select,
.node-page .node-webform option {
	font-size: 12px;
}

/**
* Node Quick Links
*/
.node .quick-links li {
	font-size: 11px;
}

.node .quick-links li a {
	padding: 5px 20px 3px;
}

/**
* School Landing Panel
*/
.panel-landing-school .pane-title {
	font-size: 12px;
}

.panel-landing-school .front-emphasis-pane .pane-title {
	font-size: 18px;
}

/**
* Office of Development Featured Initiatives
*/
.site-dof .initiative-promo-default-display h3 {
 font-size: 14px; 
}

.site-dof .initiative-promo-front-pane .views-row {
 width: 150px;
}

.site-dof .initiative-promo-block .views-row {
 width: 157px;
}

.site-dof .make-gift-button a {
 font-size: 14px;
}

/**
* Front Banner Panel
*/
.sit-landing-banner .banner-title + .banner-text {
	margin-top: 5px;
	padding-top: 8px;
}

/**
* Banner Carousel Defaults
*/
.sit-banner-default .banner-text .action-link {
	font-size: 10px;
	padding: 1px 7px 0;
}

.sit-banner-default .sit-carousel-column .file-video {
  left: 285px;
  top: 10px;
  width: 390px;
}

.sit-banner-default .carousel-pager a {
	padding: 11px 11px 0 0;
}

/**
* Front Banner Carousel
*/
.not-ie7 .sit-landing-banner img {
	height: 237px;
}

.sesdept-banner img {
	height: 215px !important;
}

.sit-landing-banner .banner-text {
  left: 10px;
  top: 40px;
  width: 300px;
}

.sit-landing-banner .banner-text * {
	font-size: 16px;
}

.sit-landing-banner .banner-text p {
	font-size: 18px;
}

.sit-landing-banner .banner-text h2 {
	font-size: 24px;
}

.sit-landing-banner .banner-text h3 {
	font-size: 14px;
}

.sit-landing-banner .banner-text p {
	font-size: 11px;
}

.sit-landing-banner .carousel-pager {
	left: 10px;
	top: 205px;
}

/**
* Page Node Banner
*/
.sit-page-node-banner {
	margin-left: -20px;
}

.sit-page-node-banner .sit-carousel-column {
	width: 560px;
}

.sit-page-node-banner img {
	height: 181px;
}

.sit-page-node-banner .banner-text {
  left: 10px;
  top: 20px;
  width: 150px;
}

.sit-page-node-banner .banner-text h2 {
	font-size: 21px;
}

.sit-page-node-banner .banner-text h3 {
	font-size: 16px;
}

.sit-page-node-banner .banner-text p {
	font-size: 14px;
}

.sit-page-node-banner .carousel-pager:not(.site-prv .sit-page-node-banner .carousel-pager) {
	left: -10px;
	top: 155px;
}

.site-ses .sit-page-node-banner .carousel-pager {
	left: -10px;
	top: 190px;
}

/**
* Carousel Defaults
*/
.sit-carousel-default .sit-carousel-column {
	height: 300px;
	width: 180px;
}

.sit-carousel-default .sit-carousel-column .field-carousel-title-link {
	font-size: 10px;
	padding: 3px;
}

.sit-carousel-default .sit-carousel-column .carousel-events-display {
	height: 255px;
}

.chrome .sit-carousel-default .sit-carousel-column .view,
.safari .sit-carousel-default .sit-carousel-column .view {
	height: 250px;
}

.sit-carousel-default h3.node-title,
.sit-carousel-default .event-term {
	font-size: 13px;
}

.sit-carousel-default p {
	font-size: 11px;
}

.chrome .sit-carousel-default .read-more,
.safari .sit-carousel-default .read-more {
	margin-top: 8px;
}

.sit-carousel-default .node-body {
	margin: 3px 0 2px;
}
.site-sit.front.chrome #carousel_default .caroufredsel_wrapper,  
.site-sit.front.safari #carousel_default .caroufredsel_wrapper,  
.site-hub.front.chrome .front-landing .caroufredsel_wrapper, 
.site-hub.front.safari .front-landing .caroufredsel_wrapper {
  width: 600px !important; 
}

.front .sit-banner-default .caroufredsel_wrapper:not(.site-prv .sit-banner-default .caroufredsel_wrapper)
{
	min-height: 237px;
}


/**
* Content Hub Carousels
*/
.site-hub .front-landing .front-carousel-pane .pane-title {
	margin-left: 60px;
}

.site-hub .front-landing .front-news-carousel-pane .sit-carousel-column {
	height: 175px;
}

.logged-in.site-hub .front-landing .front-news-carousel-pane .sit-carousel-column {
	height: 195px;
}

.site-hub .front-landing .front-media-carousel-pane .sit-carousel-column {
	height: 135px;
}

.logged-in.site-hub .front-landing .front-media-carousel-pane .sit-carousel-column {
	height: 155px;
}

.site-hub .front-landing .front-events-carousel-pane .sit-carousel-column {
	height: 90px;
}

.logged-in.site-hub .front-landing .front-events-carousel-pane .sit-carousel-column {
	height: 110px;
}

.site-hub .front-landing .front-in-the-news-carousel-pane .sit-carousel-column {
	height: 175px;
}

.logged-in.site-hub .front-landing .front-in-the-news-carousel-pane .sit-carousel-column {
	height: 190px;
}

.front-landing .hub-event-date {
	font-size: 21px;
}

.front-landing .hub-event-time {
	font-size: 12px;
}

/**
* Views Grid Default Displays
*/
.grid-default-display .views-row {
	margin-bottom: 10px;
}

/**
* Views Grid Teaser Attachment
*/
.grid-default-display.media-page-display .attachment-before .views-row {
	height: auto;
}

.grid-default-display .node-teaser.node-media {
	width: 100% !important;
}

.grid-default-display .node-teaser.node-media .group-right,
.grid-default-display .node-teaser.node-media .group-left {
	float: none;
	width: 100%;
}

.grid-default-display .node-teaser.node-media .group-left {
	height: 290px;
	margin-right: 0;
	overflow: hidden;
} 

/**
* Views List Default Displays
*/
.list-default-display .node-teaser.node-media .group-right,
.list-default-display .node-teaser.node-media .group-left {
	float: none;
	margin: 0;
	width: auto;
} 

.list-default-display img {
	margin-right: 5px;
	max-width: 60px;
}

.list-default-display .views-row {
	margin: 5px 0;
}

/**
* Full Node Defaults
*/
.node-sub-title {
	font-size: 18px;
}

/**
* Media Full Node
*/
.node-media.view-mode-full .media-colorbox img {
  max-width: 160px;
}

/**
* Custom Pages
*/
.panel-sit-custom .node-media img {
	width: 70px;
}


/**
* FIRST SIDEBAR REGION
*/
.region-sidebar-first {
	padding: 10px 0;
}

.region-sidebar-first .block-title {
	font-size: 14px;
}

.region-sidebar-first h3 {
	font-size: 13px;
}

.region-sidebar-first h4 {
	font-size: 11px;
}

.region-sidebar-first li,
.region-sidebar-first p {
	font-size: 11px;
	line-height: 1.45;
}

.region-sidebar-first li {
	margin-left: 5px;
}

.region-sidebar-first .more-link {
	font-size: 11px;
}

/**
* View Displays in sidebar
*/
.list-sidebar-display p {
	font-size: 11px;
}

.media-block-display .views-row {
	float: none;
	margin-bottom: 8px;
	width: auto;
}

.media-block-display .views-row-odd {
	margin-right: 0;
}

/**
* Event Full Node
*/
.node-event .event-date-time {
	font-size: 14px;
}


/**
* POSTSCRIPT ZONE/REGION
*/
.zone-postscript h2 {
	font-size: 12px;
}

.zone-postscript .postscript-tech {
	display: block;
}

.zone-postscript h3 {
	font-size: 11px;
}

.zone-postscript p {
	font-size: 10px;
}


/**
* FOOTER ZONE/REGION
*/
.zone-footer * {
	font-size: 10px;
}

