/* This file will hold styles that are loaded using the same media query as the wide grid. */
.sit-landing-banner #banner_carousel-pagination {
  top: 350px;
}
.page {
	width: 1200px;
}

/**
* USER ZONE
*/

/**
* Site Search
*/
.zone-user .block-search .form-text {
	width: 225px;
}

.not-ie7 .zone-user .block-search .form-submit {
	left: 200px;
}

/**
* Branding Zone
*/
.zone-branding,
.region-branding {
	height: 180px;
}

.zone-branding {
	background-position: right -240px;
}

.site-lib .region-content{
	width:75% !important;
}

.site-lib .zone-branding {
        background-position: right -2760px;
}

.site-cal .zone-branding {
	background-position: right -660px;
}

.site-sse .zone-branding {
	background-position: right -1080px;
}

.site-how .zone-branding {
	background-position: right -1500px;
}

.site-ses .zone-branding {
	background-position: right -1920px;
}

.site-sdc .zone-branding {
        background-position: right -2760px;
}

.site-dof .zone-branding {
  background-position: right -2760px;
}

.region-branding {
	background-position: right -240px;
}

.logo-img {
	padding-right: 50px;
	top: 15px;
	width: 350px;
}

.region-branding .block {
	height: 105px;
	left: 435px;
	padding: 47px 0 0 50px;
	top: 13px;
}

.region-branding .site-name-large {
	height: 135px;
	padding-top: 20px;
}

.region-branding .block h2 {
	font-size: 31px;
}

.site-hub .region-branding .block h2 {
	font-size: 31px;
}

.region-branding .block h2 span {
	font-size: 18px;
}


/**
* MENU ZONE/REGIONS
*/
.not-sit-school .zone-menu .block,
.sit-school .block-system-main-menu,
.sit-school .block-menu-menu-secondary.menu-opened {
	padding: 0 20px 14px;
}

.not-sit-school .menu-closed,
.sit-school .block-system-main-menu.menu-closed {
	height: 17px;
}

.zone-menu .open-close {
	background-position: 0 -3px;
	padding-top: 31px;
}

.chrome .zone-menu .open-close {
	padding-top: 30px;
}

.zone-menu .menu-opened .open-close {
	background-position: 0 -46px;
}

.sit-school .block-menu-menu-secondary .open-close {
	font-size: 14px;
	height: 17px;
	padding: 8px 30px 6px;
	width: 130px;
}

.zone-menu .block li {
	font-size: 14px;
	width: 140px;
}

/**
* SIT Main Menu Items
*/
.site-sit .zone-menu .block .academics {
	width: 190px;
}

.site-sit .zone-menu .block .admissions {
	width: 120px;
}

.site-sit .zone-menu .block .research {
	width: 120px;
}

.site-sit .zone-menu .block .athletics {
	width: 120px;
}

.site-sit .zone-menu .block .university-life {
	width: 170px;
}

.site-sit .zone-menu .block .news {
	width: 105px;
}

.site-sit .zone-menu .block .about {
	width: 140px;
}

/**
* CAL Main Menu Items
*/
.site-cal .zone-menu .block .about-cal {
	width: 120px;
}

.site-cal .zone-menu .block .undergraduate {
	width: 150px;
}

.site-cal .zone-menu .block .graduate {
	width: 120px;
}

.site-cal .zone-menu .block .centers-resources {
	width: 210px;
}

.site-cal .zone-menu .block .people {
	width: 110px;
}

.site-cal .zone-menu .block .research {
	width: 120px;
}

/**
* SSE Main Menu Items
*/
.site-sse .zone-menu .block .about-sse {
	width: 170px;
}

.site-sse .zone-menu .block .academics {
	width: 150px;
}

.site-sse .zone-menu .block .admissions {
	width: 110px;
}

.site-sse .zone-menu .block .research {
	width: 130px;
}

.site-sse .zone-menu .block .people {
	width: 120px;
}

.site-sse .zone-menu .block .partnerships {
	width: 110px;
}

/**
* SES Main Menu Items
*/
.site-ses .zone-menu .block .about {
	width: 110px;
}

.site-ses .zone-menu .block .undergraduate {
	width: 140px;
}

.site-ses .zone-menu .block .graduate {
	width: 110px;
}

.site-ses .zone-menu .block .research {
	width: 110px;
}

.site-ses .zone-menu .block .resources {
	width: 110px;
}

/**
* HOWE Main Menu Items
*/
.site-how .zone-menu .block .about-us {
	width: 110px;
}

.site-how .zone-menu .block .academics {
	width: 130px;
}

.site-how .zone-menu .block .students {
	width: 90px;
}

.site-how .zone-menu .block .research {
	width: 130px;
}

.site-how .zone-menu .block .admissions {
	width: 120px;
}

.site-how .zone-menu .block .partnerships {
	width: 110px;
}

/**
* NEWS HUB Main Menu Items
*/
.site-hub .zone-menu .block-system-main-menu .stevens-news {
	width: 155px;
}

.site-hub .zone-menu .block-system-main-menu .multimedia {
	width: 100px;
}

.site-hub .zone-menu .block-system-main-menu .events {
	width: 80px;
}

.site-hub .zone-menu .block-system-main-menu .stevens-public-relations {
	width: 190px;
}

.site-hub .zone-menu .block-system-main-menu .stevens-experts {
	width: 140px;
}

.site-hub .zone-menu .block-system-main-menu .contact-news {
	width: 130px;
}

/**
* Office of Development Main Menu items
*/
.site-dof .zone-menu .block-system-main-menu .annual-giving {
	width: 145px;
}

.site-dof .zone-menu .block-system-main-menu .planned-giving {
	width: 115px;
}

.site-dof .zone-menu .block-system-main-menu .reunions {
	width: 65px;
}

.site-dof .zone-menu .block-system-main-menu .scholarship {
	width: 95px;
}

.site-dof .zone-menu .block-system-main-menu .corporations-foundations {
	width: 225px;
}

.site-dof .zone-menu .block-system-main-menu .guide-to-giving {
	width: 130px;
}

.site-dof .zone-menu .block-system-main-menu .about-us {
	width: 125px;
}

/**
* Provost Main Menu items
*/
.site-prv .zone-menu .block-system-main-menu .academics {
	width: 195px;
}

.site-prv .zone-menu .block-system-main-menu .research {
	width: 130px;
}

.site-prv .zone-menu .block-system-main-menu .entrepreneurship {
	width: 125px;
}

.site-prv .zone-menu .block-system-main-menu .institutional-research {
	width: 170px;
}

.site-prv .zone-menu .block-system-main-menu .administration {
	width: 110px;
}

.site-prv .zone-menu .block-system-main-menu .policies-guidelines {
	width: 155px;
}

.site-prv .zone-menu .block-system-main-menu .directory {
	width: 80px;
}

/**
* Academic Entrepreneurship Main Menu items
*/
.site-ent .zone-menu .block-system-main-menu .about-oae {
	width: 140px;
}

.site-ent .zone-menu .block-system-main-menu .programs-scholarships {
	width: 185px;
}

.site-ent .zone-menu .block-system-main-menu .people {
	width: 100px;
}

.site-ent .zone-menu .block-system-main-menu .inventions-ip-guide {
	width: 180px;
}

.site-ent .zone-menu .block-system-main-menu .patents {
	width: 60px;
}

.site-ent .zone-menu .block-system-main-menu .inventors-handbook {
	width: 170px;
}

.site-ent .zone-menu .block-system-main-menu .related-links {
	width: 100px;
}

/**
* Secondary Menu Item width on SIT
*/
.site-sit .zone-menu .block-menu-menu-secondary .prospective-students,
.site-sit .zone-menu .block-menu-menu-secondary .international-students {
	width: 160px;
}

.site-sit .zone-menu .block-menu-menu-secondary .current-students {
	width: 140px;
}

.site-sit .zone-menu .block-menu-menu-secondary .faculty-staff {
	width: 140px;
}

.site-sit .zone-menu .block-menu-menu-secondary .alumni {
	width: 110px;
}

.site-sit .zone-menu .block-menu-menu-secondary .working-at-stevens {
	width: 140px;
}

.site-sit .zone-menu .block-menu-menu-secondary .apply {
	width: 110px;
}

/**
* Secondary Menu Item width on school sites
*/
.not-sit .zone-menu .block-menu-menu-secondary .engage {
	width: 110px;
}

.not-sit .zone-menu .block-menu-menu-secondary .academics {
	width: 210px;
}

.not-sit .zone-menu .block-menu-menu-secondary .admissions {
	width: 90px;
}

.not-sit .zone-menu .block-menu-menu-secondary .research {
	width: 110px;
}

.not-sit .zone-menu .block-menu-menu-secondary .athletics {
	width: 100px;
}

.not-sit .zone-menu .block-menu-menu-secondary .university-life {
	width: 130px;
}

.not-sit .zone-menu .block-menu-menu-secondary .news {
	width: 100px;
}

.not-sit .zone-menu .block-menu-menu-secondary .about {
	width: 110px;
}

/**
* Main Link styles and sub-menu styling
*/
.zone-menu .block li ul {
	padding: 0;
	margin-top: 10px;
}

.zone-menu .block li + li {
	padding-left: 10px;
	padding-right: 10px;
}

.zone-menu .block li li {
	font-size: 12px;
	margin-bottom: 10px;
	padding: 0;
}


/**
* CONTENT REGION
*/
.region-sidebar-first-active .zone-content {
	background-image: url(images/wide/zone-content.jpg); 
}

.not-front.region-sidebar-first-inactive .zone-content .region-content {
	width: 1180px !important;
}

.page-title {
	font-size: 24px;
}

.node-type-page .page-title {
	font-size: 28px;
}

/**
* Basic Text styles
*/
.region-content h2 {
	font-size: 24px;
}

.region-content h3 {
	font-size: 21px;
}

.region-content h4 {
	font-size: 18px;
}

.region-content .field-name-field-intro-text * {
	font-size: 18px;
}

.region-content p,
.region-content li,
.region-content dt,
.region-content dd {
	font-size: 14px;
}

/**
* Webform on page node
*/
.node-page .node-webform label {
	font-size: 12px;
}

.node-page .node-webform .compact-form-label {
	top: 6px;
}

.node-page .node-webform select,
.node-page .node-webform option {
	font-size: 12px;
}

/**
* Node Quick Links
*/
.node .quick-links li {
	font-size: 14px;
}

.node .quick-links li a {
	padding: 8px 30px 5px;
}

/**
* School Landing Panel
*/
.panel-landing-school .pane-title {
	font-size: 16px;
}

.panel-landing-school .front-emphasis-pane .pane-title {
	font-size: 24px;
}

/**
* Office of Development Featured Initiatives
*/
.site-dof .initiative-promo-default-display h3 {
 font-size: 16px; 
}

.site-dof .initiative-promo-front-pane .views-row {
 width: 270px;
}

.site-dof .initiative-promo-block .views-row {
 width: 277px;
}


/**
* Banner Carousel Defaults
*/
.sit-banner-default .banner-text .action-link {
	font-size: 12px;
	padding: 3px 13px 2px;
}

.sit-banner-default .sit-carousel-column .file-video {
  left: 500px;
  top: 25px;
  width: 610px;
}

.sit-banner-default .carousel-pager a {
	padding: 16px 16px 0 0;
}

/**
* Front Banner Carousel
*/
.sit-landing-banner .sit-carousel-column {
	width: 1200px;
}

.not-ie7 .sit-landing-banner img {
	height: 392px;
}

.sit-landing-banner .banner-text {
  left: 20px;
  top: 70px;
  width: 500px;
}

.sit-landing-banner .banner-text h2 {
	font-size: 36px;
}

.sit-landing-banner .banner-text h3 {
	font-size: 24px;
}

.sit-landing-banner .banner-text p {
	font-size: 18px;
}

.sit-landing-banner .carousel-pager {
	left: 20px;
	top: 350px;
}

/**
* Page Node Banner
*/
.sit-page-node-banner {
	margin-left: -20px;
}

.sit-page-node-banner .sit-carousel-column {
	width: 920px;
}

.not-ie7 .sit-page-node-banner img {
	*height: 297px;
}

.sesdept-banner img {
	height: 360px !important;
}

.sit-page-node-banner .banner-text {
  left: 10px;
  top: 25px;
  width: 255px;
}

.sit-page-node-banner .banner-text h2 {
	font-size: 30px;
}

.sit-page-node-banner .banner-text h3 {
	font-size: 23px;
}

.sit-page-node-banner .banner-text p {
	font-size: 18px;
}

.sit-page-node-banner .carousel-pager:not(.site-prv .sit-page-node-banner .carousel-pager) {
	left: -10px;
	top: 260px;
}

.site-ses .sit-page-node-banner .carousel-pager {
	left: -10px;
	top: 316px;
}

/**
* Carousel Defaults
*/
.sit-carousel-default .sit-carousel-column {
	height: 325px;
	width: 180px;
}

.sit-carousel-default .field-carousel-title-link {
	font-size: 11px;
	padding: 6px;
}

.sit-carousel-default .sit-carousel-column .carousel-events-display {
	height: 277px;
}

.sit-carousel-default .sit-carousel-column .view .views-row + .views-row {
	margin-top: 10px;
}

.carousel-media-list-display .views-row + .views-row {
	margin-top: 32px;
}

.sit-carousel-default h3.node-title,
.sit-carousel-default .event-term {
	font-size: 14px;
}

.sit-carousel-default p {
	font-size: 12px;
}
.site-sit.front.chrome #carousel_default .caroufredsel_wrapper,  
.site-sit.front.safari #carousel_default .caroufredsel_wrapper,  
.site-hub.front.chrome .front-landing .caroufredsel_wrapper, 
.site-hub.front.safari .front-landing .caroufredsel_wrapper {
  width: 1000px !important; 
}

.front .sit-banner-default .caroufredsel_wrapper:not(.site-prv .sit-banner-default .caroufredsel_wrapper)
{
	min-height: 392px;
}

/**
* School Landing Carousels
*/
.sit-carousel-school-default .previous a {
	left: 2%;
}

.sit-carousel-school-default .next a {
	right: 2%;
}

/**
* Content Hub Carousels
*/
.site-hub .front-landing .front-carousel-pane .pane-title {
	margin-left: 100px;
}

.site-hub .front-landing .front-news-carousel-pane .sit-carousel-column {
	height: 185px;
}

.logged-in.site-hub .front-landing .front-news-carousel-pane .sit-carousel-column {
	height: 205px;
}

.site-hub .front-landing .front-media-carousel-pane .sit-carousel-column {
	height: 145px;
}

.logged-in.site-hub .front-landing .front-media-carousel-pane .sit-carousel-column {
	height: 165px;
}

.site-hub .front-landing .front-events-carousel-pane .sit-carousel-column {
	height: 110px;
}

.logged-in.site-hub .front-landing .front-events-carousel-pane .sit-carousel-column {
	height: 130px;
}

.site-hub .front-landing .front-in-the-news-carousel-pane .sit-carousel-column {
	height: 180px;
}

.logged-in.site-hub .front-landing .front-in-the-news-carousel-pane .sit-carousel-column {
	height: 195px;
}

.front-landing .hub-event-date {
	font-size: 30px;
}

.front-landing .hub-event-time {
	font-size: 14px;
}

/**
* Views List Default Displays
*/
.list-default-display img {
  max-width: none;
}

.media-block-display .views-row {
	float: left;
	margin-bottom: 8px;
	width: 115px;
}

.media-block-display .views-row-odd {
	margin-right: 10px;
}

/**
* Full Node Defaults
*/
.node .node-sub-title,
.node .expert-job-title {
	font-size: 24px;
}

/**
* Media Full Node
*/
.node-media.view-mode-full .media-colorbox img {
  max-width: 210px;
}

/**
* Event Full Node
*/
.node-event .event-date-time {
	font-size: 18px;
}

/**
* Custom Pages
*/
.panel-sit-custom .node-media img {
	width: 130px;
}


/**
* FIRST SIDEBAR REGION
*/
.region-sidebar-first .block-title {
	font-size: 18px;
}

.region-sidebar-first h3 {
	font-size: 16px;
}

.region-sidebar-first h4 {
	font-size: 14px;
}

.region-sidebar-first li,
.region-sidebar-first p {
	font-size: 13px;
	line-height: 1.45;
}

.region-sidebar-first .more-link {
	font-size: 13px;
}

/**
* View Displays in sidebar
*/
.list-sidebar-display p {
	font-size: 13px;
}


/**
* POSTSCRIPT ZONE/REGION
*/
.zone-postscript h2 {
	font-size: 14px;
}

.zone-postscript h3 {
	font-size: 13px;
}

.zone-postscript p {
	font-size: 12px;
}


/**
* FOOTER ZONE/REGION
*/
.zone-footer * {
	font-size: 12px;
}
