<!-- Related News -->
<div class="typography">
	<h5 class="sg_subheading">Related News</h5>
</div>
@@include('../components/news-related.html', {
	"heading": "Related News",
	"viewall": "View All Research News"
})

<!-- In the News -->
<div class="typography">
	<h5 class="sg_subheading">In the News</h5>
</div>
@@include('../components/news-in.html', {
	"heading": "Stevens in the News",
	"viewall": "All Stevens in the News"
})

<!-- Related Programs -->
<div class="typography">
	<h5 class="sg_subheading">Related Programs</h5>
</div>
@@include('../components/link-list-sidebar.html', {
	"heading": "Related Programs"
})

<!-- Videos -->
<div class="typography">
	<h5 class="sg_subheading">Videos</h5>
</div>
@@include('../components/video-list-sidebar.html', {
	"heading": "Featured Videos",
	"viewall": "All Videos"
})

<!-- Social Accounts -->
<div class="typography">
	<h5 class="sg_subheading">Social Accounts</h5>
</div>
@@include('../components/social-accounts-sidebar.html', {
	"heading": "Connect with Stevens"
})

<!-- Request Information Form -->
<div class="typography">
	<h5 class="sg_subheading">Request Information Form</h5>
</div>
@@include('../components/basic-form-sidebar.html')
