@import "legacy.css";

/* This file will hold the main styles for your website. */
html,
body {
	background: #787878;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

.page {
	margin: 0 auto;
	width: 720px;
}

.hidden {
	display: none;
}

img.centered {
	display: block;
	margin: 0 auto;
}

.noborder {
	border: 0 none !important;
}

p:first-child,
ul:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
dl:first-child,
blockquote:first-child {
  margin-top: 0;
}

.page img {
	height: auto;
	max-width: 100%;
}

.ie7 img,
.ie8 img {
  -ms-interpolation-mode: bicubic;
}

.media-outer-wrapper {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; /* 16/9 ratio */
	position: relative;
}

.media-outer-wrapper iframe,
.media-outer-wrapper object,
.media-outer-wrapper embed {
	background: #000;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/**
* Primary Tabs
*/
.region-content .tabs .tabs {
	margin: 0 0 10px;
	padding: 0;
}

.region-content .tabs .tabs li {
	display: inline;
	margin: 0 10px 0 0 
}

.region-content .tabs .tabs li a {
	display: inline-block;
}

.region-content .tabs .tabs li a {
	border-top: 1px solid #a32639;
	background: #541520;
	background: -webkit-gradient(linear, left top, left bottom, from(#a32639), to(#541520));
	background: -webkit-linear-gradient(top, #a32639, #541520);
	background: -moz-linear-gradient(top, #a32639, #541520);
	background: -ms-linear-gradient(top, #a32639, #541520);
	background: -o-linear-gradient(top, #a32639, #541520);
	padding: 4.5px 9px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.region-content .tabs .tabs li a:hover {
	background: #a32639;
	border-top-color: #a32639;
	color: #ffffff;
}

.region-content .tabs .tabs li a:active {
	background: #a32639;
	border-top-color: #a32639;
}


/**
* CONTENT SECTION & REGION
*/
.page .section-content {
	background: #a1a1a1;
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.25); 
	-webkit-box-shadow: 0 0  20px rgba(0,0,0,.25); 
	box-shadow: 0 0 20px rgba(0,0,0,.25); 
	overflow: hidden;
}

.zone-content a {
  color: #880026;
  text-decoration: none;
}

.site-sit.section-graduate a {
  color: #070B36;
}

.zone-content a:hover {
  text-decoration: underline;
}

.site-sit.section-graduate a:hover {
  color: #0174B9;
}


/**
* USER ZONE
*/

/**
* User First Region
*/
.user-menu-block  {
	clear: none;
	width: inherit;
}

.zone-user .block ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.zone-user .block li {
	color: #fff;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.region-user-first {
	min-height: 23px;
	padding: 10px 0 10px;
}

.block-system-user-menu li {
	display: inline;
	font-size: 11px;
	position: relative;
	top: 2px;
}

.ie7 .block-system-user-menu li {
	top: 10px;
}

.block-system-user-menu li + li {
	border-left: 1px solid #fff;
	margin-left: 3px;
	padding-left: 7px;
}

.block-system-user-menu li a:hover {
	text-decoration: underline;
}

/**
* Site Search
*/
.zone-user .block-search {
	position: relative;
}

.zone-user .block-search .form-item {
	margin: 0;
}

.zone-user .block-search .form-text {
	border-radius: 10px; 
	font-size: 11px;
	-moz-border-radius: 10px; 
	padding: 3px 25px 2px 10px;
	-webkit-border-radius: 10px; 
	width: 175px;
}

.ie7 .zone-user .block-search .form-text {
	width: 90px;
}

.not-ie7 .zone-user .block-search .form-submit {
	background: url(images/block-search_form-submit.png);
	border: 0 none;
	border-radius: 0; 
	display: block; 
	height: 0px !important;
	left: 150px;
	-moz-border-radius: 0; 
	overflow: hidden !important;
	padding: 13px 0 0;
	position: absolute;
	top: 4px;
	-webkit-border-radius: 0; 
	width: 14px;
}

.ie7 .zone-user .block-search .form-submit {
	font-size: 10px;
	padding: 2px 3px 3px;
	position: relative;
	top: 1px;
}

.not-ie7 .zone-user .block-search .form-submit:focus {
	outline: 0 none;
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
}

/**
* User Second Region
*/
.zone-user .block-superfish {
	float: right;
	left: 20px;
	position: relative;
	top: 7px;
	width: 210px;
}

.ie7 .zone-user .block-superfish {
	float: none;
	left: -90px;
}

.zone-user .block-superfish ul {
	text-align: right;
}

.zone-user .block-superfish li {
	display: inline-block;
	float: none;
	margin-left: 10px;
	padding: 3px;
	position: static;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
} 

.ie7 .zone-user .block-superfish li {
	zoom: 1; 
	display: inline; 
}

.zone-user .block-superfish li.sfHover {
	background: #fff;
}

.zone-user .block-superfish li a {
	background: url(images/zone-user_block-superfish_li-02-2014.png);
	display: inline-block; 
	height: 0px !important;
	overflow: hidden !important;
	padding: 26px 0 0;
	width: 26px;
}

.ie7 .zone-user .block-superfish li a {
	zoom: 1; 
	display: inline; 
}

.zone-user .block-superfish .menu-facebook a { /* Facebook */
	background-position: -26px 0;
}

.zone-user .block-superfish .menu-twitter a { /* Twitter */
	background-position: -52px 0;
}

.zone-user .block-superfish .menu-youtube a { /* YouTube */
	background-position: -79px 0;
}

.zone-user .block-superfish .menu-rss a { /* RSS */
	background-position: -105px 0;
}

.zone-user .block-superfish .menu-linkedin a { /* LinkedIn */
	background-position: -131px 0;
}

.zone-user .block-superfish .menu-stevens.sfHover a,
.zone-user .block-superfish .menu-stevens a:hover { /* Stevens */
	background-position: 0 -26px;
}

.zone-user .block-superfish .menu-facebook.sfHover a,
.zone-user .block-superfish .menu-facebook a:hover { /* Facebook */
	background-position: -26px -26px;
}

.zone-user .block-superfish .menu-twitter.sfHover a,
.zone-user .block-superfish .menu-twitter a:hover { /* Twitter */
	background-position: -52px -26px;
}

.zone-user .block-superfish .menu-youtube.sfHover a,
.zone-user .block-superfish .menu-youtube a:hover { /* YouTube */
	background-position: -79px -26px;
}

.zone-user .block-superfish .menu-rss.sfHover a,
.zone-user .block-superfish .menu-rss a:hover { /* RSS */
	background-position: -105px -26px;
}

.zone-user .block-superfish .menu-linkedin.sfHover a,
.zone-user .block-superfish .menu-linkedin a:hover { /* LinkedIn */
	background-position: -131px -26px;
}

.zone-user .block-superfish li ul {
	background: #fff;
	background: #ffffff; 
	background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); 
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%); 
	background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%); 
	background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%); 
	background: linear-gradient(top,  #ffffff 0%,#cccccc 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); 
	border-radius: 4px; 
	left: 10px !important;
	-moz-border-radius: 4px; 
	padding: 10px 3px;
	text-align: left;
	top: 33px !important;
	-webkit-border-radius: 4px; 
	width: 194px !important;
}

.ie7 .zone-user .block-superfish li ul {
	top: 32px !important;
}

.zone-user .block-superfish .first ul {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
}

.zone-user .block-superfish .last ul {
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}

.zone-user .block-superfish li li {
	display: block;
	font-size: 12px;
	margin: 0;
}

.zone-user .block-superfish li li a {
	background: transparent;
	color: #787878;
	display: inline;
	height: auto !important;
	padding: 0;
	width: auto;
}

.zone-user .block-superfish li li a:hover {
	text-decoration: underline;
}


/**
* BRANDING ZONE 
*/
.zone-branding,
.region-branding {
	height: 140px;
}

.zone-branding {
	background: #fff url(images/zone-branding.jpg) no-repeat right -100px;
}

.site-cal .zone-branding {
	background-position: right -520px;
}

.site-sse .zone-branding {
	background-position: right -940px;
}

.site-how .zone-branding {
	background-position: right -1360px;
}

.site-ses .zone-branding {
	background-position: right -1780px;
}

.site-dof .zone-branding {
  background-position: right -2620px;
}

.region-branding {
	background: url(images/region-branding.png) no-repeat right -100px;
	-webkit-border-top-left-radius: 12px;
}

.logo-img {
	left: 3%;
	padding-right: 35px;
	position: relative;
	top: 13px;
	width: 260px;
}

.region-branding .block {
	border-left: 1px solid #b2b2b2;
	height: 87px;
	left: 325px;
	padding: 29px 0 0 35px;
	position: absolute;
	top: 13px;
}

.region-branding .site-name-one-line {
	height: 76px;
	padding-top: 40px;
}

.region-branding .site-name-large {
	height: 105px;
	padding-top: 12px;
}

.region-branding .block * {
  font-family: 'TradeGothicLTStdBoldExtended';
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

.region-branding .block h2 {
	color: #444;
	font-size: 26px;
}

.region-branding .site-name-one-line h2 {
	font-size: 34px;
}

.region-branding .block h2 span {
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: .03em;
	text-transform: uppercase;
}

.region-branding .block h2 a {
	color: #444;
	text-decoration: none;
}

.region-branding .block h2 a:hover {
	color: #880026;
	text-decoration: none;
}


/**
* MENU ZONE
*/
.zone-menu {
	position: relative;
}

.zone-menu .block {
	margin-right: -20px;
}

.ie7 .zone-menu .block {
	width: 920px;
}

.not-sit-school .zone-menu .block,
.sit-school .block-system-main-menu,
.sit-school .block-menu-menu-secondary.menu-opened {
	padding: 0 20px 10px;
}

.not-sit-school .zone-menu .block {
	position: relative;
}

.not-sit-school .block-system-main-menu.menu-closed,
.sit-school .block-system-main-menu.menu-closed {
	height: 17px;
	overflow: hidden;
}

.sit-school .block-menu-menu-secondary.menu-closed {
	padding: 0 20px;
}
.not-sit-school .block-menu-menu-secondary.menu-closed > ul > li > ul,
.sit-school .block-menu-menu-secondary.menu-closed > ul {
  display: none;
}

.not-sit-school .menu-opened,
.sit-school .block-system-main-menu.menu-opened,
.sit-school .block-menu-menu-secondary.menu-opened {
	height: auto;
}

.not-sit-school .zone-menu .open-close,
.sit-school .block-system-main-menu .open-close {
	left: 0;
	position: absolute;
	top: 0;
	width: 17px;
}

.zone-menu .open-close {
	background-position: 0 -6px;
	height: 0;
	overflow: hidden;
	padding-top: 27px;
	position: absolute;
}

.zone-menu .menu-opened .open-close {
	background-position: 0 -49px;
}

.sit-school .block-menu-menu-secondary .open-close {
	background-image: none;
	background: #3f3e3e;
	background: -moz-linear-gradient(top,  #3f3e3e 0%, #535252 21%, #403f3f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3e3e), color-stop(21%,#535252), color-stop(100%,#403f3f));
	background: -webkit-linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%);
	background: -o-linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%);
	background: -ms-linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%);
	background: linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%);
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535252', endColorstr='#3f3e3e',GradientType=0 );
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 17px;
	padding: 7px 20px 3px;
	right: -20px;
	top: 0;
	z-index: 100;
	width: 110px;
}

.ie7.sit-school .block-menu-menu-secondary .open-close {
	width: 120px;
}

.zone-menu .block ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.zone-menu .block li {
	color: #fff;
	display: inline-block;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 7px 5px 0;
	vertical-align: top;
}

.ie7 .zone-menu .block li {
	zoom: 1; 
	display: inline; 
	padding: 7px 5px 2px;
}

.zone-menu .block li + li {
	border-left: 1px solid rgba(0,0,0,0);
}

.zone-menu .menu-opened li + li,
.ie7 .zone-menu .block li + li {
	border-left: 1px solid #484A63;
}

/**
* SIT Main Menu Items
*/
.site-sit .zone-menu .block .academics {
	width: 160px;
}

.site-sit .zone-menu .block .admissions {
	width: 100px;
}

.site-sit .zone-menu .block .research {
	width: 100px;
}

.site-sit .zone-menu .block .athletics {
	width: 105px;
}

.site-sit .zone-menu .block .university-life {
	width: 140px;
}

.site-sit .zone-menu .block .news {
	width: 85px;
}

.site-sit .zone-menu .block .about {
	width: 120px;
}

/**
* CAL Main Menu Items
*/
.site-cal .zone-menu .block .about-cal {
	width: 100px;
}

.site-cal .zone-menu .block .undergraduate {
	width: 120px;
}

.site-cal .zone-menu .block .graduate {
	width: 90px;
}

.site-cal .zone-menu .block .centers-resources {
	width: 180px;
}

.site-cal .zone-menu .block .people {
	width: 80px;
}

.site-cal .zone-menu .block .research {
	width: 100px;
}

/**
* SSE Main Menu Items
*/
.site-sse .zone-menu .block .about-sse {
	width: 140px;
}

.site-sse .zone-menu .block .academics {
	width: 130px;
}

.site-sse .zone-menu .block .admissions {
	width: 80px;
}

.site-sse .zone-menu .block .research {
	width: 100px;
}

.site-sse .zone-menu .block .people {
	width: 100px;
}

.site-sse .zone-menu .block .partnerships {
	width: 90px;
}

/**
* SES Main Menu Items
*/
.site-ses .zone-menu .block .about {
	width: 90px;
}

.site-ses .zone-menu .block .undergraduate {
	width: 110px;
}

.site-ses .zone-menu .block .graduate {
	width: 90px;
}

.site-ses .zone-menu .block .research {
	width: 90px;
}

.site-ses .zone-menu .block .resources {
	width: 90px;
}

/**
* HOWE Main Menu Items
*/
.site-how .zone-menu .block .about-us {
	width: 90px;
}

.site-how .zone-menu .block .academics {
	width: 110px;
}

.site-how .zone-menu .block .students {
	width: 70px;
}

.site-how .zone-menu .block .research {
	width: 120px;
}

.site-how .zone-menu .block .admissions {
	width: 110px;
}

.site-how .zone-menu .block .partnerships {
	width: 110px;
}

/**
* NEWS HUB Main Menu Items
*/
.site-hub .zone-menu .block-system-main-menu .stevens-news {
	width: 145px;
}

.site-hub .zone-menu .block-system-main-menu .multimedia {
	width: 80px;
}

.site-hub .zone-menu .block-system-main-menu .events {
	width: 60px;
}

.site-hub .zone-menu .block-system-main-menu .stevens-public-relations {
	width: 165px;
}

.site-hub .zone-menu .block-system-main-menu .stevens-experts {
	width: 110px;
}

.site-hub .zone-menu .block-system-main-menu .contact-news {
	width: 110px;
}

/**
* Office of Development Main Menu items
*/
.site-dof .zone-menu .block-system-main-menu .annual-giving {
	width: 100px;
}

.site-dof .zone-menu .block-system-main-menu .planned-giving {
	width: 95px;
}

.site-dof .zone-menu .block-system-main-menu .reunions {
	width: 60px;
}

.site-dof .zone-menu .block-system-main-menu .scholarship {
	width: 75px;
}

.site-dof .zone-menu .block-system-main-menu .corporations-foundations {
	width: 185px;
}

.site-dof .zone-menu .block-system-main-menu .guide-to-giving {
	width: 100px;
}

.site-dof .zone-menu .block-system-main-menu .about-us {
	width: 85px;
}

/**
* Provost Main Menu items
*/
.site-prv .zone-menu .block-system-main-menu .academics {
	width: 165px;
}

.site-prv .zone-menu .block-system-main-menu .research {
	width: 100px;
}

.site-prv .zone-menu .block-system-main-menu .entrepreneurship {
	width: 110px;
}

.site-prv .zone-menu .block-system-main-menu .institutional-research {
	width: 150px;
}

.site-prv .zone-menu .block-system-main-menu .administration {
	width: 95px;
}

.site-prv .zone-menu .block-system-main-menu .policies-guidelines {
	width: 130px;
}

.site-prv .zone-menu .block-system-main-menu .directory {
	width: 65px;
}

/**
* Academic Entrepreneurship Main Menu items
*/
.site-ent .zone-menu .block-system-main-menu .about-oae {
	width: 120px;
}

.site-ent .zone-menu .block-system-main-menu .programs-scholarships {
	width: 160px;
}

.site-ent .zone-menu .block-system-main-menu .people {
	width: 90px;
}

.site-ent .zone-menu .block-system-main-menu .inventions-ip-guide {
	width: 140px;
}

.site-ent .zone-menu .block-system-main-menu .patents {
	width: 60px;
}

.site-ent .zone-menu .block-system-main-menu .inventors-handbook {
	width: 130px;
}

.site-ent .zone-menu .block-system-main-menu .related-links {
	width: 85px;
}

/**
* Secondary Menu Item width on SIT
*/
.site-sit .zone-menu .block-menu-menu-secondary .prospective-students,
.site-sit .zone-menu .block-menu-menu-secondary .international-students {
	width: 130px;
}

.site-sit .zone-menu .block-menu-menu-secondary .current-students {
	width: 120px;
}

.site-sit .zone-menu .block-menu-menu-secondary .faculty-staff {
	width: 120px;
}

.site-sit .zone-menu .block-menu-menu-secondary .alumni {
	width: 90px;
}

.site-sit .zone-menu .block-menu-menu-secondary .working-at-stevens {
	width: 120px;
}

.site-sit .zone-menu .block-menu-menu-secondary .apply {
	width: 90px;
}

/**
* Secondary Menu Item width on school sites
*/
.not-sit .zone-menu .block-menu-menu-secondary .engage {
	width: 90px;
}

.not-sit .zone-menu .block-menu-menu-secondary .academics {
	width: 150px;
}

.not-sit .zone-menu .block-menu-menu-secondary .admissions {
	width: 90px;
}

.not-sit .zone-menu .block-menu-menu-secondary .research {
	width: 75px;
}

.not-sit .zone-menu .block-menu-menu-secondary .athletics {
	width: 90px;
}

.not-sit .zone-menu .block-menu-menu-secondary .university-life {
	width: 110px;
}

.not-sit .zone-menu .block-menu-menu-secondary .news {
	width: 90px;
}

.not-sit .zone-menu .block-menu-menu-secondary .about {
	width: 90px;
}

/**
* Main Link styles and sub-menu styling
*/
.zone-menu .block li a,
.zone-user .block li a {
	color: #fff;
	text-decoration: none;
}

.zone-menu .block li ul {
	padding: 0;
	margin-top: 10px;
}

.zone-menu .block li li {
	border: 0 none;
	display: block;
	font-size: 11px;
	margin-bottom: 10px;
	padding: 0;
	width: auto;
}

.ie7 .zone-menu .block li li {
	margin-bottom: 3px;
}

.zone-menu .block li li + li {
	margin-left: 0;
}

.ie7 .zone-menu .block li li + li {
	border: 0 none;
}

.zone-menu .block li li a:hover {
	color: #fff;
	text-decoration: underline;
}

/**
* Main Menu
*/
.block-system-main-menu {
	background: #171934; 
	background: -moz-linear-gradient(top,  #171934 0%, #20244a 21%, #080c37 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171934), color-stop(21%,#20244a), color-stop(100%,#080c37)); 
	background: -webkit-linear-gradient(top,  #171934 0%,#20244a 21%,#080c37 100%); 
	background: -o-linear-gradient(top,  #171934 0%,#20244a 21%,#080c37 100%); 
	background: -ms-linear-gradient(top,  #171934 0%,#20244a 21%,#080c37 100%); 
	background: linear-gradient(top,  #171934 0%,#20244a 21%,#080c37 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20244a', endColorstr='#080c37',GradientType=0 ); 
}

.block-system-main-menu .open-close {
	background-image: url(images/block-system-main-menu_open-close.jpg);
	background-repeat: no-repeat;
}

.block.block-system-main-menu li {
	letter-spacing: .02em;
	text-transform: uppercase;
}

.block.block-system-main-menu li li {
	letter-spacing: 0;
	text-transform: none;
}

.block.block-system-main-menu li li,
.block.block-system-main-menu li li a {
	color: #AFB0BA;
}

/**
* Secondary Menu
*/
.block-menu-menu-secondary {
	background: #3f3e3e; 
	background: -moz-linear-gradient(top,  #3f3e3e 0%, #535252 21%, #403f3f 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3e3e), color-stop(21%,#535252), color-stop(100%,#403f3f)); 
	background: -webkit-linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%); 
	background: -o-linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%); 
	background: -ms-linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%); 
	background: linear-gradient(top,  #3f3e3e 0%,#535252 21%,#403f3f 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535252', endColorstr='#3f3e3e',GradientType=0 ); 
}

.block-menu-menu-secondary .open-close {
	background-image: url(images/block-menu-menu-secondary_open-close.jpg);
	background-repeat: no-repeat;
}

.block.block-menu-menu-secondary li + li {
	border-left-color: rgba(0,0,0,0);
}

.menu-opened.block-menu-menu-secondary li + li,
.ie7 .block.block-menu-menu-secondary li + li {
	border-left-color: #686767;
}

.block.block-menu-menu-secondary li li,
.block.block-menu-menu-secondary li li a {
	color: rgba(255,255,255,.7);
}


/**
* CONTENT REGION
*/
.zone-content {
	background: #fff ; 
}

.region-sidebar-first-active .zone-content {
	background-image: url(images/normal/zone-content.jpg);
	background-repeat: repeat-y; 
}

.not-front .region-content {
	padding-bottom: 20px;
}

.not-front.region-sidebar-first-inactive .zone-content .region-content {
	padding-top: 20px;
	width: 940px !important;
}

.front.site-sit .zone-content .region-content,
.front.full-width-home .zone-content .region-content,
.front.site-dof .zone-content .region-content {
	margin: 0 !important;
	width: 100% !important;
}

.page-title,
.region-content h2 {
  color: #a32638;
  font-family: 'TradeGothicLTStdBoldExtended';
}

.page-title {
	border-bottom: 1px solid #9A9A9A;
	font-size: 21px;
	margin: .5em 0 !important;
	padding-bottom: .15em;
}

.hide-page-title .page-title {
	display: none;
}

.node-type-page .page-title {
	font-size: 26px;
}

.site-sit.section-graduate .page-title,
.site-sit.section-graduate .region-content h2 {
  color: #070B36;
}

/**
* Basic Text styles
*/
.region-content h1,
.region-content h2,
.region-content h3 {
  font-weight: normal;
}

.region-content h3,
.region-content h4,
.region-content h5 {
  color: #444;
}

.region-content h2 {
	font-size: 21px;
}

.region-content h3 {
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.region-content h4,
.region-content h5,
.region-content h6 {
	margin-bottom: 0;
}

.region-content h4 {
	font-size: 16px;
}

.region-content ul,
.region-content ol {
  padding-left: 1.5em;
}

.region-content p,
.region-content li {
  line-height: 1.4;
}

.region-content tbody {
	border: 0 none;
}

.region-content p,
.region-content li,
.region-content dt,
.region-content dd,
.region-content td {
	font-size: 13px;
}

.region-content table {
	width: 100% !important;
}

.hide-page-title .view-mode-sit_two_column_default .ds-left,
.hide-page-title .view-mode-sit_two_column_default .ds-right,
.hide-page-title .node-page .ds-top-group {
	padding-top: 20px;
}

.ds-bottom-group {
	clear: both;
	padding-top: 20px;
}

.region-content .field-name-field-intro-text * {
	font-size: 17px;
}

.body-2-columns .field-name-body,
.body-3-columns .field-name-body {
	column-gap: 20px; 
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
}

.body-2-columns .field-name-body {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.body-3-columns .field-name-body {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

.ds-right > div,
.ds-top-right > div,
.ds-bottom-right > div {
	margin-right: -20px;
}

.node-page .ds-bottom-right > div {
  margin-right: 0;
}

.ie7 .field-name-field-highlight,
.ie7 .field-name-field-temp-highlight,
.ie7 .field-name-field-temp-node-sidebar {
	width: 210px;
}

.field-name-field-image {
	margin: 0 -20px 0 -20px;
}

.field-name-field-image img {
	height: auto;
	max-width: 100%;
}

.ds-bottom-right h2,
.ds-top-right h2,
.ds-right h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.ds-bottom-right h3,
.ds-top-right h3,
.ds-right h3 {
	font-size: 14px;
}

.field-name-field-highlight {
	background: #a32638;
	-moz-box-shadow: inset 0px 0px 30px #5b161f; 
	-webkit-box-shadow: inset 0px 0px 30px #5b161f; 
	box-shadow: inset 0px 0px 30px #5b161f; 
	padding: 15px;
}

.site-sit.section-graduate .field-name-field-highlight {
	background: #070B36;
	-moz-box-shadow: inset 0px 0px 30px #000; 
	-webkit-box-shadow: inset 0px 0px 30px #000; 
	box-shadow: inset 0px 0px 30px #000; 
}

.field-name-field-highlight,
.field-name-field-highlight * {
	color: #fff !important;
	font-size: 12px;
}

.field-name-field-temp-highlight {
	background: #f6f6f6;
	-moz-box-shadow: inset 0px 0px 30px #939393;
	-webkit-box-shadow: inset 0px 0px 30px #939393;
	box-shadow: inset 0px 0px 30px #939393;
	padding: 15px;
}

.field-name-field-temp-highlight,
.field-name-field-temp-highlight * {
	font-size: 12px;
}

.ds-bottom-right .field + .field,
.ds-right .field + .field {
	margin-top: 20px;
}

/**
* Webform on page node
*/
.node-page .node-webform .form-text {
	border: 1px solid #999;
	width: 85%;
}

.node-page .node-webform .form-text:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.node-page .node-webform label {
	color: #787878;
	font-size: 12px;
	font-weight: normal;
}

.node-page .node-webform .compact-form-label {
	top: 6px;
}

.node-page .node-webform select,
.node-page .node-webform option {
	font-size: 12px;
}

/**
* Node Quick Links
*/
.node .quick-links {
	background: #a32638;
	background: -moz-linear-gradient(top,  #a32638 0%, #5b161f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a32638), color-stop(100%,#5b161f));
	background: -webkit-linear-gradient(top,  #a32638 0%,#5b161f 100%);
	background: -o-linear-gradient(top,  #a32638 0%,#5b161f 100%);
	background: -ms-linear-gradient(top,  #a32638 0%,#5b161f 100%);
	background: linear-gradient(top,  #a32638 0%,#5b161f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a32638', endColorstr='#5b161f',GradientType=0 );
	border-top: 1px solid #fff;
	list-style: none;
	margin: -4px -20px 0;
	padding: 0;
}

.ie7 .node .quick-links {
	width: 740px;
}

.site-sit.section-graduate .quick-links {
	background: #0b1359;
	background: -moz-linear-gradient(top,  #0b1359 0%, #070b36 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b1359), color-stop(100%,#070b36));
	background: -webkit-linear-gradient(top,  #0b1359 0%,#070b36 100%);
	background: -o-linear-gradient(top,  #0b1359 0%,#070b36 100%);
	background: -ms-linear-gradient(top,  #0b1359 0%,#070b36 100%);
	background: linear-gradient(top,  #0b1359 0%,#070b36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1359', endColorstr='#070b36',GradientType=0 );
}

.node .quick-links li {
	display: inline-block;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .03em;
	text-transform: uppercase;
}

.node .quick-links li + li {
	border-left: 1px #fff solid;
}

.node .quick-links li a {
	color: #fff;
	display: inline-block;
	padding: 8px 30px 5px;
}

.ie7 .node .quick-links li,
.ie7 .node .quick-links li a {
	zoom: 1;
	display: inline; 
}

.node .quick-links li a:hover {
	background: #787878;
	text-decoration: none;
}

.site-sit.section-graduate .quick-links li a:hover {
	color: #fff;
}

/**
* Content Accordion
*/
.node-page fieldset {
	border: 0 none !important;
	background: #f6f6f6;
	margin: 0 0 10px;
	padding: 0;
}

.node-page fieldset legend {
	padding: 0;
	width: 100%;
}

html.js .node-page fieldset.collapsed .fieldset-legend,
html.js .node-page fieldset.collapsible .fieldset-legend {
	background: transparent;
	padding: 0;
}

.node-page fieldset .fieldset-legend a {
	background: #f6f6f6 url(images/fieldset.collapse-processed.png) no-repeat 7px -31px;
	color: #787878;
	display: block;
	padding: 10px 10px 8px 30px;
}

.node-page fieldset.collapsed .fieldset-legend a {
	background-position: 7px 11px;
}

.node-page .fieldset-legend span.summary {
	display: none;
}

.node-page fieldset .fieldset-wrapper {
	padding: 10px 30px;
}

/**
* School Landing Panel
*/
.site-hub .front-landing {
	padding: 1em 0;
}

.panel-landing-school .panel-top-row {
	margin-bottom: .5em;
}

.panel-landing-school .pane-title {
	color: #023c74;
	border-bottom: 1px solid #ADADAD;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: .02em;
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.panel-landing-school .front-emphasis-pane .pane-title {
	font-size: 21px;
}

.panel-landing-school .panel-right-bottom-first {
	background: #F5F5F5;
}

.panel-landing-school .panel-inside {
	padding: 10px;
}

.panel-landing-school .front-emphasis-pane {
	margin-bottom: 20px;
}

.panel-landing-school .panel-pane .menu {
	list-style: none;
	padding: 0;
}

.panel-landing-school .panel-pane .menu li {
	font-weight: bold;
}

.panel-landing-school .panel-pane .menu li + li {
	margin-top: 10px;
}

/**
* Office of Development front page
*/
.site-dof .front-message-seal-pane {
 overflow: hidden;
 padding: 20px 0;
}

.site-dof .front-message-seal-pane img,
.site-dof .front-message-seal-pane div {
 float: left;
}
.site-dof .front-message-seal-pane img{
 width: 30%;
}

.site-dof .front-message-seal-pane .front-message-text {
 padding-top: 4%;
 width: 70%;
}

.site-dof .make-gift-button a {
 background: #a32638;
 background: -moz-linear-gradient(top,  #a32638 0%, #8f0222 44%, #6d0019 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a32638), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
 background: -webkit-linear-gradient(top,  #a32638 0%,#8f0222 44%,#6d0019 100%);
 background: -o-linear-gradient(top,  #a32638 0%,#8f0222 44%,#6d0019 100%);
 background: -ms-linear-gradient(top,  #a32638 0%,#8f0222 44%,#6d0019 100%);
 background: linear-gradient(top,  #a32638 0%,#8f0222 44%,#6d0019 100%);
 border: 1px solid #AAAAAA;
 border-radius: 5px 5px 5px 5px;
 box-shadow: 5px 5px 5px #CCCCCC;
 color: #FFFFFF;
 display: block;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a32638', endColorstr='#6d0019',GradientType=0 );
 font-size: 16px;
 margin: 20px auto;
 padding: 8px 5px 7px;
 text-align: center;
 width: 60%;
}

.site-dof .make-gift-button a:hover {
 background: #6d0019;
 text-decoration: none;
}

.site-dof .pane-block-8 h2 {
  border-bottom: none;
}

/**
* Office of Development Featured Initiatives
*/
.site-dof .initiative-promo-default-display {
 overflow: hidden;
}

.site-dof .initiative-promo-default-display .views-row {
 display: inline-block;
 margin: 0 20px 20px 0;
 vertical-align: top;
}

.ie7.site-dof .initiative-promo-default-display .views-row {
 zoom: 1; 
 display: inline;
}

.site-dof .initiative-promo-default-display .views-row-3,
.site-dof .initiative-promo-default-display .views-row-6 {
 margin-right: 0;
}

.site-dof .initiative-promo-default-display img {
 display: block;
}

.site-dof .initiative-promo-default-display * {
 margin: 0;
}

.site-dof .initiative-promo-default-display h3 {
 font-size: 16px; 
}

.site-dof .initiative-promo-front-pane .views-row {
 width: 210px;
}

.site-dof .initiative-promo-block {
 border-top: 1px dotted #9A9A9A;
 margin-top: 20px;
 padding-top: 20px;
}

.site-dof .initiative-promo-block .views-row {
 width: 217px;
}

/**
* Banner Carousel Defaults
*/
.sit-banner-default .sit-carousel-column {
	position: relative;
}

.sit-banner-default img {
	max-width: 100%;
}

.sit-banner-default .banner-text {
	position: absolute;
}

.sit-banner-default .banner-text * {
	color: #d7d7d7;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	line-height: 1.55em;
	margin: 0;
}

.sit-banner-default .banner-text br {
	line-height: 1;
}

.sit-banner-default .banner-text h2 {
	color: #fff;
	font-weight: normal;
	line-height: 1.35em;
	margin: 0;
}

.sit-banner-default .banner-text h3  {
	letter-spacing: 0;
	text-transform: none;
}

.sit-banner-default .banner-text .action-link,
#banner_carousel-pagination a  {
	background: #eee;
	border-radius: 15px; 
	display: inline-block;
	font-size: 11px;
	-moz-border-radius: 15px; 
	padding: 1px 10px;
	-webkit-border-radius: 15px; 
}

.ie7 .sit-banner-default .banner-text .action-link,
.ie7 #banner_carousel-pagination a {
	zoom: 1; 
	display: inline; 
}

.sit-banner-default .banner-text .action-link:hover,
#banner_carousel-pagination a:hover,
#banner_carousel-pagination .selected {
	background: #787878;
}

.sit-banner-default .banner-text .action-link {
	color: #666;
	font-weight: bold;
	margin-top: 10px;
}

.sit-banner-default .banner-text .action-link:hover {
	color: #fff;
	text-decoration: none;
}

.sit-banner-default .sit-carousel-column .file-video {
  display: none;
  left: 450px;
  position: absolute;
  top: 15px;
  width: 450px;
}
.sit-banner-default .sit-carousel-column:first-child .file-video {
  display: block;
}

#banner_carousel-pagination {
	position: absolute;
}

#banner_carousel-pagination a {
	height: 0 !important;
	overflow: hidden;
	padding: 14px 14px 0 0;
	width: 0 !important;
}

#banner_carousel-pagination a + a {
	margin-left: 10px;
}

/**
* Front Banner Carousel
*/
.ie7 .sit-landing-banner {
	position: relative;
	top: -18px;
}

.sit-landing-banner .sit-carousel-column {
	width: 960px;
}

.not-ie7 .sit-landing-banner img {
	height: 314px;
}

.sit-landing-banner .banner-text {
  left: 20px;
  top: 60px;
  width: 400px;
}

.sit-landing-banner .banner-text p {
	font-size: 18px;
}

.sit-landing-banner .banner-text h2 {
	font-size: 30px;
}

.sit-landing-banner .banner-text h3 {
	font-size: 18px;
}

.sit-landing-banner .banner-text p {
	font-size: 13px;
}

.sit-landing-banner #banner_carousel-pagination {
	left: 20px;
	top: 350px;
}

/**
* Page Node Banner
*/
.sit-page-node-banner {
	margin-left: -20px;
}

.sit-page-node-banner .sit-carousel-column {
	width: 740px;
}

.sit-page-node-banner img {
	height: 240px;
}

.sit-page-node-banner .banner-text {
  left: 10px;
  top: 25px;
  width: 205px;
}

.sit-page-node-banner .banner-text h2 {
	font-size: 24px;
}

.sit-page-node-banner .banner-text h3 {
	font-size: 21px;
}

.sit-page-node-banner .banner-text p {
	font-size: 16px;
}

.sit-page-node-banner .carousel-pager {
	left: -10px;
	top: 215px;
}

/**
* Carousel Defaults
*/
.sit-carousel-default {
	padding: .5em 0 0;
	position: relative;
}

.sit-events-default {
	padding: .5em 0 0;
	position: relative;
}

.sit-carousel-default .caroufredsel_wrapper {
	margin: 0 auto !important;
}

.sit-events-default .caroufredsel_wrapper {
	margin: 0 auto !important;
}

.sit-carousel-default .sit-carousel-column {
	float: left;
	height: 300px;
	margin: 0 10px;
	overflow: hidden;
	width: 180px;
}

.sit-events-default .sit-carousel-column {
	float: left;
	height: 300px;
	margin: 0 10px;
	overflow: hidden;
	width: 279px;
}

.sit-carousel-default .sit-carousel-column .carousel-events-display {
	height: 255px;
}

.sit-events-default .sit-carousel-column .carousel-events-display {
	height: 255px;
}

.chrome .sit-carousel-default .sit-carousel-column .carousel-events-display,
.safari .sit-carousel-default .sit-carousel-column .carousel-events-display {
	height: 250px;
}

.chrome .sit-events-default .sit-carousel-column .carousel-events-display,
.safari .sit-events-default .sit-carousel-column .carousel-events-display {
	height: 250px;
}

.sit-carousel-default .field-carousel-title-link {
	background: #a9002f; 
	background: -moz-linear-gradient(top,  #a9002f 0%, #880026 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9002f), color-stop(100%,#880026));
	background: -webkit-linear-gradient(top,  #a9002f 0%,#880026 100%);
	background: -o-linear-gradient(top,  #a9002f 0%,#880026 100%); 
	background: -ms-linear-gradient(top,  #a9002f 0%,#880026 100%);
	background: linear-gradient(top,  #a9002f 0%,#880026 100%); 
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9002f', endColorstr='#880026',GradientType=0 );
	font-size: 10px;
	line-height: 1;
	margin: 0;
	padding: 5px;
}

.sit-events-default .field-carousel-title-link {
	background: #a9002f; 
	background: -moz-linear-gradient(top,  #a9002f 0%, #880026 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9002f), color-stop(100%,#880026));
	background: -webkit-linear-gradient(top,  #a9002f 0%,#880026 100%);
	background: -o-linear-gradient(top,  #a9002f 0%,#880026 100%); 
	background: -ms-linear-gradient(top,  #a9002f 0%,#880026 100%);
	background: linear-gradient(top,  #a9002f 0%,#880026 100%); 
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9002f', endColorstr='#880026',GradientType=0 );
	font-size: 11px;
	line-height: 1;
	margin: 0;
	padding: 5px;
}

.sit-carousel-default .field-carousel-title-link a {
	color: #fff;
	text-decoration: none;
}

.sit-events-default .field-carousel-title-link a {
	color: #fff;
	text-decoration: none;
}

.sit-carousel-default .field-carousel-title-link a:hover {
	text-decoration: underline;
}

.sit-events-default .field-carousel-title-link a:hover {
	text-decoration: underline;
}

.sit-carousel-default .sit-carousel-column .carousel-events-display {
	background: #eee;
	border: 1px solid #333;
	border-top: 0 none;
	padding: 1px 10px 0 10px;
	overflow-y: auto;
}

.sit-events-default .sit-carousel-column .carousel-events-display {
	background: #eee;
	border: 1px solid #333;
	border-top: 0 none;
	padding: 1px 10px 0 10px;
	overflow-y: auto;
}

.sit-carousel-default .carousel-events-display {
	padding-top: 10px !important;
}

.sit-events-default .carousel-events-display {
	padding-top: 10px !important;
}

.sit-carousel-default .sit-carousel-column .view .views-row + .views-row {
	margin: 10px 0 0;
}

.sit-events-default .sit-carousel-column .view .views-row + .views-row {
	margin: 5px 0 0;
}

.sit-carousel-default img {
	height: auto;
	max-width: 100%;
}

.sit-events-default img {
	height: auto;
	max-width: 100%;
}

.ie8 .sit-carousel-default img {
	height: 110px;
}

.ie8 .sit-events-default img {
	height: 110px;
}

.sit-carousel-default .event-date {
	font-weight: bold;
}

.sit-events-default .event-date {
	font-weight: bold;
}

.sit-carousel-default h3.node-title,
.sit-carousel-default .event-term {
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .02em;
	text-transform: uppercase;
}

.sit-events-default h3.node-title,
.sit-events-default .event-term {
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .02em;
	text-transform: uppercase;
}

.sit-carousel-default h3.node-title,
.sit-carousel-default .event-term {
	line-height: 1.15;
	margin: 0;
}

.sit-events-default h3.node-title,
.sit-events-default .event-term {
	line-height: 1.15;
	margin: 0;
}

.sit-carousel-default h3.node-title a,
.sit-carousel-default .event-term {
	color: #023c74;
}

.sit-events-default h3.node-title a,
.sit-events-default .event-term {
	color: #023c74;
}

.sit-carousel-default p {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.35;
	margin: 0;
}

.sit-events-default p {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.35;
	margin: 0;
}

.sit-carousel-default .node-body {
	margin: 3px 0 2px;
}

.sit-events-default .node-body {
	margin: 3px 0 2px;
}

.chrome .sit-carousel-default .read-more,
.safari .sit-carousel-default .read-more {
	margin-top: 8px;
}

.chrome .sit-events-default .read-more,
.safari .sit-events-default .read-more {
	margin-top: 8px;
}

.sit-carousel-default .read-more a:after {
	content: " >>";
}

.sit-events-default .read-more a:after {
	content: " >>";
}

.sit-carousel-default .sit-carousel-controls {
	margin: 0;
	padding: 0;
}

.sit-carousel-default .sit-carousel-controls li {
	display: inline;
}

.sit-carousel-default .sit-carousel-controls a {
	background: url(images/sit-carousel-controls_a.png) no-repeat;
	display: block; 
	height: 0px !important;
	overflow: hidden !important;
	padding: 31px 0 0;
	position: absolute;
	top: 40%;
	width: 16px;
}

.sit-events-default .sit-carousel-controls a {
	/*background: url(images/sit-carousel-controls_a.png) no-repeat;
	display: block; 
	height: 0px !important;
	overflow: hidden !important;
	padding: 31px 0 0;
	position: absolute;
	top: 40%;
	width: 16px;*/
	display:none;
}

.sit-carousel-default .previous a {
	left: 2%;
}

.sit-carousel-default .next a {
	background-position: 0 -31px;
	right: 2%;
}

/**
* Content Hub Carousels
*/
.site-hub .front-landing .panel-pane {
	margin-bottom: 20px;
	padding: 0;
}

.site-hub .front-landing .front-carousel-pane .pane-title {
	margin: 0 0 5px 80px;
	line-height: 1.1;
}

.site-hub .front-landing .front-news-carousel-pane .sit-carousel-column {
	height: 180px;
}

.logged-in.site-hub .front-landing .front-news-carousel-pane .sit-carousel-column {
	height: 200px;
}

.site-hub .front-landing .front-media-carousel-pane .sit-carousel-column {
	height: 135px;
}

.logged-in.site-hub .front-landing .front-media-carousel-pane .sit-carousel-column {
	height: 155px;
}

.site-hub .front-landing .front-events-carousel-pane .sit-carousel-column {
	background: #eee;
	height: 95px;
	padding: 5px;
	width: 170px;
}

.logged-in.site-hub .front-landing .front-events-carousel-pane .sit-carousel-column {
	height: 115px;
}

.site-hub .front-landing .front-in-the-news-carousel-pane .sit-carousel-column {
	height: 180px;
}

.logged-in.site-hub .front-landing .front-in-the-news-carousel-pane .sit-carousel-column {
	height: 190px;
}

.front-landing .hub-event-date {
	color: #787878;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.front-landing .hub-event-time {
	color: #666;
	font-size: 13px;
}

/**
* Content Hub Stevens Experts Pane
*/
.front-experts-pane h3,
.front-experts-pane h4 {
	margin: 0;
} 

.front-experts-pane .view-footer {
	clear: both;
	padding-top: 20px;
}

.front-experts-pane .view-footer * {
	font-style: italic;
}

/**
* Views Grid Default Displays
*/
.grid-default-display.media-page-display .views-row {
	margin-bottom: 20px;
}

.grid-default-display.media-page-display .views-row:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

.grid-default-display.media-page-display .views-row:nth-child(3n+3) {
	margin-right: 0;
}

.grid-default-display .views-row p {
	margin: 0;
}

.grid-default-display .views-row img {
	height: auto;
}

.ie7-and-8 .grid-default-display .views-row-1,
.ie7-and-8 .grid-default-display .views-row-4,
.ie7-and-8 .grid-default-display .views-row-7,
.ie7-and-8 .grid-default-display .views-row-10,
.ie7-and-8 .grid-default-display .views-row-13,
.ie7-and-8 .grid-default-display .views-row-16,
.ie7-and-8 .grid-default-display .views-row-19,
.ie7-and-8 .grid-default-display .views-row-22,
.ie7-and-8 .grid-default-display .views-row-25,
.ie7-and-8 .grid-default-display .views-row-28 {
	clear: left;
	margin-left: 0;
} 

.ie7-and-8 .grid-default-display .views-row-3,
.ie7-and-8 .grid-default-display .views-row-6,
.ie7-and-8 .grid-default-display .views-row-9,
.ie7-and-8 .grid-default-display .views-row-12,
.ie7-and-8 .grid-default-display .views-row-15,
.ie7-and-8 .grid-default-display .views-row-18,
.ie7-and-8 .grid-default-display .views-row-21,
.ie7-and-8 .grid-default-display .views-row-24,
.ie7-and-8 .grid-default-display .views-row-27,
.ie7-and-8 .grid-default-display .views-row-30 {
	margin-right: 0;
} 

/**
* Views Grid Teaser Attachment
*/
.grid-default-display.media-page-display .attachment-before .views-row {
	padding: 0;
	width: 100% !important;
}

.grid-default-display .node-teaser.node-media .group-left {
	margin-right: 2%;
	width: 63%;
}

.grid-default-display .node-teaser.node-media .group-right {
  width: 35%;
}

.grid-default-display .node-teaser .node-title {
  font-size: 20px;
  margin: 0 0 10px;
}

/**
* Views List Default Displays
*/
.list-default-display .node-teaser .group-left,
.list-default-display .node-teaser.node-media .group-right {
  width: 40%;
}

.list-default-display .node-teaser.node-media .group-left {
	margin-right: 5%;
	width: 55%;
} 

.list-default-display .node-teaser .group-right {
  width: 60%;
}

.list-default-display h3 {
	margin: 10px 0;
}

.list-default-display .views-row,
.in-the-news-list-display.news-page-display .views-row-1 {
  overflow: hidden;
  padding: 10px 0;
}

.news-page-display .views-row-1 {
	padding: 0;
}

.list-default-display .views-row + .views-row {
  border-top: 1px solid #CCCCCC;
}

.list-default-display img {
  float: left;
  height: auto;
  margin-right: 10px;
  max-width: 80px;
}

.ie8 .list-default-display img {
	height: 45px;
}

.list-default-display .node-teaser img {
  float: none !important;
  margin: 0;
  max-width: 95%;
}

.ie8 .list-default-display .node-teaser img {
	height: 150px;
}

.list-default-display p {
  margin: 0;
}

.list-default-display .node-title,
.events-list-default-display .node-list-title {
  font-weight: bold;
}

.list-default-display .node-teaser .node-title {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.list-default-display .node-date,
.list-default-display .node-event-date {
  color: #787878;
  display: block;
}

.list-default-display .node-teaser .node-date {
  margin: 0;
}

.list-default-display .node-teaser .read-more {
  text-align: right;
}

.view-display-id-block_1 .form-type-textfield .form-text {
  float: left;
  width: 140px;
}

.view-display-id-block_1 .views-exposed-widget {
  padding-right: 0.5em;
}

.block-views-exp-expose-events-events-page .form-type-textfield .description {
  display: none;
}

.view-display-id-block_1 .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
}
.block-views-exp-expose-events-events-page .views-exposed-form select {
  width: 100%;
  font-size: 12px;
}


.view-display-id-events_page .ajax-progress,
.view-display-id-block_1 .ajax-progress {
  position: relative;
  top: 3px;
  left: 5px;
}

.ui-widget.ui-datepicker {
  font-size: 0.8em;
}
#zone-content .ui-datepicker a {
  color: black;
  font-weight: bold;
}
#zone-content .ui-datepicker a.month-link {
  color: black;
}
.block-event-date-data-block {
  display: none;
}


/**
* Faculty Listings
*/
.faculty-page-display .views-row-odd {
	clear: left;
	margin-left: 0;
}

.faculty-page-display .views-row-even {
	margin-right: 0;
}

.faculty-page-display .views-row-2 {
	border: 0 none !important;
}

.faculty-page-display .views-row .bio-position {
	font-style: italic;
	letter-spacing: .02em;
}

/**
* Full Node Defaults
*/
.node-media .field-name-share-this-links {
  clear: both;
  margin: 10px 0;
}

.node .node-sub-title,
.node .expert-job-title {
	color: #787878;
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
	font-size: 21px;
}

.node .node-date {
	color: #787878;
}

.node-news .node-date {
  font-size: 13px;
}

.fb-comments {
  width: 75% !important;
}

.fb-comments iframe {
  width: 100% !important;
}

.site-ses .node-bio .field,
.site-sse .node-bio .field {
  margin: 10px 0;
}

.site-ses .node-bio img,
.site-sse .node-bio img {
  float: left;
  margin: 0 10px 10px 0;
}

table.migrated-table,
table.migrated-table table {
  font-size: 14px;
  width: 100%;
}

table.migrated-table td {
  padding: 5px;
}

table.migrated-table a {
  display: block;
}

table.migrated-table .inner-expander {
  display: none;
}

table.migrated-table .table-head {
  font-weight: bold;
  margin-top: 20px;
}

/**
* Media Full Node
*/
.node-media.view-mode-full .media-colorbox img {
  float: left;
  margin: 0 10px 10px 0;
}

/**
* News Full Node
*/
.node-news.view-mode-full img {
	border: 1px solid #999;
}

/**
* Event Full Node
*/
.node-event.view-mode-full .field-group-div {
	margin-top: 20px;
}

.node-event .event-date-time {
	font-size: 16px;
}

.node-event .group-event-info p {
	font-weight: bold;
}

.node-event .group-event-info span {
	font-weight: normal;
}

.node-event .field-name-share-this-links {
	clear: both;
}

/**
* Course Node
*/
.node-course .course-number {
	margin-bottom: -17px;
}

/**
* Expert Profile
*/
.node-experts-profile img {
	float: right;
	margin: 0 0 20px 20px;
}

/**
* Faculty View
*/
.site-sse .view-id-bios a {
  font-weight: bold;
}

.site-sse .view-id-bios .views-field-body {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.site-ses .view-id-bios table {
  width: 100%;
}

.site-ses .view-id-bios td {
  font-size: 15px;
  padding-bottom: 30px;
  text-align: center;
  width: 20%;
}

.site-ses .ui-tabs.ui-widget-content {
  border: none;
}

/**
* Custom Pages
*/
.panel-sit-custom .panel-pane + div {
	margin-top: 20px;
}

.panel-sit-custom .node-media a{
	display: inline !important;
	float: none !important;
	margin: 0 !important;
	width: auto !important;
}

.panel-sit-custom .node-media img {
	float: left;
	margin: 0 10px 10px 0;
	width: 100px;
}

.panel-sit-custom .node-media .group-left,
.panel-sit-custom .node-media .group-right {
	float: none;
	margin: 0;
	width: auto;
}

.panel-sit-custom .node-media .field-name-share-this-links,
.panel-sit-custom .node-media .node-date,
.panel-sit-custom .node-media .field-name-body,
.panel-sit-custom .node-media .field-name-facebook-comments {
	display: none;
}

.panel-sit-custom img {
	border: 1px solid #787878;
}

.panel-sit-custom .custom-page-events-pane .views-row {
  overflow: hidden;
  padding: 10px 0;
}

.panel-sit-custom .custom-page-events-pane .views-row + div {
  border-top: 1px solid #CCCCCC;
}

.panel-sit-custom .custom-page-events-pane h3,
.panel-sit-custom .custom-page-events-pane h4,
.panel-sit-custom .custom-page-events-pane p {
	margin: 0;
}

/**
* Course Tables
*/
.curricula-table-display table {
	width: 100%;
}

.curricula-table-display table + table {
	margin-top: 40px;
}

.curricula-table-display caption {
	margin-left: 5px;
	text-align: left;
}

.curricula-table-display tr {
	border: 0 none;
}

.curricula-table-display .odd {
	background: #fff;
}

.curricula-table-display .even {
	background: #eee;
}

.curricula-table-display td,
.curricula-table-display th {
	padding: 10px 5px 5px;
	vertical-align: top;
}

.curricula-table-display th {
	border-bottom-width: 1px;
	font-size: 11px;
}

.curricula-table-display td {
	width: 70px;
}

.curricula-table-display .views-field-field-course-no {
	width: 120px;
}

.curricula-table-display .views-field-php {
	width: 400px;
}

.curricula-table-display .ctools-toggle {
	display: none;
}

.curricula-table-display .ctools-collapsible-handle {
	color: #880026;
	font-size: 14px;
	font-weight: bold;
}

.curricula-table-display .ctools-collapsible-content {
	line-height: 1.3;
	margin-top: 10px;
}

.curricula-table-display tfoot td {
	font-weight: bold;
}


/**
* FIRST SIDEBAR REGION
*/
.region-sidebar-first {
	padding: 20px 0;
}

.chrome .region-sidebar-first,
.safari .region-sidebar-first {
	-webkit-border-bottom-left-radius: 12px;
}

.region-sidebar-first * {
	font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
}

.region-sidebar-first .block {
	padding: 0 20px;
}

.region-sidebar-first .block + .block {
	border-top: 1px solid #fff;
	margin-top: 15px;
	padding-top: 15px;
}

.region-sidebar-first .block-title {
	color: #a32638;
	font-size: 15px;
	letter-spacing: .02em;
	line-height: 1.45;
	margin: 0;
	text-transform: uppercase;
}

.site-sit.section-graduate .region-sidebar-first .block-title {
	color: #070B36;
}

.region-sidebar-first h3,
.region-sidebar-first h4 {
	line-height: 1.45;
}

.region-sidebar-first h3 {
	font-size: 14px;
}

.region-sidebar-first h4 {
	font-size: 12px;
}

.region-sidebar-first li,
.region-sidebar-first p {
	font-size: 13px;
	line-height: 1.45;
}

.region-sidebar-first ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.region-sidebar-first li {
	font-weight: bold;
	margin-left: 17px;
}

.region-sidebar-first li,
.region-sidebar-first li a {
	color: #000;
}

.region-sidebar-first li a {
	text-decoration: none;
}

.region-sidebar-first li a:hover {
	text-decoration: underline;
}

.region-sidebar-first li ul {
	list-style: disc;
}

.region-sidebar-first li li {
	font-weight: normal;
}

.region-sidebar-first .more-link {
	font-size: 12px;
	font-weight: bold;
}

/* ADDED TO AVOID BREADCRUMBS */

.region-sidebar-first ul li.active-trail {
	color: #a32638;
}

.region-sidebar-first ul li a.active-trail {
	color: #a32638;
}

.site-sit.section-graduate .region-sidebar-first ul li.active-trail {
	color: #0174B9;
}

.site-sit.section-graduate .region-sidebar-first ul li a.active-trail {
	color: #0174B9;
}

.region-sidebar-first ul li {
	text-transform: uppercase;
}

.region-sidebar-first ul li ul li {
	text-transform: none;
}

.region-sidebar-first ul li.expanded {
/*
	margin-top: 7px;
*/
}

/* END ADDED TO AVOID BREADCRUMBS */


/**
* View Displays in sidebar
*/
.list-sidebar-display .views-row {
	padding: 5px 0;
}

.list-sidebar-display img {
	max-width: 48px;
	margin-right: 3px;
}

.list-sidebar-display p {
	font-size: 12px;
}

.events-list-default-display .node-sidebar-title {
	font-weight: bold;
}

.list-sidebar-display .node-date {
	display: inline;
}

.media-block-display .views-row {
	float: left;
	margin-bottom: 8px;
	width: 85px;
}

.media-block-display .views-row-odd {
	margin-right: 10px;
}

.view-findexpert .form-type-textfield input, 
.view-findexpert .form-type-select select {
  font-size: 12px;
  width: 100%;
}

.view-findexpert .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.view-findexpert .views-exposed-form label {
	font-size: 12px;
	font-weight: normal;
}

.view-findexpert .views-row {
  border-top: 1px solid #ccc;
  font-size: 13px;
  overflow: hidden;
  padding: 5px 0; 
}

.view-findexpert .views-row img {
  float: left;
  margin: 0 5px 5px 0;
}

/**
* POSTSCRIPT ZONE REGION
*/
.zone-postscript {
	background: #a1a1a1 url(images/postscript/postscript.png) repeat-y 34.5% 0;
	background: #a1a1a1;
	background: -moz-linear-gradient(top,  #848484 0%, #a1a1a1 24%, #a1a1a1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848484), color-stop(24%,#a1a1a1), color-stop(100%,#a1a1a1));
	background: -webkit-linear-gradient(top,  #848484 0%,#a1a1a1 24%,#a1a1a1 100%);
	background: -o-linear-gradient(top,  #848484 0%,#a1a1a1 24%,#a1a1a1 100%);
	background: -ms-linear-gradient(top,  #848484 0%,#a1a1a1 24%,#a1a1a1 100%);
	background: linear-gradient(top,  #848484 0%,#a1a1a1 24%,#a1a1a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#a1a1a1',GradientType=0 );
}

.zone-postscript .region-postscript-first {
	background: url(images/postscript/postscript.png) repeat-y 25% 0;
	padding: 1em 0;
}

.zone-postscript h2,
.zone-postscript h3,
.zone-postscript p,
.zone-postscript a {
	color: #fff;
}

.zone-postscript h2 {
	font-size: 13px;
}

.zone-postscript h3 {
	font-size: 12px;
}

.zone-postscript p {
	font-size: 11px;
}

.zone-postscript .postscript-tech {
	color: #e1e1e1;
}

.zone-postscript img {
	display: block;
	height: auto;
	margin: 0 auto;
}

.zone-postscript .president-initiative img {
	left: 5px;
	max-width: 95%;
	position: relative;
}

.zone-postscript .sit-centers * {
	text-align: center;
}

.zone-postscript .sit-centers h2 {
	margin: 0 0 1em;
}

.zone-postscript .sit-centers h3 {
	margin: 1em 0 0;
}

.zone-postscript .sit-centers p {
	margin: 0;
}

.zone-postscript .sit-centers .all-caps {
	letter-spacing: .02em;
	text-transform: uppercase;
}

.zone-postscript .sit-centers img {
	-moz-box-shadow: 0px 0px 10px #787878; 
	-webkit-box-shadow: 0px 0px 10px #787878; 
	box-shadow: 0px 0px 10px #787878; 
	max-width: 73%;
}


/**
* FOOTER ZONE/REGION
*/
.zone-footer {
	padding-top: 1em;
}

.zone-footer * {
	color: #fff;
	font-size: 11px;
}

.zone-footer a {
	text-decoration: none;
}

.zone-footer a:hover {
	text-decoration: underline;
}


/**
* iPhone/iPad specific fixes
*/
.iphone .zone-user .block-search .form-submit,
.ipad .zone-user .block-search .form-submit {
	top: 7px;
}


@media (orientation:portrait) {

}


/*used only on faculty bios*/
.bio_image{
width:140px;
padding-right:20px;
}
/*used only on faculty bios*/
.bio_head{
margin-left:150px;
padding:3px;
}


.node-bio h3{
color: #082b6b !important;
font-size: 0.95em;
font-style:normal !important;
}

h2.title{
margin-top:40px;
color: #082b6b !important;
border-bottom: 1px solid #082b6b;
font-style:normal;
clear:left;
}

.node-bio .label-above{
margin-top:40px;
color: #082b6b !important;
border-bottom: 1px solid #082b6b;
font-style:normal;
clear:left;
}
.node-bio p{
line-height:1.5em;
}

.node-bio img{
 background-color: #FFFFFF;
    display: block;
    margin: -6px 6px 0px -6px !important;
    padding: 2px;
    position: relative;
}

.field-name-field-bio-intro{
clear:both;
}

/**
* User login page           
*/
li.log-in-active-tab {
    display: none !important;
}
