.stevensTable
{
	width:100%;
	text-align:left;
	border-bottom:1px solid #adafaf; 
	border-collapse:collapse;
	margin-top:20px;
	margin-bottom:20px;
}

.stevensTable th{
	font-size:14px;
	font-weight:bold;
	background:#fff;
	border:1px solid #adafaf;
	color:#a32638;
	padding:8px;
}

.stevensTable td{
	background:#fff;
	border-top:1px solid #adafaf;
	border-bottom:1px solid #adafaf;
	color:#000;
	border-top:1px solid transparent;
	padding:8px;
}

.stevensTable tr td{
	background:#fff;
	border-top:1px solid #adafaf;
	border-left:1px solid #adafaf;
	border-right:1px solid #adafaf;}

.stevensTable tr:hover td{
	background:#efe3b9;color:#000;
}

.grayImgBorder{
	margin-right: 8px;
	border-style:solid;
	border-color:#CBCBCB;
	border-width:1px;
	padding:4px;
}

.expandHeadingV2{ /*header of accordion style*/
	cursor: hand;
	cursor: pointer;
	background-color: #F0F0F0;
	font-size:14px;
	color:#8c8c8c;
	display: block;
	position: relative; 
	width: 99%;
	padding: 5px 0 5px 5px;
	margin: 0 0 5px 0;
	text-decoration: none;
}


.expandHeadingV2:hover{
	background-color:#999999;
	color:#ffffff;
	font-weight:bold;
}

.expandContentV2{
	font-size:12px;
	line-height:14px;
	display:block;
	margin:10px 5px 10px 5px;
}