<div class="page_header_component page_header_article">
	<div class="fs-row">
		<div class="fs-cell">
			<article class="directory_controls component_controls">
				<ul class="fs-xs-hide fs-sm-hide">
					<li class="directory_controls_all"><a href="#"><span>All</span></a></li>
					<li><a href="#"><span>A</span></a></li>
					<li><a href="#"><span>B</span></a></li>
					<li><a href="#"><span>C</span></a></li>
					<li><a href="#"><span>D</span></a></li>
					<li><a href="#"><span>E</span></a></li>
					<li><a href="#"><span>F</span></a></li>
					<li><a href="#"><span>G</span></a></li>
					<li><a href="#"><span>H</span></a></li>
					<li><a href="#"><span>I</span></a></li>
					<li><a href="#"><span>J</span></a></li>
					<li><a href="#"><span>K</span></a></li>
					<li><a href="#"><span>L</span></a></li>
					<li><a href="#"><span>M</span></a></li>
					<li><a href="#"><span>N</span></a></li>
					<li><a href="#" class="active"><span>O</span></a></li>
					<li><a href="#"><span>P</span></a></li>
					<li><a href="#"><span>Q</span></a></li>
					<li><a href="#"><span>R</span></a></li>
					<li><a href="#"><span>S</span></a></li>
					<li><a href="#"><span>T</span></a></li>
					<li><a href="#"><span>U</span></a></li>
					<li><a href="#"><span>V</span></a></li>
					<li><a href="#"><span>W</span></a></li>
					<li><span class="disabled">X</span></li>
					<li><a href="#"><span>Y</span></a></li>
					<li><span class="disabled">Z</span></li>
				</ul>
				<div class="fs-md-hide fs-lg-hide fs-xl-hide alpha_drop_wrap">
				<fieldset class="form_fieldset">
					<select class="js-dropdown alpha_drop">
						<option value="All">All</option>
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						<option value="D">D</option>
						<option value="E">E</option>
						<option value="F">F</option>
						<option value="G">G</option>
						<option value="H">H</option>
						<option value="I">I</option>
						<option value="J">J</option>
						<option value="K">K</option>
						<option value="L">L</option>
						<option value="M">M</option>
						<option value="N">N</option>
						<option value="O">O</option>
						<option value="P">P</option>
						<option disabled=""  value="Q">Q</option>
						<option value="R">R</option>
						<option value="S">S</option>
						<option value="T">T</option>
						<option value="U">U</option>
						<option value="V">V</option>
						<option value="W">W</option>
						<option disabled="" value="X">X</option>
						<option value="Y">Y</option>
						<option disabled=""  value="Z">Z</option>
					</select>
				</fieldset>
				</div>
				<div class="secondary_nav_item">
					<form action="#" class="search_form news_search_form">
						<input type="text" class="search_input news_search_input">
						<button class="search_submit news_search_submit" type="submit">
							<span class="visually_hidden">Search</span>
						</button>
					</form>
				</div>
			</article>
		</div>
	</div>
</div>
