<div class="page_header_component page_header_admissions">

	<div class="page_header_admissions_carousel js-carousel" data-carousel-options='{"matchHeight":true,"pagination":false,"autoAdvance":true,"autoTime": 5000}'>
		<article class="page_header_admissions_carousel_callout background_teal">
			<figure class="page_header_admissions_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/1.jpg","500px":"http://spacehold.it/740x480/1.jpg"}}'></figure>
		</article>
		<article class="page_header_admissions_carousel_callout background_orange">
			<figure class="page_header_admissions_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/6.jpg","500px":"http://spacehold.it/740x480/6.jpg"}}'></figure>
		</article>
		<article class="page_header_admissions_carousel_callout background_black">
			<figure class="page_header_admissions_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/3.jpg","500px":"http://spacehold.it/740x480/3.jpg"}}'></figure>
		</article>
		<article class="page_header_admissions_carousel_callout background_gray">
			<figure class="page_header_admissions_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/7.jpg","500px":"http://spacehold.it/740x480/37jpg"}}'></figure>
		</article>
	</div>

	<div class="page_header_admissions_content">
		<div class="page_header_admissions_content_inner">
			<h2 class="page_header_admissions_heading">Important Admissions Actions</h2>
			<div class="page_header_admissions_buttons">
				<a href="#" class="background_red page_header_admissions_button">Request Information</a>
				<a href="#" class="background_teal page_header_admissions_button">Visit Campus</a>
				<a href="#" class="background_orange page_header_admissions_button">Apply Now</a>
				<a href="#" class="background_gray page_header_admissions_button">Optional Fourth Link</a>
			</div>
			<div class="page_header_admissions_links">
				<a href="#" class="page_header_admissions_link">International Students</a>
				<a href="#" class="page_header_admissions_link">Accepted Students</a>
				<a href="#" class="page_header_admissions_link">Parents</a>
				<a href="#" class="page_header_admissions_link">Transfer Students</a>
				<a href="#" class="page_header_admissions_link">Optional Fifth Link</a>
				<a href="#" class="page_header_admissions_link">Optional Sixth Link</a>
			</div>
		</div>
	</div>

	<div class="page_header_admissions_background_container">
		<figure class="page_header_admissions_background_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/9.jpg","500px":"http://spacehold.it/740x480/9.jpg"}}'></figure>
	</div>
</div>