<div class="page_header_component">
	<div class="fs-row">
		<div class="fs-cell">
			<figure class="page_header_figure">
				<picture class="responsive_image page_header_image">
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 1220px)" srcset="http://spacehold.it/1280x420/2.jpg">
					<source media="(min-width: 980px)" srcset="http://spacehold.it/1024x336/2.jpg">
					<source media="(min-width: 740px)" srcset="http://spacehold.it/700x394/2.jpg">
					<source media="(min-width: 0px)" srcset="http://spacehold.it/470x264/2.jpg">
					<!--[if IE 9]></video><![endif]-->
					<img src="http://spacehold.it/470x264/2.jpg" alt="" draggable="false">
				</picture>
			</figure>
		</div>
	</div>
</div>