<article class="page_header_home_persona_callout @@class background_red">
	<figure class="page_header_home_persona_callout_figure">
		<picture class="responsive_image news_item_picture news_list_item_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 980px)" srcset="http://spacehold.it/250x172/8.jpg">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/80x80/8.jpg">
			<!--[if IE 9]></video><![endif]-->
			<img class="page_header_home_persona_callout_image" src="http://spacehold.it/80x80/8.jpg" alt="">
		</picture>
	</figure>
	<div class="page_header_home_persona_callout_content">
		<div class="page_header_home_persona_callout_content_inner">
			<div class="page_header_home_persona_callout_label">In This Story</div>
			<h3 class="page_header_home_persona_callout_heading">Sarah Gleason '16</h3>
			<div class="page_header_home_persona_callout_title">
				<p><a href="#">Business and Technology</a> Major</p>
			</div>
		</div>
	</div>
</article>
