<div class="page_header_component page_header_program">
	<div class="fs-row">
		<div class="fs-cell">
			<figure class="page_header_figure">
				<picture class="responsive_image page_header_image">
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 1220px)" srcset="http://spacehold.it/1280x420/2.jpg">
					<source media="(min-width: 980px)" srcset="http://spacehold.it/1024x336/2.jpg">
					<source media="(min-width: 740px)" srcset="http://spacehold.it/700x394/2.jpg">
					<source media="(min-width: 0px)" srcset="http://spacehold.it/470x264/2.jpg">
					<!--[if IE 9]></video><![endif]-->
					<img src="http://spacehold.it/470x264/2.jpg" alt="" draggable="false">
				</picture>
			</figure>
			<div class="page_header_program_bar">
				<div class="page_header_program_bar_inner">
					<div class="page_header_program_bar_availability">
						<div class="page_header_program_bar_offerings">
							<span class="page_header_program_bar_label">This Program Is Available:</span>
							<span class="page_header_program_bar_link on-campus">On Campus</span>
							<span class="page_header_program_bar_link online">Online</span>
							<span class="page_header_program_bar_link corporate">Corporate</span>
						</div>
					</div>
					<a href="#apply-now" class="link_button_lg background_red page_header_program_bar_button">Apply Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
