<div class="page_header_home_block js-background @@class" data-background-options='@@background'>
	<div class="page_header_home_block_content_container">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="page_header_home_block_content background_@@color js-equalize-page_header_home">
					@@persona
					<div class="page_header_home_block_content_inner">
						<h2 class="page_header_home_block_heading">@@heading</h2>
						<a href="#" class="page_header_home_block_link">@@link</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
