<div class="page_header_component page_header_article">
	<div class="page_header_article_carousel js-carousel" data-carousel-options='{"matchHeight":true,"pagination":false}'>

		<article class="page_header_article_carousel_callout background_teal">
			<figure class="page_header_article_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/1.jpg","500px":"http://spacehold.it/740x480/1.jpg"}}'></figure>
			<div class="page_header_article_carousel_callout_content">
				<div class="page_header_article_carousel_callout_content_container">
					<h2 class="page_header_article_carousel_callout_heading">Preparing Stevens Students for Technical Leadership</h2>
					<div class="page_header_article_carousel_callout">
						<p>In 2022, the Digital Learning Laboratory (DLL) will be a collaborative environment of faculty, students and sponsors that will pursue research and implementation of technology- enhanced STEM learning and will develop, test and deploy tools to prepare students for technical leadership in the 21st century.</p>
					</div>
					<a href="#" class="page_header_article_carousel_callout_link">Student Centricity</a>
					<a href="#" class="page_header_article_carousel_callout_link">The Stevens Digital Learning Lab</a>
				</div>
			</div>
		</article>

		<article class="page_header_article_carousel_callout background_orange">
			<figure class="page_header_article_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/6.jpg","500px":"http://spacehold.it/740x480/6.jpg"}}'></figure>
			<div class="page_header_article_carousel_callout_content">
				<div class="page_header_article_carousel_callout_content_container">
					<h2 class="page_header_article_carousel_callout_heading">Preparing Stevens Students for Technical Leadership</h2>
					<div class="page_header_article_carousel_callout">
						<p>In 2022, the Digital Learning Laboratory (DLL) will be a collaborative environment of faculty, students and sponsors that will pursue research and implementation of technology- enhanced STEM learning and will develop, test and deploy tools to prepare students for technical leadership in the 21st century.</p>
					</div>
					<a href="#" class="page_header_article_carousel_callout_link">Student Centricity</a>
					<a href="#" class="page_header_article_carousel_callout_link">The Stevens Digital Learning Lab</a>
				</div>
			</div>
		</article>

		<article class="page_header_article_carousel_callout background_black">
			<figure class="page_header_article_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/3.jpg","500px":"http://spacehold.it/740x480/3.jpg"}}'></figure>
			<div class="page_header_article_carousel_callout_content">
				<div class="page_header_article_carousel_callout_content_container">
					<h2 class="page_header_article_carousel_callout_heading">Preparing Stevens Students for Technical Leadership</h2>
					<div class="page_header_article_carousel_callout">
						<p>In 2022, the Digital Learning Laboratory (DLL) will be a collaborative environment of faculty, students and sponsors that will pursue research and implementation of technology- enhanced STEM learning and will develop, test and deploy tools to prepare students for technical leadership in the 21st century.</p>
					</div>
					<a href="#" class="page_header_article_carousel_callout_link">Student Centricity</a>
					<a href="#" class="page_header_article_carousel_callout_link">The Stevens Digital Learning Lab</a>
				</div>
			</div>
		</article>

		<article class="page_header_article_carousel_callout background_gray">
			<figure class="page_header_article_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x281/3.jpg","500px":"http://spacehold.it/740x480/3.jpg"}}'></figure>
			<div class="page_header_article_carousel_callout_content">
				<div class="page_header_article_carousel_callout_content_container">
					<h2 class="page_header_article_carousel_callout_heading">Preparing Stevens Students for Technical Leadership</h2>
					<div class="page_header_article_carousel_callout">
						<p>In 2022, the Digital Learning Laboratory (DLL) will be a collaborative environment of faculty, students and sponsors that will pursue research and implementation of technology- enhanced STEM learning and will develop, test and deploy tools to prepare students for technical leadership in the 21st century.</p>
					</div>
					<a href="#" class="page_header_article_carousel_callout_link">Student Centricity</a>
					<a href="#" class="page_header_article_carousel_callout_link">The Stevens Digital Learning Lab</a>
				</div>
			</div>
		</article>

	</div>
</div>