<header class='page_header page_header_home js-equalize' data-equalize-options='{"maxWidth":"740px","target":".js-equalize-page_header_home"}'>
	<div class="page_header_home_carousel js-carousel" data-carousel-options='{"contained":false}'>

		@@include('page-header-home-block.html', {
			"class": "",
			"heading": "Just across the river from the greatest city in the world.",
			"link": "The Advantages of Our Location",
			"persona": "",
			"color": "teal",
			"background": "{ \"autoPlay\":false, \"source\":{\"video\":\"https://www.youtube.com/watch?v=cjodfgTiNro\",\"poster\":\"http://spacehold.it/1200x675/3.jpg\"}}"
		})

		@@include('page-header-home-block.html', {
			"class": "",
			"heading": "Just across the river from the greatest city in the world.",
			"link": "The Advantages of Our Location",
			"persona": "",
			"color": "teal",
			"background": "{ \"autoPlay\":false, \"source\":{\"video\":\"https://www.youtube.com/watch?v=cjodfgTiNro\",\"poster\":\"http://spacehold.it/1200x675/2.jpg\"}}"
		})

		@@include('page-header-home-block.html', {
			"class": "",
			"heading": "Just across the river from the greatest city in the world.",
			"link": "The Advantages of Our Location",
			"persona": "",
			"color": "teal",
			"background": "{ \"autoPlay\":false, \"source\":{\"video\":\"https://www.youtube.com/watch?v=cjodfgTiNro\",\"poster\":\"http://spacehold.it/1200x675/4.jpg\"}}"
		})

		@@include('page-header-home-block.html', {
			"class": "has_callout",
			"heading": "Our students are building a house that uses 90% less energy and adapts to the realities of a changing climate.",
			"link": "Check In On Sarah's Progress",
			"persona": "@@include('page-header-home-persona-callout.html')",
			"color": "red",
			"background": "{ \"autoPlay\":false, \"source\":{\"0px\":\"http://spacehold.it/500x282/5.jpg\",\"90px\":\"http://spacehold.it/1200x675/5.jpg\"}}"
		})

	</div>
</header>
