#header img {
  height: 66px;
}

.page-node .node .content {
  padding: 10px;
  border: 1px solid #808080;
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
}

.page-node .preview .node {
  background: transparent;
}

.node-announcement .content .field .field-label {
  font-weight: normal;
}

table.inline-headers td {
  vertical-align: top;
  border: 0;
  padding: 0;
}

table.inline-headers tbody {
  border: 0;
}

table.inline-headers td.inline-header-value {
  width: 100%;
}

.node .content :last-child {
  margin-bottom: 0;
}


/* new for uss */
.node table, .node table tr, .node table td, .node table th, .node table tbody {
  border: 0;
  padding: 0;
}
.field-type-image img {
  border: 0;
  padding: 0;
  margin: 0;
}

.node-uss p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px; 
  line-height: 1.3;
  margin: 0 0 15px !important;
  padding: 0;
}
.node-uss .field-name-field-sponsor p,
.node-uss .field-name-field-attendance p {
  font-weight: bold;
}
.node-uss .field-name-field-sponsor p,
  font-size: 20px; 
  margin: 0 0 25px;
}
