<a href="#academics" class="breadcrumb_item breadcrumb_link">Academics</a>
<a href="#undergraduate-studies" class="breadcrumb_item breadcrumb_link">Undergraduate Studies</a>
<a href="#majors-minors" class="breadcrumb_item breadcrumb_link">Majors &amp; Minors</a>
<span class="breadcrumb_item">Mechanical Engineering</span>