<a href="#campus-life" class="breadcrumb_item breadcrumb_link">CAMPUS LIFE</a>
<a href="#residence-life" class="breadcrumb_item breadcrumb_link">RESIDENCE LIFE</a>
<span class="breadcrumb_item">FREQUENTLY ASKED QUESTIONS</span>