<a href="#academics" class="breadcrumb_item breadcrumb_link">Research &amp; Entrepreneurship</a>
<a href="#undergraduate-studies" class="breadcrumb_item breadcrumb_link">Core Research Areas</a>
<span class="breadcrumb_item">Energy &amp; Environment</span>