<article class="program_finder_block_empty no_results">
	<div class="program_finder_block_empty_inner">
		<h3 class="program_finder_block_empty_heading">No Results Found</h3>
		<a href="#" class="program_finder_block_empty_link">View All<br>Undergraduate Programs</a>
	</div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>

<!-- If results, return normally, filling in result sets < 4 with empty blocks
<article class="program_finder_block">
	<a href="#" class="block_link">
		<figure class="program_finder_block_figure">
			<img src="http://spacehold.it/331x250/9.jpg" class="program_finder_block_image" alt="" draggable="false">
		</figure>
		<div class="program_finder_block_content">
			<h3 class="program_finder_block_name">Archaeology</h3>
			<h4 class="program_finder_block_type">B.S.</h4>
		</div>
	</a>
</article>
<article class="program_finder_block">
	<a href="#" class="block_link">
		<figure class="program_finder_block_figure">
			<img src="http://spacehold.it/331x250/8.jpg" class="program_finder_block_image" alt="" draggable="false">
		</figure>
		<div class="program_finder_block_content">
			<h3 class="program_finder_block_name">Paleontology</h3>
			<h4 class="program_finder_block_type">B.S.</h4>
		</div>
	</a>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
<article class="program_finder_block_empty">
	<div class="program_finder_block_empty_inner"></div>
</article>
-->