// Typography

body {
  font-family: 'Roboto';
  font-size: 100%;
}

h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h2 {

}

h3, .views-field-title {
  font-size: 2rem;
  font-family: 'Slabo 27px', serif;
  font-weight: 400px;
}

.views-field-created,
.views-field-name {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
}

.views-field-created {
  font-weight: 700;
}

p, 
.views-field-body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
