img, media {
  max-width: 100%;
}

/* No files to import found in partials/components/**\/* */

html {
  font-size: 100%;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
}

.l-page {
  padding: 0 16px;
}

.l-header,
.l-main {
  width: 100%;
  max-width: 512px; /* also set this in mimemail tpl mso fix */
  margin-left: auto;
  margin-right: auto;
}

.site-logo img {
  width: 250px;
  margin-top: 30px;
  margin-bottom: 18px;
  margin-left: 1px;
}

#mimemail-body .site-logo img {
  margin-top: 26px;
  margin-bottom: 0px;
}

#block-search-form {
  margin-top: 16px;
}


#block-search-form .form-actions {
  margin-left: 8px;
}

input[type=text] {
  font-size: 16px;
  font-family: Roboto, Tahoma, sans-serif;
  padding: 10px;
}

input[type=submit] {
  font-size: 14px;
  font-family: Roboto, Tahoma, sans-serif;
  text-transform: uppercase;
  background: #9D1535;
  color: #fff;
  border: none;
  padding: 12px;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  font-family: Roboto, Tahoma, sans-serif;
  font-weight: 700;
  margin: 48px 0;
  border-bottom: 5px #9D1535 solid;
}

#mimemail-body h1 {
  margin: 32px 0;
}

h2 {

}

h3, .views-field-title {
  font-size: 24px;
  font-family: 'Slabo 27px', Georgia, Palatino, serif;
  font-weight: 400px;
  margin: 8px 0 8px;
}

.date-nav div.date-heading h3 {
  padding-left: 60px;
  padding-right: 60px;
}

.views-field-created,
.views-field-name,
.views-field-field-organizational-unit {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 14px;
}

.views-field-created {
  font-weight: 700;
  margin-right: 12px;
}

p,
.views-field-body,
.views-field-field-link {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  mso-line-height-rule: exactly;
  line-height: 1.4;
}

a,
a:active,
a:visited,
a:hover {
  color: #9D1535;
}

.views-row {
  margin: 32px 0;
}

.pager li {
  list-style-type: none;
  font-family: Roboto, Tahoma, sans-serif;
}

.pager li a {
  font-size: 16px !important; /* Push past views default styles. */
  color: #9D1535 !important;
}

.date-nav-wrapper .date-nav {
  padding-bottom: 0;
}

/* Email styles */

.view-on-web {
  text-align: center;
  margin-bottom: 12px;
}
