<li>
	<a href="#sg-colors" class="subnavigation_link js-scroll_to">Colors</a>
</li>
<li>
	<a href="#sg-headings" class="subnavigation_link js-scroll_to">Headings</a>
</li>
<li>
	<a href="#sg-buttons" class="subnavigation_link js-scroll_to">Buttons</a>
</li>
<li>
	<a href="#sg-blockquotes" class="subnavigation_link js-scroll_to">Blockquotes</a>
</li>
<li>
	<a href="#sg-lists" class="subnavigation_link js-scroll_to">Lists</a>
</li>
<li>
	<a href="#sg-tables" class="subnavigation_link js-scroll_to">Tables</a>
</li>
<li>
	<a href="#sg-pagination" class="subnavigation_link js-scroll_to">Pagination</a>
</li>
<li>
	<a href="#sg-forms" class="subnavigation_link js-scroll_to">Forms</a>
</li>
<li>
	<a href="#sg-content-components" class="subnavigation_link js-scroll_to">Content Components</a>
</li>
<li>
	<a href="#sg-full-width-components" class="subnavigation_link js-scroll_to">Full Width Components</a>
</li>