<div class="accordion_item">
	<div class="acc_wrap clearfix">
		<div class="js-swap acc_q" data-swap-target=".toggle_target_@@number">
			<h4 class="directory_heading">@@heading</h4>
		</div>
		<div class="toggle_target toggle_target_@@number acc_a">
			<p class="callout_body">@@content</p>
			<a class="callout_link" href="@@url">@@link</a>
		</div>
	</div>
</div>
