<article class="callout announcement_callout @@class">
	<div class="callout_container announcement_container">
		<h2 class="announcement_heading">@@heading</h2>
		<div class="callout_content announcement_content">
			@@content
		</div>
		<a href="#" class="callout_link announcement_link">@@link</a>
	</div>
</article>