<div id="node-63" class="node node-webform clearfix" about="/sample-form-nick" typeof="sioc:Item foaf:Document">
  <span property="dc:title" content="Sample Form for Nick" class="rdf-meta element-hidden"></span>
  <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  <div class="content">
    <form class="webform-client-form webform-client-form-63" enctype="multipart/form-data" action="/sample-form-nick" method="post" id="webform-client-form-63" accept-charset="UTF-8">
      <div>
        <div  class="required_messge form-item webform-component webform-component-markup webform-component--required-field">
          <p><span class="required_star">*</span> Required Field</p>
        </div>
        <fieldset class="webform-component-fieldset webform-component--tell-us-about-yourself form-wrapper">
          <legend>
            <span class="fieldset-legend">Tell us about yourself</span>
          </legend>
          <div class="fieldset-wrapper">
            <div  class="layout_split_50 webform-layout-box horiz webform-component--tell-us-about-yourself--name">
              <div  class="block_input form-item webform-component webform-component-textfield webform-component--tell-us-about-yourself--name--first-name">
                <label for="edit-submitted-tell-us-about-yourself-name-first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
                <input required="required" class="css_class form-text required" type="text" id="edit-submitted-tell-us-about-yourself-name-first-name" name="submitted[tell_us_about_yourself][name][first_name]" value="" size="60" maxlength="128" />
              </div>
              <div class="block_input form-item webform-component webform-component-textfield webform-component--tell-us-about-yourself--name--last-name">
                <label for="edit-submitted-tell-us-about-yourself-name-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
                <input required="required" type="text" id="edit-submitted-tell-us-about-yourself-name-last-name" name="submitted[tell_us_about_yourself][name][last_name]" value="" size="60" maxlength="128" class="form-text required" />
              </div>
            </div>
            <div  class="block_input form-item webform-component webform-component-email webform-component--tell-us-about-yourself--email">
              <label for="edit-submitted-tell-us-about-yourself-email">Email <span class="form-required" title="This field is required.">*</span></label>
              <input required="required" class="email extra_css_class form-text form-email required" type="email" id="edit-submitted-tell-us-about-yourself-email" name="submitted[tell_us_about_yourself][email]" size="60" />
            </div>
            <div  class="inline_input form-item webform-component webform-component-select webform-component--tell-us-about-yourself--attendance">
              <label for="edit-submitted-tell-us-about-yourself-attendance">I Would Like to Attend <span class="form-required" title="This field is required.">*</span></label>
              <select required="required" id="edit-submitted-tell-us-about-yourself-attendance" name="submitted[tell_us_about_yourself][attendance]" class="form-select required">
                <option value="full" selected="selected">Full Time</option>
                <option value="part">Part Time</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="webform-component-fieldset custom_fieldset_class webform-component--demo-fieldset form-wrapper">
          <legend>
            <span class="fieldset-legend">Plan a Visit</span>
          </legend>
          <div class="fieldset-wrapper">
            <div  class="block_input form-item webform-component webform-component-date webform-component--demo-fieldset--attendance-date webform-container-inline">
              <label for="edit-submitted-demo-fieldset-attendance-date">Pick a Date <span class="form-required" title="This field is required.">*</span></label>
              <div class="webform-container-inline">
                <div class="form-item form-type-select form-item-submitted-demo-fieldset-attendance-date-month">
                  <label class="element-invisible" for="edit-submitted-demo-fieldset-attendance-date-month">Month </label>
                  <select class="month form-select" required="required" id="edit-submitted-demo-fieldset-attendance-date-month" name="submitted[demo_fieldset][attendance_date][month]">
                    <option value="">Month</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12" selected="selected">Dec</option>
                  </select>
                </div>
                <div class="form-item form-type-select form-item-submitted-demo-fieldset-attendance-date-day">
                  <label class="element-invisible" for="edit-submitted-demo-fieldset-attendance-date-day">Day </label>
                  <select class="day form-select" required="required" id="edit-submitted-demo-fieldset-attendance-date-day" name="submitted[demo_fieldset][attendance_date][day]">
                    <option value="">Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11" selected="selected">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
                <div class="form-item form-type-select form-item-submitted-demo-fieldset-attendance-date-year">
                  <label class="element-invisible" for="edit-submitted-demo-fieldset-attendance-date-year">Year </label>
                    <select class="year form-select" required="required" id="edit-submitted-demo-fieldset-attendance-date-year" name="submitted[demo_fieldset][attendance_date][year]">
                      <option value="">Year</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015" selected="selected">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                    </select>
                  </div>
                </div>
              </div>
              <div  class="block_input form-item webform-component webform-component-textarea webform-component--demo-fieldset--to-see">
                <label for="edit-submitted-demo-fieldset-to-see">I Would Like to See </label>
                <div class="form-textarea-wrapper resizable">
                  <textarea id="edit-submitted-demo-fieldset-to-see" name="submitted[demo_fieldset][to_see]" cols="60" rows="5" class="form-textarea"></textarea>
                </div>
              </div>
              <div  class="input_columns form-item webform-component webform-component-radios webform-component--demo-fieldset--radio-buttons">
                <label for="edit-submitted-demo-fieldset-radio-buttons">Radio Buttons </label>
                <div id="edit-submitted-demo-fieldset-radio-buttons" class="form-radios">
                  <div class="form-item form-type-radio form-item-submitted-demo-fieldset-radio-buttons">
                    <input type="radio" id="edit-submitted-demo-fieldset-radio-buttons-1" name="submitted[demo_fieldset][radio_buttons]" value="one" class="form-radio" />
                    <label class="option" for="edit-submitted-demo-fieldset-radio-buttons-1">This is the first Value </label>
                  </div>
                  <div class="form-item form-type-radio form-item-submitted-demo-fieldset-radio-buttons">
                    <input type="radio" id="edit-submitted-demo-fieldset-radio-buttons-2" name="submitted[demo_fieldset][radio_buttons]" value="two" class="form-radio" />
                    <label class="option" for="edit-submitted-demo-fieldset-radio-buttons-2">This is the second Value </label>
                  </div>
                  <div class="form-item form-type-radio form-item-submitted-demo-fieldset-radio-buttons">
                    <input type="radio" id="edit-submitted-demo-fieldset-radio-buttons-3" name="submitted[demo_fieldset][radio_buttons]" value="three" class="form-radio" />
                    <label class="option" for="edit-submitted-demo-fieldset-radio-buttons-3">This is the third Value </label>
                  </div>
                  <div class="form-item form-type-radio form-item-submitted-demo-fieldset-radio-buttons">
                    <input type="radio" id="edit-submitted-demo-fieldset-radio-buttons-4" name="submitted[demo_fieldset][radio_buttons]" value="four" class="form-radio" />
                    <label class="option" for="edit-submitted-demo-fieldset-radio-buttons-4">This is the fourth Value </label>
                  </div>
                </div>
              </div>
              <div class="form-item webform-component webform-component-checkboxes webform-component--demo-fieldset--check-boxes">
                <label for="edit-submitted-demo-fieldset-check-boxes">Check Boxes </label>
                <div id="edit-submitted-demo-fieldset-check-boxes" class="form-checkboxes"><div class="form-item form-type-checkbox form-item-submitted-demo-fieldset-check-boxes-foo">
                  <input type="checkbox" id="edit-submitted-demo-fieldset-check-boxes-1" name="submitted[demo_fieldset][check_boxes][foo]" value="foo" class="form-checkbox" />
                  <label class="option" for="edit-submitted-demo-fieldset-check-boxes-1">This is an option </label>
                </div>
                <div class="form-item form-type-checkbox form-item-submitted-demo-fieldset-check-boxes-bar">
                  <input type="checkbox" id="edit-submitted-demo-fieldset-check-boxes-2" name="submitted[demo_fieldset][check_boxes][bar]" value="bar" class="form-checkbox" />
                  <label class="option" for="edit-submitted-demo-fieldset-check-boxes-2">So is this. </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <input type="hidden" name="details[sid]" />
        <input type="hidden" name="details[page_num]" value="1" />
        <input type="hidden" name="details[page_count]" value="1" />
        <input type="hidden" name="details[finished]" value="0" />
        <input type="hidden" name="form_build_id" value="form-EOh5CB6gQNdOvxU63RHH05KWqskqXnCQmBd5bKNCbeE" />
        <input type="hidden" name="form_token" value="VfbDKlWcmlGL9LPUrIhLPP1qem16_RT-hh4Cc7-gOqk" />
        <input type="hidden" name="form_id" value="webform_client_form_63" />
        <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Submit" /></div>
      </div>
    </form>
  </div>
</div>
