<div class="calendar_controls_wrapper margined_lg_bottom">

	<div class="fs-row">

		<div class="fs-cell">

			<div class="background_gray_pale component_controls calendar_controls">

				<form class="calendar_filter_form component_filter_form">
					<fieldset class="calendar_filter_fieldset">
						<label class="visually_hidden calendar_filter_label" for="filter_category">Filter by Category</label>
						<select id="filter_category" class="js-dropdown calendar_filter_select" data-dropdown-options='{"label": "Filter by Category", "customClass": "red_dropdown calendar_filter_dropdown filter_category"}'>
							<option value="Academics">Academics</option>
							<option value="Student Life">Student Life</option>
							<option value="Campus">Campus</option>
							<option value="Arts">Arts</option>
							<option value="Seminar">Seminar</option>
						</select>
					</fieldset>
					<fieldset class="calendar_filter_fieldset">
						<label class="visually_hidden calendar_filter_label" for="filter_date">Filter by Date</label>
						<select id="filter_date" class="js-dropdown calendar_filter_select" data-dropdown-options='{"label":"Filter by Date", "customClass": "red_dropdown calendar_filter_dropdown filter_date"}'>
							<option value="Dec 2015">Dec 2015</option>
							<option value="Jan 2016">Jan 2016</option>
							<option value="Feb 2016">Feb 2016</option>
							<option value="Mar 2016">Mar 2016</option>
							<option value="Apr 2016">Apr 2016</option>
							<option value="May 2016">May 2016</option>
							<option value="Jun 2016">Jun 2016</option>
							<option value="Jul 2016">Jul 2016</option>
							<option value="Aug 2016">Aug 2016</option>
						</select>
					</fieldset>

					<button class="bold_uppercase controls_filter_clear calendar_filter_clear" type="reset">Clear Filters</button>
				</form>

				<a class="link_arrow calendar_controls_link" href="#">Academic Calendar</a>

			</div>

		</div>

	</div>

</div>
