<section id="node-1" class="margined_lg checklist_container">
    <div class="fs-row">
        <div class="fs-cell">
	        <div class="typography clearfix">
            	<h3 class="component_header_block_heading">Name of Checklist</h3>
            	<a href="#" class="color_red bold_uppercase component_header_block_link print_icon">Print List</a>
	        </div>
	        <div class="js_checklist fs-cell-12">
				<form class="checklist_form">
	                <fieldset>
	                    <div class="form-item webform-component webform-component-checkboxes webform-component--demo-fieldset--check-boxes">
	                        <div id="edit-submitted-demo-fieldset-check-boxes" class="form-checkboxes">
	                            <div class="form-item form-type-checkbox form-item-submitted-demo-fieldset-check-boxes-foo check_list">
	                                <input type="checkbox" id="edit-submitted-demo-fieldset-check-boxes-3" name="submitted[demo_fieldset][check_boxes][foo]" value="foo" class="form-checkbox"> <label class="option" for="edit-submitted-demo-fieldset-check-boxes-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi nulla, vestibulum id ligula sed, vehicula rhoncus tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eu nisl feugiat, blandit enim sit amet, ultricies leo. Aenean vitae nisi eget metus porta bibendum. </label>
	                            </div>
	
	                            <div class="form-item form-type-checkbox form-item-submitted-demo-fieldset-check-boxes-bar check_list">
	                                <input type="checkbox" id="edit-submitted-demo-fieldset-check-boxes-4" name="submitted[demo_fieldset][check_boxes][bar]" value="bar" class="form-checkbox"> <label class="option" for="edit-submitted-demo-fieldset-check-boxes-4">How long are the beds? What kind of sheets will I need?</label>
	                            </div>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
	        </div>
        </div>
    </div>
</section>

<section id="node-2" class="margined_lg checklist_container">
    <div class="fs-row">
        <div class="fs-cell">
	        <div class="typography clearfix">
            	<h3 class="component_header_block_heading">Name of Checklist</h3>
            	<a href="#" class="color_red bold_uppercase component_header_block_link print_icon">Print List</a>
	        </div>
	        <div class="js_checklist fs-cell-12">
				<form class="checklist_form">
	                <fieldset>
	                    <div class="form-item webform-component webform-component-checkboxes webform-component--demo-fieldset--check-boxes">
	                        <div id="edit-submitted-demo-fieldset-check-boxes-1" class="form-checkboxes">
	                            <div class="form-item form-type-checkbox form-item-submitted-demo-fieldset-check-boxes-foo check_list">
	                                <input type="checkbox" id="edit-submitted-demo-fieldset-check-boxes-1" name="submitted[demo_fieldset][check_boxes][foo]" value="foo" class="form-checkbox"> <label class="option" for="edit-submitted-demo-fieldset-check-boxes-1">Test </label>
	                            </div>
	
	                            <div class="form-item form-type-checkbox form-item-submitted-demo-fieldset-check-boxes-bar check_list">
	                                <input type="checkbox" id="edit-submitted-demo-fieldset-check-boxes-2" name="submitted[demo_fieldset][check_boxes][bar]" value="bar" class="form-checkbox"> <label class="option" for="edit-submitted-demo-fieldset-check-boxes-2">Test 1</label>
	                            </div>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
	        </div>
        </div>
    </div>
</section>

