<article class="collaborators component_bordered clearfix">
	<div class="fs-row">
		<div class="fs-cell fs-lg-10">
			<h2 class="component_heading">COLLABORATORS</h2>
			<div class="typography">
				<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices magna at magna malesuada tempusunc tempor sapien ac magna.</p>
			</div>
			<a class="callout_link" href="#">INFORMATION ON BECOMING A COLLABORATOR</a>
			<div class="logo_container clearfix">
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					<div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-pseg.png" alt="Public Service Enterprise Group Incorporated"/>
							</div>
							<p>Public Service Enterprise Group Incorporated</p>
						</a>
					</div>
				</div>
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					 <div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-vinyl-institute.png" alt="The Vinyl Institute"/>
							</div>
							<p>The Vinyl Institute</p>
						</a>
					</div>
				</div>
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					<div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-langan.png" alt="Langan Engineering & Environmental Services"/>
							</div>
							<p>Langan Engineering & Environmental Services</p>
						</a>
					</div>
				</div>
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					<div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-green-building-council.png" alt="U.S. Green Building Council: New Jersey Chapter"/>
							</div>
							<p>U.S. Green Building Council: New Jersey Chapter</p>
						</a>
					</div>
				</div>

				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					<div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-pseg.png" alt="Public Service Enterprise Group Incorporated"/>
							</div>
							<p>Public Service Enterprise Group Incorporated</p>
						</a>
					</div>
				</div>
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					 <div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-vinyl-institute.png" alt="The Vinyl Institute"/>
							</div>
							<p>The Vinyl Institute</p>
						</a>
					</div>
				</div>
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					<div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-langan.png" alt="Langan Engineering & Environmental Services"/>
							</div>
							<p>Langan Engineering & Environmental Services</p>
						</a>
					</div>
				</div>
				<div class="fs-cell-contained fs-xs-full fs-sm-half fs-md-fourth fs-lg-fourth logo_col">
					<div class="logo_wrap">
						<a href="#" target="_blank">
							<div class="logo">
								<img src="../images/src/temp/logo-green-building-council.png" alt="U.S. Green Building Council: New Jersey Chapter"/>
							</div>
							<p>U.S. Green Building Council: New Jersey Chapter</p>
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</article>
