<section class="margined_md contact_section">
	<header class="contact_header">
		<div class="fs-row">
			<div class="fs-cell">
				<h2 class="light_uppercase contact_heading">@@heading</h2>
			</div>
		</div>
	</header>
	<div class="contact_body">
		<div class="fs-row">
			<div class="fs-cell fs-lg-5">
				<h3 class="section_break_intro contact_title">@@title</h3>
			</div>
			<div class="fs-cell fs-lg-7">

				<div class="contain contact_container contact_container_col_2">
					<div class="contact_set contact_set_location">
						<h4 class="bold_uppercase color_red contact_set_header">Location On Campus</h4>
						<div class="contact_set_description">
							Ruesterholz Admissions Center 1<br>
							Castle Point Terrace<br>
							Hoboken, NJ 07030
						</div>
					</div>
					<div class="contact_set contact_set_types">
						<h4 class="bold_uppercase color_red contact_set_header">Contact Types</h4>
						<div class="contact_set_description">
							p. 201.216.5194<br>
							e. <a href="mailto:admissions@stevens.edu">admissions@stevens.edu</a><br>
							f. 201.216.8348
						</div>
					</div>
				</div>

				<div class="contain contact_container contact_container_border">
					<h4 class="bold_uppercase color_red contact_set_header contact_set_header_inline">Social Media</h4>
					<div class="contact_set_description contact_set_description_inline contact_set_social_list">
						<a class="contact_set_social_link contact_social_link contact_social_link_twitter" href="#">Twitter</a>
						<a class="contact_set_social_link contact_social_link contact_social_link_facebook" href="#">Facebook</a>
						<a class="contact_set_social_link contact_social_link contact_social_link_instagram" href="#">Instagram</a>
						<a class="contact_set_social_link contact_social_link contact_social_link_linkedin" href="#">Linkedin</a>
						<a class="contact_set_social_link contact_social_link contact_social_link_youtube" href="#">Youtube</a>
					</div>
				</div>

				<div class="contain contact_container contact_container_border">
					<h4 class="bold_uppercase color_red contact_set_header">Department Leaders</h4>
					<div class="contact_set_description">
						<div class="contain contact_set_list">
							<span class="contact_set_list_item contact_set_list_name">Cindy Chin</span>
							<span class="contact_set_list_item contact_set_list_position">Interim Director of Admissions</span>
							<span class="contact_set_list_item contact_set_list_phone">p. 201.216.5194</span>
							<span class="contact_set_list_item contact_set_list_email">e. <a href="#">cchin@stevens.edu</a></span>
						</div>
						<div class="contain contact_set_list">
							<span class="contact_set_list_item contact_set_list_name">Devin Corson</span>
							<span class="contact_set_list_item contact_set_list_position">Admissions Counselot</span>
							<span class="contact_set_list_item contact_set_list_phone">p. 201.216.5194</span>
							<span class="contact_set_list_item contact_set_list_email">e. <a href="#">dcorson@stevens.edu</a></span>
						</div>
						<div class="contain contact_set_list">
							<span class="contact_set_list_item contact_set_list_name">Orteg Dakaj</span>
							<span class="contact_set_list_item contact_set_list_position">Associate Director of International Admissions</span>
							<span class="contact_set_list_item contact_set_list_phone">p. 201.216.5194</span>
							<span class="contact_set_list_item contact_set_list_email">e. <a href="#">odakaj@stevens.edu</a></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
