<article class="clearfix directory_container">

	<div class="fs-cell fs-md-6 fs-lg-6">
		<div class="directory_office">
			<h4 class="directory_heading">@@title</h4>
			<a href="@@url" class="callout_link">@@link</a>
		</div>
	</div>

	<div class="fs-cell fs-md-half fs-lg-3 directory_detail">
		<h4 class="color_red bold_uppercase">Location on Campus</h4>
		<p>@@address1</p>
		<p>@@address2</p>
		<p>@@address3</p>
	</div>

	<div class="fs-cell fs-md-half fs-lg-3 directory_detail">
		<h4 class="color_red bold_uppercase">Contact</h4>
		<p>p. @@phone</p>
		<p>e. <a href="mailto:@@email">@@email</a></p>
		<p>f. @@fax</p>
	</div>

</article>

