<article class="clearfix directory_container">

	<div class="fs-cell fs-md-6 fs-lg-6">
		<div class="directory_office">
			<h4 class="directory_heading">@@name</h4>
			<p>@@title</p>
		</div>
	</div>

	<div class="fs-cell fs-md-3 fs-lg-3 directory_detail">
		<h4 class="color_red bold_uppercase">Location</h4>
		<p>@@building</p>
		<p>@@office</p>
	</div>

	<div class="fs-cell fs-md-3 fs-lg-3 directory_detail">
		<h4 class="color_red bold_uppercase">Contact</h4>
		<p>p. @@phone</p>
		<p>e. <a href="mailto:@@email">@@email</a></p>
	</div>

</article>

