<article class="clearfix events_list_wide_item">
	<div class="fs-row">
		<div class="fs-cell-right fs-md-1 fs-lg-2 events_list_wide_item_figures">
			@@img
		</div>
		<div class="fs-cell fs-md-3 fs-lg-6 events_list_wide_item_content">
			<div class="events_list_wide_item_date">
				<time class="events_list_wide_item_time" datetime="@@datetime">@@time</time>
				<span class="events_list_wide_item_date_divider"></span>
				<span class="events_list_wide_item_cat">@@category</span>
			</div>
			<h3 class="events_list_wide_item_title">@@title</h3>
			<div class="events_list_wide_item_description">
				<p>@@description</p>
			</div>
			<div class="events_list_wide_item_buttons">
				<a class="events_list_wide_item_button events_list_wide_item_button_detail" href="@@url">Event Detail Page</a>
			</div>
		</div>
		<div class="fs-cell fs-md-2 fs-lg-4 events_list_wide_item_locations">
			<div class="events_list_wide_item_location">
				<div class="events_list_wide_item_location_label">Location</div>
				<div class="events_list_wide_item_location_data">@@location</div>
			</div>
			<div class="events_list_wide_item_links">
				@@rsvp
				<a class="events_list_wide_item_link link_button_sm background_teal" href="#">Add to Calendar</a>
			</div>
		</div>
	</div>
</article>
