<figure class="bg_black responsive_image events_list_wide_figure">
	<picture class="events_list_wide_picture">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source media="(min-width: 740px)" srcset="http://spacehold.it/125x125/10">
		<source media="(min-width: 0px)" srcset="http://spacehold.it/80x80/10">
		<!--[if IE 9]></video><![endif]-->
		<img class="events_list_wide_image" src="http://spacehold.it/80x80/10" alt="">
	</picture>
</figure>
