<div class="margined_lg_bottom events_list_wide">

	<div class="events_list_wide_day">

		@@include('events-list-date.html', {
			"date": "14 Oct 2015"
		})

		<div class="events_list_wide_body">

			@@include('events-list-item.html', {
				"datetime": "2015-10-14T18:00",
				"time": "6:00PM - 8:00PM",
				"category": "Academics",
				"title": "Broadcasting Through Adversity",
				"description": "When disaster strikes, how do we keep the public informed? Broadcasting systems can be just as vulnerable as we are during a powerful storm or other disaster, yet they have a crucial job supporting our...",
				"url": "",
				"location": "Canavana Arena - Stevens Campus",
				"rsvp": "@@include('events-list-item-rsvp.html')",
				"img": ""
			})

			@@include('events-list-item.html', {
				"datetime": "2015-10-14",
				"time": "All Day",
				"category": "Seminar, Academics",
				"title": "Financial Engineering Seminar: Alan Hawkes Flash Crashes, Jumps and Running Jumps: A New Method for Jump Detection",
				"description": "While developing a new jump-diffusion process for asset prices in which identifiable price jumps are likely to show a clustering, or contagious effect, we need to identify the number, location and magnitudes of jumps each trading",
				"url": "",
				"location": "Babbio 122",
				"rsvp": "",
				"img": "@@include('events-list-item-image.html')"
			})

			@@include('events-list-item.html', {
				"datetime": "2015-10-14T17:00",
				"time": "5:00PM - 7:00PM",
				"category": "Campus",
				"title": "BlackRock Information Session",
				"description": "BlackRock was founded over 27 years ago by eight entrepreneurs who wanted to start a very different company. One that combined the best of a financial leader and a technology pioneer. And one that focused many diverse views on a…",
				"url": "",
				"location": "Bissinger Room, 4th Fl. - The Howe Center",
				"rsvp": "",
				"img": ""
			})

			@@include('events-list-item.html', {
				"datetime": "2015-10-14T08:00",
				"time": "8:00AM - 9:00AM",
				"category": "Arts",
				"title": "Humanities and the Arts Visit Day",
				"description": "When disaster strikes, how do we keep the public informed? Broadcasting systems can be just as vulnerable as we are during a powerful storm or other disaster, yet they have a crucial job supporting our… ",
				"url": "",
				"location": "The Howe Center",
				"rsvp": "",
				"img": "@@include('events-list-item-image.html')"
			})

		</div>

	</div>

	<div class="events_list_wide_day">

		@@include('events-list-date.html', {
			"date": "15 Oct 2015"
		})

		<div class="events_list_wide_body">

			@@include('events-list-item.html', {
				"datetime": "2015-10-14T18:00",
				"time": "6:00PM - 8:00PM",
				"category": "Academics",
				"title": "Broadcasting Through Adversity",
				"description": "When disaster strikes, how do we keep the public informed? Broadcasting systems can be just as vulnerable as we are during a powerful storm or other disaster, yet they have a crucial job supporting our...",
				"url": "",
				"location": "Canavana Arena - Stevens Campus",
				"rsvp": "@@include('events-list-item-rsvp.html')",
				"img": ""
			})

			@@include('events-list-item.html', {
				"datetime": "2015-10-14",
				"time": "All Day",
				"category": "Seminar, Academics",
				"title": "Financial Engineering Seminar: Alan Hawkes Flash Crashes, Jumps and Running Jumps: A New Method for Jump Detection",
				"description": "While developing a new jump-diffusion process for asset prices in which identifiable price jumps are likely to show a clustering, or contagious effect, we need to identify the number, location and magnitudes of jumps each trading",
				"url": "",
				"location": "Babbio 122",
				"rsvp": "",
				"img": "@@include('events-list-item-image.html')"
			})

			@@include('events-list-item.html', {
				"datetime": "2015-10-14T17:00",
				"time": "5:00PM - 7:00PM",
				"category": "Campus",
				"title": "BlackRock Information Session",
				"description": "BlackRock was founded over 27 years ago by eight entrepreneurs who wanted to start a very different company. One that combined the best of a financial leader and a technology pioneer. And one that focused many diverse views on a…",
				"url": "",
				"location": "Bissinger Room, 4th Fl. - The Howe Center",
				"rsvp": "",
				"img": ""
			})

			@@include('events-list-item.html', {
				"datetime": "2015-10-14T08:00",
				"time": "8:00AM - 9:00AM",
				"category": "Arts",
				"title": "Humanities and the Arts Visit Day",
				"description": "When disaster strikes, how do we keep the public informed? Broadcasting systems can be just as vulnerable as we are during a powerful storm or other disaster, yet they have a crucial job supporting our… ",
				"url": "",
				"location": "The Howe Center",
				"rsvp": "",
				"img": "@@include('events-list-item-image.html')"
			})

		</div>

	</div>

</div>
