<article class="clearfix events_item events_list_item component_columns_item">
	<figure class="bg_black responsive_image events_item_figure events_list_item_figure">
		<picture class="events_item_picture events_list_item_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 980px)" srcset="http://spacehold.it/125x125/@@image">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/80x80/@@image">
			<!--[if IE 9]></video><![endif]-->
			<img class="events_item_image events_list_item_image" src="http://spacehold.it/80x80/@@image" alt="@@alt">
		</picture>
	</figure>
	<div class="events_item_content events_list_item_content">
		<time class="events_item_date events_list_item_date" datetime="2015-10-21">
			<span class="events_list_item_day">@@date</span> <span class="events_list_item_time">@@time</span>
		</time>
		<h3 class="events_item_title events_list_item_title">
			<a class="events_item_title_link events_list_item_title_link" href="@@url">@@title</a>
		</h3>
		<div class="events_item_description events_list_item_description">
			<p>@@description</p>
		</div>
	</div>
</article>
