<section class="component_bordered events_list_section component_columns content_loader">

	<header class="component_header_block events_list_header">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="component_header_block_wrapper">
					<h2 class="js-content_swap component_heading component_header_block_heading events_list_heading" data-content-swap-mobile="@@short_heading" data-content-swap-default="@@heading">@@heading</h2>
					<a class="js-content_swap link_arrow component_header_block_link events_list_all" href="#" data-content-swap-mobile="All" data-content-swap-default="View All Events">View All Events</a>
				</div>
			</div>
		</div>
	</header>

	<div class="events_list">

		<div class="fs-row">

			<div class="fs-cell">

				<div class="content_set content_set_active js-loaded">

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "21 Aug 2015",
						"time": "9:00AM",
						"title": "CIA New York City Hiring Event",
						"description": "Bibendum Sollicitudin Tellus Justo"
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "21 Aug 2015",
						"time": "3:00AM",
						"title": "Business Intelligence &amp; Analytics Online Information Session",
						"description": "Bibendum Sollicitudin Tellus Justo"
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "12 sep 2015",
						"time": "9:00AM",
						"title": "Death Cab for Cutie Concert",
						"description": ""
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "23 Sep 2015",
						"time": "9:00AM",
						"title": "Fall Festival on the Lawn",
						"description": ""
					})

				</div>

				<div class="content_set">

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "21 Aug 2015",
						"time": "9:00AM",
						"title": "CIA New York City Hiring Event",
						"description": "Bibendum Sollicitudin Tellus Justo"
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "21 Aug 2015",
						"time": "3:00AM",
						"title": "Business Intelligence &amp; Analytics Online Information Session",
						"description": "Bibendum Sollicitudin Tellus Justo"
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "12 sep 2015",
						"time": "9:00AM",
						"title": "Death Cab for Cutie Concert",
						"description": ""
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "23 Sep 2015",
						"time": "9:00AM",
						"title": "Fall Festival on the Lawn",
						"description": ""
					})

				</div>

				<div class="content_set">

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "21 Aug 2015",
						"time": "9:00AM",
						"title": "CIA New York City Hiring Event",
						"description": "Bibendum Sollicitudin Tellus Justo"
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "21 Aug 2015",
						"time": "3:00AM",
						"title": "Business Intelligence &amp; Analytics Online Information Session",
						"description": "Bibendum Sollicitudin Tellus Justo"
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "12 sep 2015",
						"time": "9:00AM",
						"title": "Death Cab for Cutie Concert",
						"description": ""
					})

					@@include('events-columns-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "23 Sep 2015",
						"time": "9:00AM",
						"title": "Fall Festival on the Lawn",
						"description": ""
					})

				</div>

			</div>

		</div>

	</div>

	<footer class="events_list_footer">

		<div class="fs-row">

			<div class="fs-cell">
				<button class="load_more_button load_more_button_full events_list_more">Load More Events</button>
			</div>

		</div>

	</footer>

</section>
