<section class="component highlight_group js-background"
	data-background-options='{"source":{"0px":"//spacehold.it/470x352/@@background.jpg","740px":"//spacehold.it/980x500/@@background.jpg","980px":"//spacehold.it/1220x600/@@background.jpg","1220px":"//spacehold.it/1440x600/@@background.jpg"}}'>
	<div class="fs-row relative">
		<header class="fs-cell component_header highlight_group_header">
			<h2 class="component_heading highlight_group_heading">@@heading</h2>
			<div class="component_content highlight_group_content">
				@@content
			</div>
		</header>
	</div>
	<div class="highlight_group_carousel_container">
		<div class="carousel_controls highlight_group_controls">
			<button class="carousel_control highlight_group_control highlight_group_control_previous">Previous</button>
			<button class="carousel_control highlight_group_control highlight_group_control_next">Next</button>
		</div>
		<div class="fs-row">
			<div class="fs-cell">

				<div class="highlight_group_carousel js-carousel" data-carousel-options='{"contained":false,"matchHeight":true,"show":{"740px":2,"980px":3,"1220px":1},"controls":{"container":".highlight_group_controls","previous":".highlight_group_control_previous","next":".highlight_group_control_next"}}'>

					<!-- Page 1 -->

					@@include('highlight-group-callout.html', {
						"type": "small",
						"color": "teal",
						"image": "",
						"heading" : "A Valuable Investment",
						"content": "<p>We have a stellar record of <a href=\"#\">graduate school</a> and employment outcomes for students across all majors and disciplines.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">MORE ABOUT THE STEVENS CAREER CENTER</a>"
					})
					@@include('highlight-group-callout.html', {
						"type": "small",
						"color": "orange",
						"image": "",
						"heading" : "Real-World Experience",
						"content": "<p>The Stevens Institute of Technology offers <a href=\"#\">invaluable opportunities</a> to work with corporations changing the world.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Explore Corporate Partnerships</a>"
					})
					@@include('highlight-group-callout.html', {
						"type": "large",
						"color": "red",
						"image": "<figure class=\"highlight_group_callout_figure\"><picture class=\"responsive_image highlight_group_callout_image\"><!--[if IE 9]><video style=\"display: none;\"><![endif]--><source media=\"(min-width: 1220px)\" srcset=\"http://spacehold.it/470x470/3.jpg\"><!--[if IE 9]></video><![endif]--><img src=\"http://spacehold.it/294x165\/3.jpg\" alt=\"\" draggable=\"false\"></picture></figure>",
						"heading" : "Help Us Realize Our Vision",
						"content": "<p>In the first five years of our <a href=\"#\">ambitious plan</a> we hope to raise $70 million. Your gift, big or small, carries us closer to our goal.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Give Now</a>"
					})

					<!-- Page 2 -->

					@@include('highlight-group-callout.html', {
						"type": "small",
						"color": "white",
						"image": "",
						"heading" : "Venenatis Nullam Vehicula Vestibulum",
						"content": "<p>Vivamus sagittis lacus vel <a href=\"#\">augue laoreet</a> rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Sollicitudin Tortor Ornare Vestibulum Dapibus</a>"
					})
					@@include('highlight-group-callout.html', {
						"type": "small",
						"color": "black",
						"image": "",
						"heading" : "Etiam Vulputate Fusce Cursus Purus",
						"content": "<p>Vestibulum id ligula <a href=\"#\">porta felis euismod</a> semper. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Nibh Sollicitudin Ipsum Ridiculus</a>"
					})
					@@include('highlight-group-callout.html', {
						"type": "small",
						"color": "gray",
						"image": "",
						"heading" : "Cum sociis natoque penatibus et magnis dis",
						"content": "<p>Curabitur blandit tempus <a href=\"#\">porttitor</a>. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Consectetur Vulputate Ipsum</a>"
					})
					@@include('highlight-group-callout.html', {
						"type": "small",
						"color": "red",
						"image": "",
						"heading" : "Purus Parturient Adipiscing",
						"content": "<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Sem Inceptos</a>"
					})

					<!-- Page 3 -->

					@@include('highlight-group-callout.html', {
						"type": "large",
						"color": "black",
						"image": "<figure class=\"highlight_group_callout_figure\"><picture class=\"responsive_image highlight_group_callout_image\"><!--[if IE 9]><video style=\"display: none;\"><![endif]--><source media=\"(min-width: 1220px)\" srcset=\"http://spacehold.it/470x470/6.jpg\"><!--[if IE 9]></video><![endif]--><img src=\"http://spacehold.it/294x165/6.jpg\" alt=\"\" draggable=\"false\"></picture></figure>",
						"heading" : "Cras justo odio dapibus ac ",
						"content": "<p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Vulputate Quam Tortor Pellentesque Fusce</a>"
					})
					@@include('highlight-group-callout.html', {
						"type": "large",
						"color": "gray",
						"image": "<figure class=\"highlight_group_callout_figure\"><picture class=\"responsive_image highlight_group_callout_image\"><!--[if IE 9]><video style=\"display: none;\"><![endif]--><source media=\"(min-width: 1220px)\" srcset=\"http://spacehold.it/470x470/8.jpg\"><!--[if IE 9]></video><![endif]--><img src=\"http://spacehold.it/294x165/8.jpg\" alt=\"\" draggable=\"false\"></picture></figure>",
						"heading" : "Lorem Mollis Adipiscing",
						"content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>",
						"link": "<a href=\"#\" class=\"callout_link highlight_group_callout_link\">Amet Fermentum Dapibus</a>"
					})

				</div>

			</div>
		</div>
	</div>

</section>
