<article class="callout highlight_group_callout @@type @@color">
	@@image
	<div class="callout_contain highlight_group_callout_contain">
		<h3 class="highlight_group_callout_heading">@@heading</h3>
		<div class="callout_content highlight_group_callout_content">
			@@content
		</div>
		@@link
	</div>
</article>