<article class="homepage_callout_spotlight">
	<figure class="homepage_callout_spotlight_figure">
		<picture class="responsive_image homepage_callout_spotlight_image">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 740px)" srcset="http://spacehold.it/300x300/@@image.jpg">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/100x100/@@image.jpg">
			<!--[if IE 9]></video><![endif]-->
			<img src="http://spacehold.it/100x100/@@image.jpg" alt="" draggable="false">
		</picture>
	</figure>
	<h2 class="homepage_callout_spotlight_heading">@@heading</h2>
	<div class="homepage_callout_spotlight_content">
		<div class="homepage_callout_spotlight_text">
			@@text
		</div>
		<a href="#" class="homepage_callout_spotlight_link">@@link</a>
	</div>
</article>