<article class="homepage_gallery_item js-video_embed" data-video-source="https://www.youtube.com/watch?v=@@video" data-video-container=".homepage_gallery_item_video_container">
	<div class="homepage_gallery_item_inner">
		<div class="homepage_gallery_item_video_container"></div>
		<figure class="homepage_gallery_item_figure js-background js-video_embed_handle" data-background-options='{"source":{"0px":"http://spacehold.it/500x333/5.jpg","500px":"http://spacehold.it/740x494/5.jpg","740px":"http://spacehold.it/980x653/5.jpg","980px":"http://spacehold.it/740x416/5.jpg","1220px":"http://spacehold.it/980x551/5.jpg"}}'></figure>
	</div>
</article>