<article class="homepage_gallery_item image js-toggle">
	<div class="homepage_gallery_item_inner">
		<figure class="homepage_gallery_item_figure js-background" data-background-options='{"source":{"0px":"http://spacehold.it/500x333/2.jpg","500px":"http://spacehold.it/740x494/2.jpg","740px":"http://spacehold.it/980x653/2.jpg","980px":"http://spacehold.it/740x416/2.jpg","1220px":"http://spacehold.it/980x551/2.jpg"}}'>
			<figcaption class="homepage_gallery_item_caption js-toggle_handle">
				<div class="homepage_gallery_item_caption_content">
					<h3 class="homepage_gallery_item_caption_label">@@label</h3>
					<div class="homepage_gallery_item_caption_text typography">
						@@text
					</div>
					<a href="#" class="homepage_gallery_item_caption_link">@@link</a>
				</div>
			</figcaption>
		</figure>
	</div>
</article>
