<article class="homepage_callout_people">
	<figure class="homepage_callout_people_figure">
		<picture class="responsive_image homepage_callout_people_image">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 1220px)" srcset="http://spacehold.it/400x300/@@image.jpg">
			<source media="(min-width: 980px)" srcset="http://spacehold.it/322x300/@@image.jpg">
			<source media="(min-width: 740px)" srcset="http://spacehold.it/400x300/@@image.jpg">
			<source media="(min-width: 500px)" srcset="http://spacehold.it/740x555/@@image.jpg">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/500x375/@@image.jpg">
			<!--[if IE 9]></video><![endif]-->
			<img src="http://spacehold.it/500x375/@@image.jpg" alt="" draggable="false">
		</picture>
		<figcaption class="homepage_callout_people_content">
			<h3 class="homepage_callout_people_heading">@@heading</h3>
			<div class="homepage_callout_people_text">
				@@text
			</div>
		</figcaption>
	</figure>
</article>