<article class="homepage_social_media_callout instagram">
	<div class="homepage_social_media_callout_content">
		<a class="homepage_social_media_callout_link" href="@@link">
			<figure class="bg_black responsive_image homepage_social_media_callout_figure">
				<picture class="homepage_social_media_callout_picture">
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 1220px)" srcset="http://spacehold.it/288x288/@@image">
					<source media="(min-width: 740px)" srcset="http://spacehold.it/346x346/@@image">
					<source media="(min-width: 500px)" srcset="http://spacehold.it/288x288/@@image">
					<!--[if IE 9]></video><![endif]-->
					<img class="homepage_social_media_callout_image" src="http://spacehold.it/500x500/@@image" alt="@@alt">
				</picture>
			</figure>
		</a>
	</div>
</article>
