<article class="homepage_social_media_callout twitter">
	<header class="homepage_social_media_callout_header">
		<a href="https://twitter.com/@@userName" class="homepage_social_media_twitter_user_link" target="_blank">
			<img src="@@userImage" class="homepage_social_media_twitter_user_image" alt="">
			<h3 class="homepage_social_media_twitter_user_name">@@@userName</h3>
		</a>
		<a href="https://twitter.com/@@userName/status/@@id" class="homepage_social_media_twitter_tweet_link" target="_blank">@@time</a>
	</header>
	<div class="homepage_social_media_callout_content">
		@@tweet
	</div>
	<footer class="homepage_social_media_callout_footer">
		<a class="homepage_social_media_tweet_intent reply" href="https://twitter.com/intent/tweet?in_reply_to=@@id">Reply</a>
		<a class="homepage_social_media_tweet_intent like" href="https://twitter.com/intent/like?tweet_id=@@id">Like</a>
		<a class="homepage_social_media_tweet_intent retweet" href="https://twitter.com/intent/retweet?tweet_id=@@id">Retweet</a>
	</footer>
</article>
