<div class="homepage_gallery_carousel js-homepage_gallery_carousel_@@count js-carousel" data-carousel-options='{"matchHeight":true,"show":{"980px":2}}'>

	@@include('homepage-gallery-callout-image.html', {
		"label": "Arts on Campus",
		"text": "<p>Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>",
		"link": "Learn More"
	})

	@@include('homepage-gallery-callout-video.html', {
		"video": "-tm5x150Sow"
	})

	@@include('homepage-gallery-callout-video.html', {
		"video": "SqDqFXkXxw4"
	})

	@@include('homepage-gallery-callout-image.html', {
		"label": "Mattis Lorem Vehicula Ornare",
		"text": "<p>Donec sed odio dui. Curabitur blandit tempus porttitor.</p>",
		"link": "Sollicitudin Tristique Parturient"
	})

</div>