<section class="component homepage_social_media">
	<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading homepage_social_media_heading">@@heading</h2>
			<div class="component_text homepage_social_media_text">@@text @@link</div>
		</header>
	</div>
	<div class="homepage_social_media_callouts">
		<div class="carousel_controls homepage_social_media_controls">
			<button class="carousel_control homepage_social_media_control homepage_social_media_control_previous">Previous</button>
			<button class="carousel_control homepage_social_media_control homepage_social_media_control_next">Next</button>
		</div>
		<div class="fs-row homepage_social_media_full">
			<div class="fs-cell homepage_social_media_full">

				<div class="homepage_social_media_carousel js-carousel" data-carousel-options='{"contained":false,"matchHeight":true,"show":{"740px":2,"980px":3,"1220px":4},"controls":{"container":".homepage_social_media_controls","previous":".homepage_social_media_control_previous","next":".homepage_social_media_control_next"}}'>

					@@include('homepage-social-media-callout-twitter.html', {
						"color": "teal",
						"userImage": "https://pbs.twimg.com/profile_images/423931699903217664/xCvmW1ty.jpeg",
						"userName": "FollowStevens",
						"time": "121d",
						"tweet": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma . Aenean massa. Cum sociis natoque penatibus et ma</p>",
						"id": "632360266248912897"
					})

					@@include('homepage-social-media-callout-instagram.html', {
						"link": "https://www.instagram.com/p/BBBF7_Skl5z/",
						"image": "1"
					})

					@@include('homepage-social-media-callout-twitter.html', {
						"color": "teal",
						"userImage": "https://pbs.twimg.com/profile_images/423931699903217664/xCvmW1ty.jpeg",
						"userName": "FollowStevens",
						"time": "121d",
						"tweet": "<p>Incoming freshmen, we look forward to seeing you on campus. Please use <a href=\"#\">#stevensorientation</a> to share your experience! <a href=\"#\">#futureduck</a> <a href=\"#\">#nj</a></p>",
						"id": "632360266248912897"
					})

					@@include('homepage-social-media-callout-twitter.html', {
						"color": "teal",
						"userImage": "https://pbs.twimg.com/profile_images/423931699903217664/xCvmW1ty.jpeg",
						"userName": "FollowStevens",
						"time": "121d",
						"tweet": "<p>Incoming freshmen, we look forward to seeing you on campus. Please use <a href=\"#\">#stevensorientation</a> to share your experience! <a href=\"#\">#futureduck</a> <a href=\"#\">#nj</a></p>",
						"id": "632360266248912897"
					})

					@@include('homepage-social-media-callout-twitter.html', {
						"color": "teal",
						"userImage": "https://pbs.twimg.com/profile_images/423931699903217664/xCvmW1ty.jpeg",
						"userName": "FollowStevens",
						"time": "121d",
						"tweet": "<p>Incoming freshmen, we look forward to seeing you on campus. Please use <a href=\"#\">#stevensorientation</a> to share your experience! <a href=\"#\">#futureduck</a> <a href=\"#\">#nj</a></p>",
						"id": "632360266248912897"
					})

					@@include('homepage-social-media-callout-twitter.html', {
						"color": "teal",
						"userImage": "https://pbs.twimg.com/profile_images/423931699903217664/xCvmW1ty.jpeg",
						"userName": "FollowStevens",
						"time": "121d",
						"tweet": "<p>Incoming freshmen, we look forward to seeing you on campus. Please use <a href=\"#\">#stevensorientation</a> to share your experience! <a href=\"#\">#futureduck</a> <a href=\"#\">#nj</a></p>",
						"id": "632360266248912897"
					})

					@@include('homepage-social-media-callout-twitter.html', {
						"color": "teal",
						"userImage": "https://pbs.twimg.com/profile_images/423931699903217664/xCvmW1ty.jpeg",
						"userName": "FollowStevens",
						"time": "121d",
						"tweet": "<p>Incoming freshmen, we look forward to seeing you on campus. Please use <a href=\"#\">#stevensorientation</a> to share your experience! <a href=\"#\">#futureduck</a> <a href=\"#\">#nj</a></p>",
						"id": "632360266248912897"
					})

				</div>
			</div>
		</div>
	</div>
</section>
