<section class="homepage_gallery">
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading js-content_swap" data-content-swap-mobile="@@short_heading" data-content-swap-default="@@heading">@@heading</h2>
			<div class="component_text">@@text</div>
		</header>
		<menu class="fs-cell homepage_gallery_buttons">

			<button class="homepage_gallery_button js-content_swap js-swap" data-content-swap-mobile="Life" data-content-swap-tablet="Campus Life" data-content-swap-default="Life on Campus" data-swap-options='{"collapse":false}' data-swap-group="homepage_gallery" data-swap-target=".js-homepage_gallery_carousel_1">Life on Campus</button>

			<button class="homepage_gallery_button js-content_swap js-swap" data-content-swap-mobile="Location" data-content-swap-default="Our Location" data-swap-options='{"collapse":false}' data-swap-group="homepage_gallery" data-swap-target=".js-homepage_gallery_carousel_2">Our Location</button>

			<button class="homepage_gallery_button js-content_swap js-swap" data-content-swap-mobile="Learning" data-content-swap-default="Learning at Stevens" data-swap-options='{"collapse":false}' data-swap-group="homepage_gallery" data-swap-target=".js-homepage_gallery_carousel_3">Learning at Stevens</button>

			<button class="homepage_gallery_button js-content_swap js-swap" data-content-swap-mobile="Legacy" data-content-swap-default="Our Legacy" data-swap-options='{"collapse":false}' data-swap-group="homepage_gallery" data-swap-target=".js-homepage_gallery_carousel_4">Our Legacy</button>

		</menu>
	</div>
	<div class="fs-row homepage_gallery_carousels">
		<div class="fs-cell homepage_gallery_carousels_container">

			@@include('homepage-gallery-carousel.html', {
				"count": 1
			})

			@@include('homepage-gallery-carousel.html', {
				"count": 2
			})

			@@include('homepage-gallery-carousel.html', {
				"count": 3
			})

			@@include('homepage-gallery-carousel.html', {
				"count": 4
			})

		</div>
	</div>
</section>