<section class="component homepage_callouts">
	<div class="fs-row">
		<div class="fs-cell fs-lg-7 homepage_callouts_spotlight">
			<div class="homepage_callouts_spotlight_inner">
				<h2 class="homepage_callouts_heading">Spotlight</h2>
				@@include('homepage-callout-spotlight.html', {
					"image": "3",
					"heading": "The Future. Ours to Create.",
					"text": "<p>Transforming Stevens, so we can transform the world.</p>",
					"link": "Read Our Strategic Plan"
				})
			</div>
		</div>
		<div class="fs-cell fs-lg-4 fs-lg-push-1 homepage_callouts_people">
			<div class="homepage_callouts_people_inner">
				<h2 class="homepage_callouts_heading">People of Stevens</h2>
				<div class="homepage_callouts_people_carousel js-carousel" data-carousel-options='{"matchHeight":true,"show":{"740px":2,"980px":1}}'>
					@@include('homepage-callout-people.html', {
						"image": "5",
						"heading": "Androkles Ambrosio ‘15",
						"text": "<p><a href=\"#\">Business and Technology</a> Major</p>"
					})
					@@include('homepage-callout-people.html', {
						"image": "8",
						"heading": "Sarah Gleason ‘16",
						"text": "<p><a href=\"#\">Business and Technology</a> Major</p>"
					})
					@@include('homepage-callout-people.html', {
						"image": "9",
						"heading": "John J. Johnson ‘29",
						"text": "<p><a href=\"#\">Business and Technology</a> Major</p>"
					})
				</div>
			</div>
		</div>
	</div>
</section>
