<section class="margined_lg dates_section">

	<header class="component_header_block component_header_block_border dates_header">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="component_header_block_wrapper">
					<h2 class="component_heading component_header_block_heading">@@heading</h2>
					<a class="link_arrow component_header_block_link" href="#">@@viewall</a>
				</div>
			</div>
		</div>
	</header>

	<div class="dates_list">

		<div class="fs-row">

			@@include('important-dates-item.html', {
				"url": "#",
				"date": "15 Oct 2015",
				"title": "Accelerated Pre-Medicine Applicantions must be submitted by October 15"
			})

			@@include('important-dates-item.html', {
				"url": "#",
				"date": "01 Nov 2015",
				"title": "For those interested in transfering to Stevens during the Spring Semester, applications are due November 11"
			})

			@@include('important-dates-item.html', {
				"url": "#",
				"date": "12 Nov 2015",
				"title": "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
			})

		</div>

	</div>

</section>
