<article class="fs-cell fs-lg-4 dates_item">
	<a class="dates_item_link" href="@@url">
		<h3 class="dates_item_date">@@date</h3>
		<div class="callout_body dates_item_title">@@title</div>
	</a>
</article>
