<div class="margined_md link_list link_list_sidebar">
	<header class="link_list_header link_list_sidebar_header">
		<h2 class="bold_uppercase color_red link_list_heading link_list_sidebar_heading">@@heading</h2>
	</header>
	<div class="link_list_body link_list_sidebar_body">
		@@include('link-list-sidebar-item.html', {
			"url": "#",
			"title": "Biology"
		})

		@@include('link-list-sidebar-item.html', {
			"url": "#",
			"title": "Chemical Biology"
		})

		@@include('link-list-sidebar-item.html', {
			"url": "#",
			"title": "Graduate Chemical Biology"
		})

		@@include('link-list-sidebar-item.html', {
			"url": "#",
			"title": "Biomedical Engineering"
		})
	</div>
</div>
