<div class="margined_md link_list link_list_in_content">
	<header class="link_list_header link_list_in_content_header">
		<h2 class="link_list_heading link_list_in_content_heading">@@heading</h2>
	</header>
	<div class="link_list_body link_list_in_content_body">
		@@include('link-list-item.html', {
			"url": "#",
			"title": "Center for Environmental Systems"
		})

		@@include('link-list-item.html', {
			"url": "#",
			"title": "Nicoll Environmental Laboratory"
		})

		@@include('link-list-item.html', {
			"url": "#",
			"title": "Keck Geoenvironmental Lab"
		})
	</div>
</div>
