<div class="media_item media_grid_item">
	<a class="js-lightbox block media_item_link @@class" data-lightbox-gallery="media_gallery" href="@@url" title="@@description">
		<figure class="media_item_figure">
			<picture class="responsive_image media_item_picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 1220px)" srcset="http://spacehold.it/350x234/@@image.jpg">
				<source media="(min-width: 980px)" srcset="http://spacehold.it/280x187/@@image.jpg">
				<source media="(min-width: 740px)" srcset="http://spacehold.it/330x220/@@image.jpg">
				<source media="(min-width: 500px)" srcset="http://spacehold.it/470x314/@@image.jpg">
				<source media="(min-width: 0px)" srcset="http://spacehold.it/294x196/@@image.jpg">
				<!--[if IE 9]></video><![endif]-->
				<img class="media_item_image" src="http://spacehold.it/294x196/@@image.jpg" alt="@@alt" draggable="false">
			</picture>
		</figure>
		<div class="media_item_link_icon">
			<span class="visually_hidden media_item_link_text">Expand Lightbox</span>
		</div>
	</a>
	<div class="callout_body media_item_description">
		<p>@@description</p>
	</div>
</div>
