<section class="component media_gallery">
	<div class="fs-row">
		<header class="component_header">
			<div class="fs-cell">
				<h2 class="component_heading">@@heading</h2>
			</div>
			<div class="fs-cell fs-lg-10">
				<div class="media_gallery_description">
					<div class="typography">
						<p class="intro">@@description</p>
					</div>
				</div>
			</div>
		</header>
	</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="media_gallery_body media_gallery_grid">
				<div class="js-carousel carousel_block_pager carousel_pager_grouped_right news_feature_carousel" data-carousel-options='{"contained": false, "controls": false, "maxWidth": "739px"}'>

					@@include('media-gallery-item.html', {
						"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
						"image": "10",
						"alt": "",
						"description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.",
						"class": "video_link"
					})

					@@include('media-gallery-item.html', {
						"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
						"image": "9",
						"alt": "",
						"description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
						"class": ""
					})

					@@include('media-gallery-item.html', {
						"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
						"image": "8",
						"alt": "",
						"description": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.",
						"class": ""
					})

					@@include('media-gallery-item.html', {
						"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
						"image": "7",
						"alt": "",
						"description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.",
						"class": ""
					})

					@@include('media-gallery-item.html', {
						"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
						"image": "6",
						"alt": "",
						"description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
						"class": ""
					})

				</div>
			</div>
		</div>
	</div>
</section>
