<div class="background_gray_pale component_controls news_controls">

	<form class="news_filter_form component_filter_form">
		<fieldset class="news_filter_fieldset">
			<label class="visually_hidden news_filter_label" for="filter_category">Filter by Category</label>
			<select id="filter_category" class="js-dropdown news_filter_select" data-dropdown-options='{"label": "Filter by Category", "customClass": "red_dropdown news_filter_dropdown filter_category"}'>
				<option value="Campus News">Campus News</option>
				<option value="Research News">Research News</option>
			</select>
		</fieldset>
		<fieldset class="news_filter_fieldset">
			<label class="visually_hidden news_filter_label" for="filter_date">Filter by Date</label>
			<select id="filter_date" class="js-dropdown news_filter_select" data-dropdown-options='{"label":"Filter by Date", "customClass": "red_dropdown news_filter_dropdown filter_date"}'>
				<option value="Dec 2015">Dec 2015</option>
				<option value="Jan 2016">Jan 2016</option>
				<option value="Feb 2016">Feb 2016</option>
				<option value="Mar 2016">Mar 2016</option>
				<option value="Apr 2016">Apr 2016</option>
				<option value="May 2016">May 2016</option>
				<option value="Jun 2016">Jun 2016</option>
				<option value="Jul 2016">Jul 2016</option>
				<option value="Aug 2016">Aug 2016</option>
			</select>
		</fieldset>
	</form>

	<form action="#" class="search_form news_search_form">
		<input type="text" class="search_input news_search_input">
		<button class="search_submit news_search_submit" type="submit">
			<span class="visually_hidden">Search</span>
		</button>
	</form>

</div>
