<article class="clearfix news_item news_list_item component_columns_item">
	<figure class="bg_black responsive_image news_item_figure news_list_item_figure">
		<picture class="news_item_picture news_list_item_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 980px)" srcset="http://spacehold.it/174x116/@@image">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/80x80/@@image">
			<!--[if IE 9]></video><![endif]-->
			<img class="news_item_image news_list_item_image" src="http://spacehold.it/80x80/@@image" alt="@@alt">
		</picture>
	</figure>
	<div class="news_item_content news_list_item_content">
		<div class="news_item_body news_list_item_body">
			<h3 class="news_item_title news_list_item_title">
				<a class="news_item_title_link news_list_item_title_link" href="@@url">@@title</a>
			</h3>
		</div>
		<footer class="news_item_footer news_list_item_footer">
			<time class="news_item_date news_list_item_date" datetime="2015-10-08">@@date</time>
			<span class="news_item_cat news_list_item_cat">@@category</span>
		</footer>
	</div>
</article>
