<article class="clearfix news_item news_list_item">

	<div class="news_item_content news_list_item_content">

		<header class="news_item_header news_list_item_header">
			<time class="news_item_date news_list_item_date" datetime="2015-10-08">@@date</time>
			<span class="news_item_cat news_list_item_cat">@@source</span>
		</header>

		<div class="news_item_body news_list_item_body">
			<h3 class="news_item_title news_list_item_title">
				<a class="news_item_title_link news_list_item_title_link" href="@@url">@@title</a>
			</h3>
		</div>

	</div>

</article>
