<section class="margined_lg_top component_bordered news_list_section news_list_full_width content_loader">

	<div class="news_list">

		<div class="fs-row">

			<div class="fs-cell">

				<div class="content_set content_set_active js-loaded">

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "08 Aug 2015",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "05 Aug 2015",
						"title": "The Future of Coastal Living",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "05 Aug 2015",
						"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices.",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "08 Aug 2015",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

				</div>

				<div class="content_set">

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "08 Aug 2015",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "05 Aug 2015",
						"title": "The Future of Coastal Living",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "05 Aug 2015",
						"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices.",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "08 Aug 2015",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

				</div>

				<div class="content_set">

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "08 Aug 2015",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "05 Aug 2015",
						"title": "The Future of Coastal Living",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "05 Aug 2015",
						"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices.",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

					@@include('news-list-full-width-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "08 Aug 2015",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management",
						"description": "Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula."
					})

				</div>

			</div>

		</div>

	</div>

	<footer class="news_list_footer">

		<div class="fs-row">

			<div class="fs-cell">
				<button class="load_more_button load_more_button_full news_list_more">Load More News</button>
			</div>

		</div>

	</footer>

</section>
