<article class="news_item news_sidebar_item news_related_item">
	<h3 class="news_item_title news_related_item_title">
		<a class="news_item_title_link news_related_item_title_link" href="@@url">@@title</a>
	</h3>
</article>
