<article class="clearfix news_item news_list_item">

	<figure class="bg_black responsive_image news_item_figure news_list_item_figure">
		<picture class="news_item_picture news_list_item_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 740px)" srcset="http://spacehold.it/174x116/@@image">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/80x80/@@image">
			<!--[if IE 9]></video><![endif]-->
			<img class="news_item_image news_list_item_image" src="http://spacehold.it/80x80/@@image" alt="@@alt">
		</picture>
	</figure>

	<div class="news_item_content news_list_item_content">

		<header class="news_item_header news_list_item_header">
			<time class="news_item_date news_list_item_date" datetime="2015-10-08">@@date</time>
		</header>

		<div class="news_item_body news_list_item_body">
			<h3 class="news_item_title news_list_item_title">
				<a class="news_item_title_link news_list_item_title_link" href="@@url">@@title</a>
			</h3>
			<div class="news_item_description news_list_item_description">
				<p>@@description</p>
			</div>
		</div>

	</div>

</article>
