<section class="component_bordered news_list_section component_columns content_loader">

	<header class="component_header_block news_list_header">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="component_header_block_wrapper">
					<h2 class="js-content_swap component_heading component_header_block_heading news_list_heading">@@heading</h2>
					<a class="js-content_swap link_arrow component_header_block_link news_list_all" href="#" data-content-swap-mobile="All" data-content-swap-default="View All News">View All News</a>
				</div>
			</div>
		</div>
	</header>

	<div class="news_list">

		<div class="fs-row">

			<div class="fs-cell">

				<div class="content_set content_set_active js-loaded">

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "08 Aug 2015",
						"category": "Campus News",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management"
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "21 Aug 2015",
						"category": "Student Life",
						"title": "Stevens students spent their holiday break helping to provide access to clean water in Thailand."
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "05 Aug 2015",
						"category": "Research News",
						"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices."
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "21 Sep 2015",
						"category": "Research News",
						"title": "Stevens Professor Receives NSF Grant for Joint Research on Resilience Infrastructure"
					})

				</div>

				<div class="content_set">

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "08 Aug 2015",
						"category": "Campus News",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management"
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "21 Aug 2015",
						"category": "Student Life",
						"title": "Stevens students spent their holiday break helping to provide access to clean water in Thailand."
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "05 Aug 2015",
						"category": "Research News",
						"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices."
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "21 Sep 2015",
						"category": "Research News",
						"title": "Stevens Professor Receives NSF Grant for Joint Research on Resilience Infrastructure"
					})

				</div>

				<div class="content_set">

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "1",
						"alt": "",
						"date": "08 Aug 2015",
						"category": "Campus News",
						"title": "Deans’ Seminar Series Speaker Simon Head Examines Legacy of Frederick Winslow Taylor, Father of Scientific Management"
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "2",
						"alt": "",
						"date": "21 Aug 2015",
						"category": "Student Life",
						"title": "Stevens students spent their holiday break helping to provide access to clean water in Thailand."
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "3",
						"alt": "",
						"date": "05 Aug 2015",
						"category": "Research News",
						"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices."
					})

					@@include('news-list-columns-item.html', {
						"url": "#",
						"image": "4",
						"alt": "",
						"date": "21 Sep 2015",
						"category": "Research News",
						"title": "Stevens Professor Receives NSF Grant for Joint Research on Resilience Infrastructure"
					})

				</div>

			</div>

		</div>

	</div>

	<footer class="news_list_footer">

		<div class="fs-row">

			<div class="fs-cell">
				<button class="load_more_button load_more_button_full news_list_more">Load More News</button>
			</div>

		</div>

	</footer>

</section>
