<article class="news_item news_sidebar_item news_in_item">
	<header class="news_in_item_header">
		<time class="news_in_item_date" datetime="2015-10-29">@@date</time>
		<span class="news_in_item_source">@@source</span>
	</header>
	<h3 class="news_in_item_title">
		<a class="news_in_item_title_link" href="@@url">@@title</a>
	</h3>
</article>
