<div class="news_list news_sidebar_list news_related_list">
	<header class="news_sidebar_header news_related_header">
		<h2 class="bold_uppercase color_red news_sidebar_heading news_related_heading">@@heading</h2>
	</header>
	<div class="news_sidebar_body news_related_body">

		@@include('news-related-item.html', {
			"url": "#",
			"title": "Meet Data Minded Solutions, a healthcare startup born from an award-winning classroom software collaboration."
		})

		@@include('news-related-item.html', {
			"url": "#",
			"title": "Researchers at Stevens are developing nano scaled hydro generators to power next generation devices."
		})

		@@include('news-related-item.html', {
			"url": "#",
			"title": "Stevens students spent their holiday break helping to provide access to clean water in Thailand."
		})

		@@include('news-related-item.html', {
			"url": "#",
			"title": "Stevens Professor Receives NSF Grant for Joint Research on Resilience Infrastructure"
		})

	</div>
	<footer class="news_sidebar_footer news_related_footer">
		<a class="news_sidebar_footer_button news_related_footer_button" href="#">@@viewall</a>
	</footer>
</div>
