<div class="news_list news_sidebar_list news_in_list">
	<header class="news_sidebar_header news_in_header">
		<h2 class="bold_uppercase color_red news_sidebar_heading news_in_heading">@@heading</h2>
	</header>
	<div class="news_sidebar_body news_in_body">

		@@include('news-in-item.html', {
			"date": "29 Oct 2015",
			"url": "#",
			"source": "Wall Street Journal",
			"title": "Surge in Studies Hits Universities In Sandy’s Wake"
		})

		@@include('news-in-item.html', {
			"date": "27 Oct 2015",
			"url": "#",
			"source": "Los Angeles Times",
			"title": "Solar Decathlon Names Energy-Saving Winner"
		})

	</div>
	<footer class="news_sidebar_footer news_in_footer">
		<a class="news_sidebar_footer_button news_in_footer_button" href="#">@@viewall</a>
	</footer>
</div>
