<article class="js-equalize_child numbers_item theme_@@color size_small">
	<div class="numbers_item_content">
		<header class="numbers_item_header">
			<h2 class="numbers_item_heading"><span class="large">@@heading</span>@@subheading</h2>
		</header>
		<div class="numbers_item_body">
			<div class="numbers_item_description">
				@@description
			</div>
			<a class="numbers_item_link" href="@@url">@@link</a>
		</div>
	</div>
</article>
