<section class="component numbers js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/@@image.jpg", "500px": "http://spacehold.it/740x550/@@image.jpg", "740px": "http://spacehold.it/980x730/@@image.jpg", "980px": "http://spacehold.it/1220x910/@@image.jpg", "1220px": "http://spacehold.it/1440x1070/@@image.jpg"}}' data-top="">

	<div class="numbers_background" style="background-image: url(http://spacehold.it/1440x1070/10.jpg);"></div>

	<header class="component_header numbers_header">
		<div class="fs-row">
			<div class="fs-cell fs-lg-4 fs-xl-3">
				<h2 class="numbers_heading">@@heading</h2>
			</div>
			<div class="fs-cell fs-lg-8 fs-xl-9">
				<div class="numbers_description">
					@@description
				</div>
			</div>
		</div>
	</header>
	<div class="numbers_callouts">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="js-equalize numbers_set numbers_set_active js-loaded" data-equalize-options='{"target": ".js-equalize_child", "minWidth": "740px"}'>
					<div class="js-carousel numbers_carousel" data-carousel-options='{"contained": false, "matchHeight": true, "controls": false, "maxWidth": "739px", "show": {"500px": 2}}'>

						@@include('numbers-item-small.html', {
							"color": "red",
							"heading": "13,500",
							"subheading": "hours",
							"description": "<p>The approximate number of community service hours volunteered by students last year.</p>",
							"url": "#",
							"link": "Explore Volunteer Opportunities"
						})

						@@include('numbers-item-large.html', {
							"color": "teal",
							"img": "stat-circle.png",
							"heading": "95%",
							"subheading": "",
							"description": "<p>95% of graduates of the Class of 2014 secured intended employment or graduate school outcomes within 6 months of graduation.</p>",
							"url": "#",
							"link": "More About Outcomes"
						})

						@@include('numbers-item-small.html', {
							"color": "orange",
							"heading": "96%",
							"subheading": "",
							"description": "<p>96% of first-year students return to Stevens to continue their education.</p>",
							"url": "#",
							"link": "More About Stevens"
						})

						@@include('numbers-item-large.html', {
							"color": "blue",
							"img": "stat-dots.png",
							"heading": "10:1",
							"subheading": "",
							"description": "<p>A student-to-faculty ratio of 10:1 ensures class environments are conducive to meaningful relationships and discourse.</p>",
							"url": "#",
							"link": "More About Our Faculty"
						})

						@@include('numbers-item-small.html', {
							"color": "black",
							"heading": "96%",
							"subheading": "",
							"description": "<p>96% of first-year students return to Stevens to continue their education.</p>",
							"url": "#",
							"link": "More About Stevens"
						})

						@@include('numbers-item-small.html', {
							"color": "gray",
							"heading": "13,500",
							"subheading": "hours",
							"description": "<p>The approximate number of community service hours volunteered by students last year.</p>",
							"url": "#",
							"link": "Explore Volunteer Opportunities"
						})
					</div>
				</div>
				<div class="js-equalize numbers_set" data-equalize-options='{"target": ".js-equalize_child", "minWidth": "740px"}'>
					@@include('numbers-item-small.html', {
						"color": "gray",
						"heading": "13,500",
						"subheading": "hours",
						"description": "<p>The approximate number of community service hours volunteered by students last year.</p>",
						"url": "#",
						"link": "Explore Volunteer Opportunities"
					})

					@@include('numbers-item-small.html', {
						"color": "red",
						"heading": "96%",
						"subheading": "",
						"description": "<p>96% of first-year students return to Stevens to continue their education.</p>",
						"url": "#",
						"link": "More About Stevens"
					})

					@@include('numbers-item-large.html', {
						"color": "teal",
						"img": "stat-circle.png",
						"heading": "95%",
						"subheading": "",
						"description": "<p>95% of graduates of the Class of 2014 secured intended employment or graduate school outcomes within 6 months of graduation.</p>",
						"url": "#",
						"link": "More About Outcomes"
					})

					@@include('numbers-item-small.html', {
						"color": "blue",
						"heading": "96%",
						"subheading": "",
						"description": "<p>96% of first-year students return to Stevens to continue their education.</p>",
						"url": "#",
						"link": "More About Stevens"
					})

					@@include('numbers-item-large.html', {
						"color": "black",
						"img": "stat-dots.png",
						"heading": "10:1",
						"subheading": "",
						"description": "<p>A student-to-faculty ratio of 10:1 ensures class environments are conducive to meaningful relationships and discourse.</p>",
						"url": "#",
						"link": "More About Our Faculty"
					})

					@@include('numbers-item-small.html', {
						"color": "orange",
						"heading": "13,500",
						"subheading": "hours",
						"description": "<p>The approximate number of community service hours volunteered by students last year.</p>",
						"url": "#",
						"link": "Explore Volunteer Opportunities"
					})
				</div>
				<div class="js-equalize numbers_set" data-equalize-options='{"target": ".js-equalize_child", "minWidth": "740px"}'>
					@@include('numbers-item-large.html', {
						"color": "teal",
						"img": "stat-circle.png",
						"heading": "95%",
						"subheading": "",
						"description": "<p>95% of graduates of the Class of 2014 secured intended employment or graduate school outcomes within 6 months of graduation.</p>",
						"url": "#",
						"link": "More About Outcomes"
					})

					@@include('numbers-item-small.html', {
						"color": "gray",
						"heading": "13,500",
						"subheading": "hours",
						"description": "<p>The approximate number of community service hours volunteered by students last year.</p>",
						"url": "#",
						"link": "Explore Volunteer Opportunities"
					})

					@@include('numbers-item-small.html', {
						"color": "blue",
						"heading": "96%",
						"subheading": "",
						"description": "<p>96% of first-year students return to Stevens to continue their education.</p>",
						"url": "#",
						"link": "More About Stevens"
					})

					@@include('numbers-item-small.html', {
						"color": "black",
						"heading": "13,500",
						"subheading": "hours",
						"description": "<p>The approximate number of community service hours volunteered by students last year.</p>",
						"url": "#",
						"link": "Explore Volunteer Opportunities"
					})

					@@include('numbers-item-small.html', {
						"color": "red",
						"heading": "96%",
						"subheading": "",
						"description": "<p>96% of first-year students return to Stevens to continue their education.</p>",
						"url": "#",
						"link": "More About Stevens"
					})

					@@include('numbers-item-large.html', {
						"color": "orange",
						"img": "stat-dots.png",
						"heading": "10:1",
						"subheading": "",
						"description": "<p>A student-to-faculty ratio of 10:1 ensures class environments are conducive to meaningful relationships and discourse.</p>",
						"url": "#",
						"link": "More About Our Faculty"
					})
				</div>
			</div>
		</div>
	</div>
	<footer class="numbers_footer">
		<div class="fs-row">
			<div class="fs-cell">
				<button class="numbers_more_button">Load More Statistics</button>
			</div>
		</div>
	</footer>
</section>
