<article class="js-equalize_child numbers_item theme_@@color size_large">
	<figure class="numbers_item_figure">
		<picture class="numbers_item_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 980px)" srcset="../images/temp/@@img">
			<!--[if IE 9]></video><![endif]-->
			<img class="numbers_item_image" src="../images/placeholder.png" alt="">
		</picture>
	</figure>
	<div class="numbers_item_content">
		<header class="numbers_item_header">
			<h2 class="numbers_item_heading"><span class="large">@@heading</span>@@subheading</h2>
		</header>
		<div class="numbers_item_body">
			<div class="numbers_item_description">
				@@description
			</div>
			<a class="numbers_item_link" href="@@url">@@link</a>
		</div>
	</div>
</article>
