<article class="people_callout">
	<a href="#" class="block_link">
		<figure class="people_callout_figure">
			<picture class="responsive_image people_callout_image">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 740px)" srcset="http://spacehold.it/250x376/@@image.jpg">
				<!--[if IE 9]></video><![endif]-->
				<img src="http://spacehold.it/250x376/@@image.jpg" alt="" draggable="false">
			</picture>
		</figure>
		<div class="people_callout_content">
			<h3 class="people_callout_name">@@name</h3>
			<h4 class="people_callout_title">@@title</h4>
		</div>
	</a>
</article>