<section class="component people background_@@color">
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading">@@heading</h2>
		</header>
	</div>
	<div class="people_callouts">
		<div class="carousel_controls people_controls">
			<button class="carousel_control people_control people_control_previous">Previous</button>
			<button class="carousel_control people_control people_control_next">Next</button>
		</div>
		<div class="fs-row">
			<div class="fs-cell">

				<div class="people_carousel js-carousel" data-carousel-options='{"contained":false,"matchHeight":true,"show":{"500px":2,"980px":4},"controls":{"container":".people_controls","previous":".people_control_previous","next":".people_control_next"}}'>
		
					@@include('people-callout.html', {
						"image": "2",
						"name": "Dr. Eui-Hyeok Yang",
						"title": "Professor"
					})

					@@include('people-callout.html', {
						"image": "3",
						"name": "Dr. Nick Parziale",
						"title": "Assistant Professor"
					})

					@@include('people-callout.html', {
						"image": "4",
						"name": "Elaine Pratt",
						"title": "Professor"
					})

					@@include('people-callout.html', {
						"image": "5",
						"name": "Dr. Christopher Asakiewicz",
						"title": "Professor"
					})

					@@include('people-callout.html', {
						"image": "6",
						"name": "Dr. Eui-Hyeok Yang",
						"title": "Professor"
					})

					@@include('people-callout.html', {
						"image": "7",
						"name": "Dr. Nick Parziale",
						"title": "Assistant Professor"
					})
				</div>
			</div>
		</div>
	</div>
</section>