<article class="program_finder_block">
	<a href="#" class="block_link">
		<figure class="program_finder_block_figure">
			<img src="http://spacehold.it/331x250/@@image.jpg" class="program_finder_block_image" alt="" draggable="false">
		</figure>
		<div class="program_finder_block_content">
			<h3 class="program_finder_block_name">@@name</h3>
			<h4 class="program_finder_block_type">@@type</h4>
		</div>
	</a>
</article>