<menu class="program_finder_form_buttons">
	<button class="program_finder_form_button search_undergraduate js-program_finder_button js-swap" data-swap-options='{"collapse":false}' data-swap-group="program_finder" data-swap-target=".js-swap_program_finder_undergraduate" data-program-type="undergraduate">Search Undergraduate</button>
	<button class="program_finder_form_button search_graduate js-program_finder_button js-swap" data-swap-options='{"collapse":false}' data-swap-group="program_finder" data-swap-target=".js-swap_program_finder_graduate" data-program-type="graduate">Search Graduate</button>
</menu>
<form action="ajax/program-finder-results.html" class="program_finder_form search_form js-program_finder_form">
	<fieldset>
		<input type="text" placeholder="e.g. Biology" class="search_input program_finder_search_input js-program_finder_search_input">
		<input type="hidden" name="type" id="program_finder_result_type" value="undergraduate">
		<button type="submit" class="search_submit program_finder_search_submit">Search</button>
	</fieldset>
</form>