<form action="ajax/program-finder-results.html" class="program_finder_form search_form js-program_finder_form">
	<fieldset>
		<input type="text" placeholder="e.g. Biology" class="search_input program_finder_search_input js-program_finder_search_input">
		<input type="hidden" name="type" id="program_finder_result_type" value="undergraduate">
		<button type="submit" class="search_submit program_finder_search_submit">Search</button>
	</fieldset>
</form>
<a href="#" class="program_finder_link">View All Undergraduate Programs</a>