<section class="component program_finder js-program_finder @@class">
	<div class="fs-row">
		<header class="fs-cell fs-md-half fs-lg-half component_header">
			<h2 class="component_heading">@@heading</h2>
			<div class="component_text">@@text</div>
		</header>
		<div class="fs-cell fs-md-half fs-lg-half">
			@@form
		</div>
	</div>
	<div class="program_finder_results">
		<div class="fs-row">
			<header class="fs-cell program_finder_results_header">
				@@homepage_links
				<div class="program_finder_results_message typography">
					<p><span class="inner js-program_finder_results_message">Showing sample results for “<span class="color_red">Biology</span>,” start a new search above.</span></p>
				</div>
			</header>
		</div>
		<div class="program_finder_carousel">
			<div class="carousel_controls program_finder_controls">
				<button class="carousel_control program_finder_control program_finder_control_previous">Previous</button>
				<button class="carousel_control program_finder_control program_finder_control_next">Next</button>
			</div>
			<div class="fs-row">
				<div class="fs-cell">

					<div class="program_finder_carousel js-carousel js-program_finder_results" data-carousel-options='{"contained":false,"matchHeight":true,"show":{"500px":2,"980px":4},"controls":{"container":".program_finder_controls","previous":".program_finder_control_previous","next":".program_finder_control_next"}}'>

						@@include('program-finder-block.html', {
							"name": "Biology",
							"type": "B.S.",
							"image": "2"
						})

						@@include('program-finder-block.html', {
							"name": "Chemical Biology",
							"type": "B.S.",
							"image": "3"
						})

						@@include('program-finder-block.html', {
							"name": "Biomedical Engineering",
							"type": "B.E.",
							"image": "4"
						})

						@@include('program-finder-block.html', {
							"name": "Environmental Engineering",
							"type": "B.S.",
							"image": "5"
						})

						@@include('program-finder-block.html', {
							"name": "Biochemistry",
							"type": "B.E.",
							"image": "6"
						})

						@@include('program-finder-block.html', {
							"name": "Biomechanics",
							"type": "B.E.",
							"image": "7"
						})

					</div>
				</div>
			</div>
		</div>
	</div>
</section>