<div class="search_result" role="listitem">
	<div class="search_result_content">
		<header class="search_result_header">
			<div class="search_result_title">
				<a class="search_result_title_link" href="@@url">@@pagetitle</a>
			</div>
		</header>
		<div class="search_result_description">
			<p>@@description</p>
		</div>
		<footer class="search_result_footer">
			<a class="search_result_url" href="@@url">@@cleanurl</a>
		</footer>
	</div>
</div>
