<section class="component section_break">
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading">@@heading</h2>
			<div class="component_text">@@text</div>
		</header>
	</div>
</section>