<div class="service-links">
	<div class="service-label">Share this story </div>
	<ul class="links">
		<li class="service-links-facebook first">
			<a href="#" title="Share on Facebook" class="service-links-facebook" rel="nofollow"><img typeof="foaf:Image" src="http://stevens.dev:8888/sites/all/modules/contrib/service_links/images/facebook.png" alt="Facebook logo"> Facebook</a>
		</li>
		<li class="service-links-twitter">
			<a href="#" title="Share this on Twitter" class="service-links-twitter" rel="nofollow"><img typeof="foaf:Image" src="http://stevens.dev:8888/sites/all/modules/contrib/service_links/images/twitter.png" alt="Twitter logo"> Twitter</a>
		</li>
		<li class="service-links-linkedin last">
			<a href="#" title="Publish this post to LinkedIn" class="service-links-linkedin" rel="nofollow"><img typeof="foaf:Image" src="http://stevens.dev:8888/sites/all/modules/contrib/service_links/images/linkedin.png" alt="LinkedIn logo"> LinkedIn</a>
		</li>
	</ul>
</div>
