<article id="node-1" class="site_wide_alert_container js-toggle"> 
	<div class="close_wrap">
		<a href="#" class="alert_close js-toggle_handle">&times;</a>
	</div>
	<div class="fs-row">
	<div class="fs-cell fs-lg-full site_wide_alert">
		<time class="bold_uppercase color_gray_light" datetime="2015-08-08">08 Aug 2015</time>
		<span class="events_list_item_time">6:50 AM</span>
		<h3 class="directory_heading">Due to dangerous winds and heavy rain, campus will be closed Friday August 8th. Keep an eye on this space for further announcements. <a href="#">Link Style</a></h3>
	</div>
	</div>
</article>