<div class="margined_md social_sidebar">
	<header class="social_sidebar_header">
		<h2 class="bold_uppercase color_red social_sidebar_heading">@@heading</h2>
	</header>
	<div class="social_sidebar_body">
		@@include('social-accounts-sidebar-item.html', {
			"url": "#",
			"property": "facebook",
			"label": "Facebook"
		})

		@@include('social-accounts-sidebar-item.html', {
			"url": "#",
			"property": "twitter",
			"label": "Twitter"
		})

		@@include('social-accounts-sidebar-item.html', {
			"url": "#",
			"property": "instagram",
			"label": "Instagram"
		})

		@@include('social-accounts-sidebar-item.html', {
			"url": "#",
			"property": "linkedin",
			"label": "Linkedin"
		})

		@@include('social-accounts-sidebar-item.html', {
			"url": "#",
			"property": "youtube",
			"label": "Youtube"
		})
	</div>
	<footer class="social_sidebar_footer">
		<a class="link_arrow social_sidebar_footer_link" href="#">Social Media Hub</a>
	</footer>
</div>
