<section class="component statistics">
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading">@@heading</h2>
		</header>
	</div>
	<div class="statistics_callouts">
		<div class="carousel_controls statistics_controls">
			<button class="carousel_control statistics_control statistics_control_previous">Previous</button>
			<button class="carousel_control statistics_control statistics_control_next">Next</button>
		</div>
		<div class="fs-row">
			<div class="fs-cell">

				<div class="statistics_carousel js-carousel" data-carousel-options='{"contained":false,"matchHeight":true,"show":{"500px":2,"980px":4},"controls":{"container":".statistics_controls","previous":".statistics_control_previous","next":".statistics_control_next"}}'>
		
					@@include('statistics-callout.html', {
						"color": "blue",
						"heading": "2025",
						"subheading": "",
						"text": "<p>Named for a distinguished family who perpetuated a tradition in American engineering, beginning in the early days of the Industrial Revolution.</p>",
						"link": "<a href=\"#\" class=\"statistics_callout_link\">Explore Our History</a>"
					})

					@@include('statistics-callout.html', {
						"color": "red",
						"heading": "17%",
						"subheading": "",
						"text": "<p>Student-to-faculty ratio. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>",
						"link": ""
					})

					@@include('statistics-callout.html', {
						"color": "orange",
						"heading": "2,892",
						"subheading": "",
						"text": "<p>Undergraduate students maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egesta.</p>",
						"link": ""
					})

					@@include('statistics-callout.html', {
						"color": "green",
						"heading": "1.2",
						"subheading": "Billion",
						"text": "<p>Green lawns, distinctive buildings, and helpful people greet Stevens visitors.</p>",
						"link": ""
					})

					@@include('statistics-callout.html', {
						"color": "teal",
						"heading": "1870",
						"subheading": "founded",
						"text": "<p>Named for a distinguished family who perpetuated a tradition in American engineering, beginning in the early days of the Industrial Revolution.</p>",
						"link": "<a href=\"#\" class=\"statistics_callout_link\">Our Location</a>"
					})
				</div>
			</div>
		</div>

	</div>
</section>