<article class="statistics_callout @@color">
	<header class="statistics_callout_header">
		<h2 class="statistics_callout_heading"><span class="large">@@heading</span>@@subheading</h2>
	</header>
	<div class="statistics_callout_text">
		@@text
	</div>
	@@link
</article>