<section class="component testimonial">
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading">@@heading</h2>
		</header>
	</div>
	<div class="testimonial_callouts">
		<div class="fs-row">
			<div class="fs-cell">

				<div class="testimonial_carousel js-carousel" data-carousel-options='{"matchHeight": true, "show": 1}'>


				<!-- <div class="testimonial_carousel js-carousel" data-carousel-options='{"matchHeight":true,"show":1,"controls":{"container":".testimonial_controls","previous":".testimonial_control_previous","next":".testimonial_control_next"}}'> -->

					@@include('testimonial-callout.html', {
						"color": "blue",
						"image": "<figure class=\"testimonial_callout_figure\"><picture class=\"responsive_image testimonial_callout_image\"><!--[if IE 9]><video style=\"display: none;\"><![endif]--><source media=\"(min-width: 740px)\" srcset=\"http://spacehold.it/350x350/5.jpg\"><!--[if IE 9]></video><![endif]--><img src=\"http://spacehold.it/294x165\/5.jpg\" alt=\"\" draggable=\"false\"></picture></figure>",
						"heading": "A Future With Lockheed Martin",
						"quote": "“I really liked the feel of Stevens’ campus – its size and location. I also really liked their co-op program, which was one of the things that initially drew me to the school.”",
						"name":"Karianne Blu '15",
						"link": "<a href=\"#\" class=\"testimonial_callout_link\">Optional Link</a>"
					})

					@@include('testimonial-callout.html', {
						"color": "teal",
						"image": "",
						"heading": "Undergraduate Studies &amp; Experience",
						"quote": "“I really liked the feel of Stevens’ campus – its size and location. I also really liked their co-op program, which was one of the things that initially drew me to the school.”",
						"name":"Karianne Blu '15",
						"link": ""
					})

					@@include('testimonial-callout.html', {
						"color": "orange",
						"image": "<figure class=\"testimonial_callout_figure\"><picture class=\"responsive_image testimonial_callout_image\"><!--[if IE 9]><video style=\"display: none;\"><![endif]--><source media=\"(min-width: 740px)\" srcset=\"http://spacehold.it/350x350/8.jpg\"><!--[if IE 9]></video><![endif]--><img src=\"http://spacehold.it/294x165\/8.jpg\" alt=\"\" draggable=\"false\"></picture></figure>",
						"heading": "Undergraduate Studies &amp; Experience",
						"quote": "“I really liked the feel of Stevens’ campus – its size and location. I also really liked their co-op program, which was one of the things that initially drew me to the school.”",
						"name":"Karianne Blu '15",
						"link": "<a href=\"#\" class=\"testimonial_callout_link\">Optional Link</a>"
					})
				</div>
			</div>
		</div>
	</div>
</section>
