<article class="testimonial_callout background_@@color">
	<div class="testimonial_callout_container">
		@@image
		<div class="testimonial_callout_content">
			<h3 class="testimonial_callout_heading">@@heading</h3>
			<p class="testimonial_callout_quote">@@quote</p>
			<h4 class="testimonial_callout_name">@@name</h4>
			@@link
		</div>
	</div>
</article>