<!-- Many Cards -->
<div class="callout topic_group_callout carousel_black">
	<header class="topic_group_callout_header">
		<h3 class="topic_group_callout_heading">@@heading_1</h3>
		<div class="topic_group_callout_text typography">
			@@text_1
		</div>
		@@link_1
	</header>
	<div class="topic_group_carousel_cards">
		<div class="topic_group_carousel js-carousel" data-carousel-options='{"matchHeight":true}'>

			@@include('topic-group-carousel-card.html', {
				"color": "red",
				"heading": "Babbio Center",
				"image": "2",
				"text": "<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>",
				"links": "<a href=\"\" class=\"topic_group_carousel_card_link\">More Info</a>"
			})

			@@include('topic-group-carousel-card.html', {
				"color": "teal",
				"heading": "Dolor Pharetra Tristique Purus",
				"image": "5",
				"text": "<p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>",
				"links": "<a href=\"\" class=\"topic_group_carousel_card_link\">Consectetur Magna Mollis</a>"
			})

			@@include('topic-group-carousel-card.html', {
				"color": "gray",
				"heading": "Commodo Vehicula Tortor Parturient Nibh",
				"image": "8",
				"text": "<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>",
				"links": "<a href=\"\" class=\"topic_group_carousel_card_link\">Consectetur Magna Mollis</a>"
			})

		</div>
	</div>
</div>

<!-- One Card -->
<div class="callout topic_group_callout carousel_black">
	<header class="topic_group_callout_header">
		<h3 class="topic_group_callout_heading">@@heading_2</h3>
		<div class="topic_group_callout_text typography">
			@@text_2
		</div>
		@@link_2
	</header>
	<div class="topic_group_carousel_cards">
		<div class="topic_group_carousel js-carousel" data-carousel-options='{"matchHeight":true,"pagination":false}'>

			@@include('topic-group-carousel-card.html', {
				"color": "orange",
				"heading": "Visit Campus",
				"image": "9",
				"text": "<p>Green lawns, distinctive buildings and helpful people greet Stevens visitors.</p>",
				"links": "<a href=\"\" class=\"topic_group_carousel_card_link\">Stevens Campus Map</a><a href=\"\" class=\"topic_group_carousel_card_link\">Driving Directions</a>"
			})

		</div>
	</div>
</div>
