<article class="callout topic_single_callout">
	<div class="fs-row">
		<div class="fs-cell">
			<figure class="topic_single_figure">
				<picture class="responsive_image topic_single_image">
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 980px)" srcset="http://spacehold.it/400x267/@@image.jpg">
					<source media="(min-width: 740px)" srcset="http://spacehold.it/400x267/@@image.jpg">
					<source media="(min-width: 500px)" srcset="http://spacehold.it/470x313/@@image.jpg">
					<source media="(min-width: 0px)" srcset="http://spacehold.it/294x196/@@image.jpg">
					<!--[if IE 9]></video><![endif]-->
					<img src="http://spacehold.it/294x196/@@image.jpg" alt="" draggable="false">
				</picture>
			</figure>
			<div class="callout_contain topic_single_contain">
				<h3 class="topic_single_heading">@@heading</h3>
				<div class="callout_content topic_single_content">
					@@content
				</div>
				<a href="#" class="callout_link topic_single_link ">@@link</a>
			</div>
		</div>
	</div>
</article>
