<section class="component topic_single">
	<div class="fs-row">
		<header class="fs-cell component_header">
			<h2 class="component_heading">@@heading</h2>
			<div class="component_text">@@text</div>
		</header>
	</div>
	<div class="topic_single_callouts">
		
		@@include('topic-single-callout.html', {
			"image": "2",
			"heading": "Undergraduate Studies &amp; Experience",
			"content": "<p>Total undergraduate enrollment increased from 2,691 in Fall 2013 to 2,892 in Fall 2014, a seven percent increase.  The academic profile and the percentage of out-of-New Jersey students joining Stevens in Fall 2014 also increased.  The 96 percent freshman-to-sophomore retention rate was maintained in Fall 2014, and the six-year graduation rate increased from 79 percent in 2013 to 82 percent in 2014.  Career placements remained strong, with 95 percent of 2014 graduates in full time employment, graduate school or the military six months after graduation.</p>",
			"link": "Detailed Report"
		})

		@@include('topic-single-callout.html', {
			"image": "5",
			"heading": "Graduate Studies &amp; Experience",
			"content": "<p>Graduate student recruitment is improving, and enrollment trends are positive.  Selectivity is low, but improving.  Year 2 has shown progress in attracting more full-time graduate students, and a graduate enrollment diversification strategy has been launched.</p>",
			"link": "Detailed Report"
		})

		@@include('topic-single-callout.html', {
			"image": "8",
			"heading": "Research &amp; Scholarship",
			"content": "<p>New initiatives to support a thriving research enterprise are beginning to bear fruit.  In Year 2, the number and dollar value of proposals in FY14 exceeded that of FY13, and the value of awards also increased slightly over FY13 to more than $31 million, with current year projects running significantly ahead of the previous years. The $60 million renewal of the Department of Defense-sponsored Systems Engineering Research Center, and three NSF CAREER awards were highlights of Year 2 research efforts.</p>",
			"link": "Detailed Report"
		})

	</div>
</section>