<article class="topic_group_carousel_card background_@@color">
	<figure class="topic_group_carousel_card_figure">
		<picture class="responsive_image video_item_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 1220px)" srcset="http://spacehold.it/295x395/@@image.jpg">
			<source media="(min-width: 980px)" srcset="http://spacehold.it/236x316/@@image.jpg">
			<source media="(min-width: 740px)" srcset="http://spacehold.it/350x350/@@image.jpg">
			<source media="(min-width: 0px)" srcset="http://spacehold.it/460x260/@@image.jpg">
			<!--[if IE 9]></video><![endif]-->
			<img class="video_item_image" src="http://spacehold.it/460x260/@@image.jpg" alt="@@alt" draggable="false">
		</picture>
	</figure>
	<div class="topic_group_carousel_card_content">
		<h4 class="topic_group_carousel_card_heading">@@heading</h4>
		<div class="topic_group_carousel_card_text">
			@@text
		</div>
		@@links
	</div>
</article>
