<section class="component topic_group">
	<div class="fs-row">
		<div class="fs-cell topic_group_callouts">

			@@include('topic-group-callout.html', {
				"heading_1": "State-of-the-Art Facilities",
				"text_1": "<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>",
				"link_1": "<a href=\"#\" class=\"topic_group_callout_link\">Take The Virtual Tour</a>",
				"heading_2": "A Dynamic Location",
				"text_2": "<p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>",
				"link_2": ""
			})

		</div>
	</div>
</section>