<!-- You must create a "User Timeline" widget using whichever Twitter account you want to appear here. Do that by following this link: https://twitter.com/settings/widgets/new/user | 1) Make sure "Exclude Replies" is checked if you want to exclude them. 2) Uncheck "Auto-expand Photos" 3) Once created, DO NOT replace the whole code snippet below: Only replace the "data-widget-id" attribute with the widget ID provided, change the username inside the <a></a> to the account's username and change the "href" attribute to point to the Twitter account being used. ALL OTHER ATTRIBUTES MUST REMAIN THE SAME AS BELOW. -->

<article class="callout twitter_embed">
	<div class="callout_container">
		<header class="component_header twitter_embed_header">
			<h2 class="component_heading component_header_block_heading twitter_embed_heading">@@heading</h2>
			<a href="#" class="component_header_block_link twitter_embed_account_link">@BigTreeCMS</a>
		</header>
		<div class="callout_content">		
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/bigtreecms" data-tweet-limit="3" data-link-color="#9D1535" data-widget-id="555795415803920384" data-theme="light" data-chrome="nofooter noheader transparent noscrollbars">Tweets by @bigtreecms</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</article>
