<div class="video_item video_list_item">
	<a class="js-lightbox video_item_link" href="@@url">
		<figure class="video_item_figure">
			<picture class="responsive_image video_item_picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 1220px)" srcset="http://spacehold.it/252x143/@@image.jpg">
				<source media="(min-width: 980px)" srcset="http://spacehold.it/200x114/@@image.jpg">
				<source media="(min-width: 740px)" srcset="http://spacehold.it/330x187/@@image.jpg">
				<source media="(min-width: 500px)" srcset="http://spacehold.it/470x266/@@image.jpg">
				<source media="(min-width: 0px)" srcset="http://spacehold.it/294x196/@@image.jpg">
				<!--[if IE 9]></video><![endif]-->
				<img class="video_item_image" src="http://spacehold.it/294x196/@@image.jpg" alt="@@alt" draggable="false">
			</picture>
		</figure>
		<div class="video_item_content">
			<h3 class="video_item_title">@@title</h3>
		</div>
	</a>
</div>
