<div class="margined_md video_list">
	<header class="video_list_header">
		<h2 class="bold_uppercase color_red video_list_heading">@@heading</h2>
	</header>
	<div class="video_list_body">
		@@include('video-list-item.html', {
			"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
			"image": "1",
			"alt": "",
			"title": "Fassman-Beck Talks Green Roofs"
		})

		@@include('video-list-item.html', {
			"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
			"image": "2",
			"alt": "",
			"title": "Literacy and Technology in Kabul"
		})

		@@include('video-list-item.html', {
			"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
			"image": "3",
			"alt": "",
			"title": "Tales from Castle Stevens"
		})

		@@include('video-list-item.html', {
			"url": "https://www.youtube.com/watch?v=k3vA8V2uKIs",
			"image": "4",
			"alt": "",
			"title": "Stevens and Sons: America's First Family of Engineers"
		})
	</div>
	<footer class="video_list_footer">
		<a class="link_arrow video_list_footer_link" href="#">@@viewall</a>
	</footer>
</div>
