<footer id="footer" class="footer" role="contentinfo">
	<div class="fs-row">

		<div class="fs-cell fs-lg-4 fs-xl-5 footer_image_container">
			<figure class="footer_image_figure">
				<picture class="responsive_image footer_image">
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 0px)" srcset="http://spacehold.it/500x282/2.jpg">
					<!--[if IE 9]></video><![endif]-->
					<img src="http://spacehold.it/500x282/2.jpg" alt="" draggable="false">
				</picture>
			</figure>
			<p class="tagline">A premier, private research university just minutes from New York City with an incredible view and exceptional access to opportunity.</p>
			<p class="copyright">&copy; Stevens Institute of Technology. All Rights Reserved.</p>
		</div>

		<div class="fs-cell fs-lg-7 fs-xl-6 fs-lg-push-1">
			<div class="footer_meta">

				<nav class="footer_navigation">
					<a href="#mystevens" class="footer_nav_link"><span class="lowercase">my</span>Stevens</a>
					<a href="#careers" class="footer_nav_link">Careers</a>
					<a href="#campus-store" class="footer_nav_link">Campus Store</a>
					<a href="#make-a-gift" class="footer_nav_link">Make a Gift</a>
					<a href="#events" class="footer_nav_link footer_events_link">Events</a>
				</nav>

				<div class="footer_image_md_container">
					<figure class="footer_image_figure">
						<picture class="responsive_image footer_image">
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source media="(min-width: 0px)" srcset="http://spacehold.it/500x282/2.jpg">
							<!--[if IE 9]></video><![endif]-->
							<img src="http://spacehold.it/500x282/2.jpg" alt="" draggable="false">
						</picture>
					</figure>
					<p class="tagline">A premier, private research university just minutes from New York City with an incredible view and exceptional access to opportunity.</p>
				</div>

				<div class="fs-cell-contained fs-md-2 fs-lg-5 footer_location_container">
					<div class="footer_location">
						<div class="footer_heading">Our Location</div>
						<p class="tagline">A premier, private research university just minutes from New York City with an incredible view and exceptional access to opportunity.</p>
						<figure class="footer_image_figure">
							<picture class="responsive_image footer_image">
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source media="(min-width: 0px)" srcset="http://spacehold.it/500x282/2.jpg">
								<!--[if IE 9]></video><![endif]-->
								<img src="http://spacehold.it/500x282/2.jpg" alt="" draggable="false">
							</picture>
						</figure>
						<p>Stevens Institute of Technology</p>
						<p>1 Castle Point Terrace<br>Hoboken, NJ 07030</p>
					</div>
				</div>
				<div class="fs-cell-contained fs-md-2 fs-lg-3 footer_contact_container">
					<div class="footer_contact">
						<div class="footer_heading">Get in Touch</div>
						<div class="footer_contact_links">
							<a href="tel:+12012165000" class="footer_contact_link phone">201.216.5000</a>
							<a href="mailto:info@stevens.edu" class="footer_contact_link email">info@stevens.edu</a>
							<a href="#request-information" class="footer_contact_link info">Request Information</a>
							<a href="#website-feedback" class="footer_contact_link feedback">Website Feedback</a>
						</div>
					</div>
				</div>
				<div class="fs-cell-contained fs-md-2 fs-lg-3 footer_social_media_container">
					<div class="footer_social_media">
						<div class="footer_heading">Social Media</div>
						<div class="footer_social_media_links">
							<a href="#facebook" class="footer_social_media_link facebook">Facebook</a>
							<a href="#twitter" class="footer_social_media_link twitter">Twitter</a>
							<a href="#instagram" class="footer_social_media_link instagram">Instagram</a>
							<a href="#youtube" class="footer_social_media_link youtube">YouTube</a>
							<a href="#linkedin" class="footer_social_media_link linkedin">LinkedIn</a>
							<a href="#social-media-hub" class="footer_social_media_hub_link">Social Media Hub</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_container">
		<div class="fs-row">
			<div class="fs-cell">
				<p class="copyright">&copy; Stevens Institute of Technology. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
