<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- Page Attributes -->
	<title>@@title | Stevens Institute of Technology</title>
	<meta name="description" content="">

	<!-- Favions / Touch Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../images/favicons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../images/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../images/favicons/manifest.json">
	<link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#9d1535">
	<meta name="msapplication-TileColor" content="#9d1535">
	<meta name="msapplication-TileImage" content="../images/favicons/mstile-144x144.png">
	<meta name="theme-color" content="#9d1535">

	<!-- G+ & Facebook -->
	<meta property="og:title" content="Stevens Institute of Technology">
	<meta property="og:url" content="http://www.stevens.edu">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../images/favicons/apple-touch-icon-180x180.png">
	<meta property="og:description" content="">
	<meta property="og:site_name" content="Stevens Institute of Technology">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@FollowStevens">
	<meta name="twitter:creator" content="@FollowStevens">
	<meta name="twitter:url" content="http://www.stevens.edu">
	<meta name="twitter:title" content="Stevens Institute of Technology">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="../images/favicons/apple-touch-icon-180x180.png">

	<!-- Modernizer -->
	<script src="../js/modernizr.js"></script>

	<!-- Fonts from Fonts.com -->
	<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/d0b486e3-1465-45e2-b0d2-2f285e3dd330.css"/>

	<!-- Compiled CSS -->
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="../css/site.css"><!--<![endif]-->

	<!--[if IE 8]>
		<script>var IE8 = true;</script>
		<script src="../js/site-ie8.js"></script>
		<link rel="stylesheet" href="../css/site-ie8.css">
	<![endif]-->
	<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="../js/site-ie9.js"></script>
		<link rel="stylesheet" href="../css/site-ie9.css">
	<![endif]-->
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="../css/site-ie.css">
	<![endif]-->

	@@other
</head>
