<header id="header" class="header" role="banner">
	<div class="header_container">
		<a href="#home" class="header_site_link">
			<div class="header_chevron"></div>
			<div class="header_logo">
				<img src="../images/bw_logo.png" alt="Stevens Institute of Technology - The Innovation University&reg;">
			</div>
		</a>
		<div class="secondary_nav">
			<div class="secondary_nav_item nav_hover nav_button_hover">
				<button class="secondary_nav_button apply_button">Apply</button>
				<nav class="secondary_nav_links">
					<a href="#" class="secondary_nav_link">Graduate</a>
					<a href="#" class="secondary_nav_link">Undergraduate</a>
				</nav>
			</div>
			<div class="secondary_nav_item nav_hover nav_button_hover">
				<button class="secondary_nav_button giving_button">Giving</button>
				<nav class="secondary_nav_links">
					<a href="#" class="secondary_nav_link">Give Now</a>
					<a href="#" class="secondary_nav_link">Learn About Giving</a>
				</nav>
			</div>
			<div class="secondary_nav_item nav_hover nav_button_hover">
				<button class="secondary_nav_button i_am_a_button">I am a&hellip;</button>
				<nav class="secondary_nav_links">
					<a href="#" class="secondary_nav_link">Future Student</a>
					<a href="#" class="secondary_nav_link">Parent or Family Member</a>
					<a href="#" class="secondary_nav_link">Stevens Alumnus/a</a>
					<a href="#" class="secondary_nav_link">Friend of Stevens</a>
					<a href="#" class="secondary_nav_link">Current Student</a>
					<a href="#" class="secondary_nav_link">Faculty or Staff Member</a>
					<a href="#" class="secondary_nav_link">Corporate Partner</a>
					<a href="#" class="secondary_nav_link">High School Counselor</a>
					<a href="#" class="secondary_nav_link">Visitor</a>
					<a href="#" class="secondary_nav_link my_stevens_link">Log in to MyStevens</a>
				</nav>
			</div>
			<div class="secondary_nav_item nav_hover nav_button_hover">
				<button class="secondary_nav_button search_button">Search</button>
				<div class="search_dropdown search_module">
					<form action="#" class="search_form">
						<input type="text" class="search_input">
						<input type="submit" class="search_submit" value="Go">
					</form>
				</div>
			</div>
		</div>
		<div class="utility_nav nav_hover nav_button_hover">
			<button class="utility_nav_button">Utilities</button>
			<nav class="utility_nav_links">
				<a href="#" class="utility_nav_link">Visit</a>
				<a href="#" class="utility_nav_link">Alumni</a>
				<a href="#" class="utility_nav_link">News</a>
				<a href="#" class="utility_nav_link">Directory</a>
				<a href="#" class="utility_nav_link">Athletics</a>
			</nav>
		</div>
		<nav class="primary_nav">
			<div class="primary_nav_item nav_hover">
				<a href="#about-stevens" class="primary_nav_link two_lines">About <span>Stevens</span></a>
				<div class="primary_nav_children">
					<a href="#" class="primary_nav_child_link">Mission</a>
					<a href="#" class="primary_nav_child_link">History</a>
					<a href="#" class="primary_nav_child_link">Accreditation</a>
					<a href="#" class="primary_nav_child_link">Facts &amp; Statistic</a>
					<a href="#" class="primary_nav_child_link">Leadership</a>
					<a href="#" class="primary_nav_child_link">Strategic Plan</a>
					<a href="#" class="primary_nav_child_link">Sustainability</a>
					<a href="#" class="primary_nav_child_link">Community Engagement</a>
					<a href="#" class="primary_nav_child_link">University Policy Library</a>
					<a href="#" class="primary_nav_child_link">Consumer Information</a>
				</div>
			</div>
			<div class="primary_nav_item nav_hover">
				<a href="#admissions" class="primary_nav_link">Admissions</a>
				<div class="primary_nav_children">
					<a href="#" class="primary_nav_child_link">Undergraduate</a>
					<a href="#" class="primary_nav_child_link">Graduate</a>
					<a href="#" class="primary_nav_child_link">Veterans</a>
					<a href="#" class="primary_nav_child_link">Washington, D.C. Campus</a>
					<a href="#" class="primary_nav_child_link">Pre-College</a>
					<a href="#" class="primary_nav_child_link">Financial Aid</a>
				</div>
			</div>
			<div class="primary_nav_item nav_hover">
				<a href="#academics" class="primary_nav_link">Academics</a>
				<div class="primary_nav_children">
					<a href="#" class="primary_nav_child_link">Undergraduate Studies</a>
					<a href="#" class="primary_nav_child_link">Graduate Studies</a>
					<a href="#" class="primary_nav_child_link">Colleges &amp; Schools</a>
					<a href="#" class="primary_nav_child_link">Online Programs</a>
					<a href="#" class="primary_nav_child_link">Technology &amp; Entrepreneurship</a>
					<a href="#" class="primary_nav_child_link">Success After Stevens</a>
					<a href="#" class="primary_nav_child_link">Global Opportunities</a>
					<a href="#" class="primary_nav_child_link">Library</a>
				</div>
			</div>
			<div class="primary_nav_item nav_hover">
				<a href="#research-entrepreneurship" class="primary_nav_link two_lines">Research &amp; <span>Entrepreneurship</span></a>
				<div class="primary_nav_children">
					<a href="#" class="primary_nav_child_link">Research Centers &amp; Labs</a>
					<a href="#" class="primary_nav_child_link">Advancements in Key Industries</a>
					<a href="#" class="primary_nav_child_link">Faculty Research</a>
					<a href="#" class="primary_nav_child_link">Student Research</a>
					<a href="#" class="primary_nav_child_link">Center for Corporate &amp; Professional Education</a>
					<a href="#" class="primary_nav_child_link">Annual Innovation Expo</a>
					<a href="#" class="primary_nav_child_link">Support &amp; Resources</a>
					<a href="#" class="primary_nav_child_link">Find a Faculty Expert</a>
					<a href="#" class="primary_nav_child_link">Contact the Office of Research</a>
				</div>
			</div>
			<div class="primary_nav_item nav_hover">
				<a href="#campus-life" class="primary_nav_link">Campus Life</a>
				<div class="primary_nav_children">
					<a href="#" class="primary_nav_child_link">Student Organizations</a>
					<a href="#" class="primary_nav_child_link">Greek Life</a>
					<a href="#" class="primary_nav_child_link">Student Leadership</a>
					<a href="#" class="primary_nav_child_link">Graduate Student Life</a>
					<a href="#" class="primary_nav_child_link">Arts on Campus</a>
					<a href="#" class="primary_nav_child_link">Residence Life</a>
					<a href="#" class="primary_nav_child_link">Health &amp; Wellness</a>
					<a href="#" class="primary_nav_child_link">Living in Hoboken</a>
					<a href="#" class="primary_nav_child_link">Transportation</a>
				</div>
			</div>
		</nav>
		<button class="mobile_navigation_handle js-mobile_handle">Navigation &amp; Search<span class="mobile_navigation_close">Close</span></button>
	</div>
</header>
