<div class="mobile_navigation js-mobile_navigation" aria-hidden="true" data-navigation-handle=".js-mobile_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"gravity":"right","labels":{"open":"Menu","closed":"Menu"},"type":"overlay"}'>
	<div class="mobile_navigation_container">
		<nav class="mobile_primary_nav">
			<div class="mobile_primary_nav_item">
				<a href="#about-stevens" class="mobile_primary_nav_link js-mobile_target_about">About Stevens <span class="js-swap" data-swap-target=".js-mobile_target_about">Expand</span></a>
				<div class="mobile_primary_nav_children js-mobile_target_about">
					<a href="#" class="mobile_primary_nav_child_link">Mission</a>
					<a href="#" class="mobile_primary_nav_child_link">History</a>
					<a href="#" class="mobile_primary_nav_child_link">Accreditation</a>
					<a href="#" class="mobile_primary_nav_child_link">Facts &amp; Statistic</a>
					<a href="#" class="mobile_primary_nav_child_link">Leadership</a>
					<a href="#" class="mobile_primary_nav_child_link">Strategic Plan</a>
					<a href="#" class="mobile_primary_nav_child_link">Sustainability</a>
					<a href="#" class="mobile_primary_nav_child_link">Community Engagement</a>
					<a href="#" class="mobile_primary_nav_child_link">University Policy Library</a>
					<a href="#" class="mobile_primary_nav_child_link">Consumer Information</a>
				</div>
			</div>
			<div class="mobile_primary_nav_item">
				<a href="#admissions" class="mobile_primary_nav_link js-mobile_target_admissions">Admissions <span class="js-swap" data-swap-target=".js-mobile_target_admissions">Expand</span></a>
				<div class="mobile_primary_nav_children js-mobile_target_admissions">
					<a href="#" class="mobile_primary_nav_child_link">Undergraduate</a>
					<a href="#" class="mobile_primary_nav_child_link">Graduate</a>
					<a href="#" class="mobile_primary_nav_child_link">Veterans</a>
					<a href="#" class="mobile_primary_nav_child_link">Washington, D.C. Campus</a>
					<a href="#" class="mobile_primary_nav_child_link">Pre-College</a>
					<a href="#" class="mobile_primary_nav_child_link">Financial Aid</a>
				</div>
			</div>
			<div class="mobile_primary_nav_item">
				<a href="#academics" class="mobile_primary_nav_link js-mobile_target_academics">Academics <span class="js-swap" data-swap-target=".js-mobile_target_academics">Expand</span></a>
				<div class="mobile_primary_nav_children js-mobile_target_academics">
					<a href="#" class="mobile_primary_nav_child_link">Undergraduate Studies</a>
					<a href="#" class="mobile_primary_nav_child_link">Graduate Studies</a>
					<a href="#" class="mobile_primary_nav_child_link">Colleges &amp; Schools</a>
					<a href="#" class="mobile_primary_nav_child_link">Online Programs</a>
					<a href="#" class="mobile_primary_nav_child_link">Technology &amp; Entrepreneurship</a>
					<a href="#" class="mobile_primary_nav_child_link">Success After Stevens</a>
					<a href="#" class="mobile_primary_nav_child_link">Global Opportunities</a>
					<a href="#" class="mobile_primary_nav_child_link">Library</a>
				</div>
			</div>
			<div class="mobile_primary_nav_item">
				<a href="#research-entrepreneurship" class="mobile_primary_nav_link js-mobile_target_research">Research &amp; Entrepreneurship <span class="js-swap" data-swap-target=".js-mobile_target_research">Expand</span></a>
				<div class="mobile_primary_nav_children js-mobile_target_research">
					<a href="#" class="mobile_primary_nav_child_link">Research Centers &amp; Labs</a>
					<a href="#" class="mobile_primary_nav_child_link">Advancements in Key Industries</a>
					<a href="#" class="mobile_primary_nav_child_link">Faculty Research</a>
					<a href="#" class="mobile_primary_nav_child_link">Student Research</a>
					<a href="#" class="mobile_primary_nav_child_link">Center for Corporate &amp; Professional Education</a>
					<a href="#" class="mobile_primary_nav_child_link">Annual Innovation Expo</a>
					<a href="#" class="mobile_primary_nav_child_link">Support &amp; Resources</a>
					<a href="#" class="mobile_primary_nav_child_link">Find a Faculty Expert</a>
					<a href="#" class="mobile_primary_nav_child_link">Contact the Office of Research</a>
				</div>
			</div>
			<div class="mobile_primary_nav_item">
				<a href="#campus-life" class="mobile_primary_nav_link js-mobile_target_campuslife">Campus Life <span class="js-swap" data-swap-target=".js-mobile_target_campuslife">Expand</span></a>
				<div class="mobile_primary_nav_children js-mobile_target_campuslife">
					<a href="#" class="mobile_primary_nav_child_link">Student Organizations</a>
					<a href="#" class="mobile_primary_nav_child_link">Greek Life</a>
					<a href="#" class="mobile_primary_nav_child_link">Student Leadership</a>
					<a href="#" class="mobile_primary_nav_child_link">Graduate Student Life</a>
					<a href="#" class="mobile_primary_nav_child_link">Arts on Campus</a>
					<a href="#" class="mobile_primary_nav_child_link">Residence Life</a>
					<a href="#" class="mobile_primary_nav_child_link">Health &amp; Wellness</a>
					<a href="#" class="mobile_primary_nav_child_link">Living in Hoboken</a>
					<a href="#" class="mobile_primary_nav_child_link">Transportation</a>
				</div>
			</div>
		</nav>

		<div class="mobile_search_module">
			<form class="search_form" action="/egadsmagerd" method="post" id="search-block-form--2" accept-charset="UTF-8">
				<div>
					<div class="container-inline">
						<h2 class="element-invisible">Search form</h2>
    					<div class="form-item form-type-textfield form-item-search-block-form">
  							<label class="element-invisible" for="edit-search-block-form--4">Search </label>
 							<input title="Enter the terms you wish to search for." class="search_input form-text" id="edit-search-block-form--4" name="search_block_form" value="" size="15" maxlength="128" type="text">
						</div>
						<div class="form-actions form-wrapper" id="edit-actions--2">
							<input class="search_submit form-submit" id="edit-submit--2" name="op" value="Go" type="submit">
						</div>
						<input name="form_build_id" value="form-a4mrMu4x3LtsHzbamen4n8OtsHFZ6B74IPpUyCnRwl4" type="hidden">
						<input name="form_token" value="x8suRH15ib9jHJ2mn6SAxp2JnToKWs_Fg-Fp46lDiuQ" type="hidden">
						<input name="form_id" value="search_block_form" type="hidden">
					</div>
				</div>
			</form>
		</div>

		<div class="mobile_utility_nav">
			<nav class="mobile_utility_nav_links">
				<a href="#" class="mobile_utility_nav_link">Visit</a>
				<a href="#" class="mobile_utility_nav_link">Alumni</a>
				<a href="#" class="mobile_utility_nav_link">Apply</a>
				<a href="#" class="mobile_utility_nav_link">News</a>
				<a href="#" class="mobile_utility_nav_link">Directory</a>
				<a href="#" class="mobile_utility_nav_link">Athletics</a>
			</nav>
		</div>

		<div class="mobile_secondary_nav">
			<div class="mobile_secondary_nav_item">
				<button class="mobile_secondary_nav_button apply_now_button js-swap js-scroll_to" data-swap-target=".mobile_target_apply">Apply Now</button>
				<nav class="mobile_secondary_nav_links mobile_target_apply">
					<a href="#" class="mobile_secondary_nav_link">Undergraduate</a>
					<a href="#" class="mobile_secondary_nav_link">Graduate</a>
					<a href="#" class="mobile_secondary_nav_link">Veterans</a>
					<a href="#" class="mobile_secondary_nav_link">Pre-College</a>
				</nav>
			</div>
			<div class="mobile_secondary_nav_item">
				<button class="mobile_secondary_nav_button find_program_button js-swap js-scroll_to" data-swap-target=".mobile_target_program">Find a Program</button>
				<nav class="mobile_secondary_nav_links mobile_target_program">
					<a href="#" class="mobile_secondary_nav_link">Undergraduate Studies</a>
					<a href="#" class="mobile_secondary_nav_link">Graduate Studies</a>
					<a href="#" class="mobile_secondary_nav_link">Online Programs</a>
				</nav>
			</div>
			<div class="mobile_secondary_nav_item">
				<button class="mobile_secondary_nav_button giving_button js-swap js-scroll_to" data-swap-target=".mobile_target_giving">Giving</button>
				<nav class="mobile_secondary_nav_links mobile_target_giving">
					<a href="#" class="mobile_secondary_nav_link">Give Now</a>
					<a href="#" class="mobile_secondary_nav_link">Learn About Giving</a>
				</nav>
			</div>
			<div class="mobile_secondary_nav_item">
				<button class="mobile_secondary_nav_button i_am_a_button js-swap js-scroll_to" data-swap-target=".mobile_target_iama">I am a&hellip;</button>
				<nav class="mobile_secondary_nav_links mobile_target_iama">
					<a href="#" class="mobile_secondary_nav_link">Future Student</a>
					<a href="#" class="mobile_secondary_nav_link">Parent or Family Member</a>
					<a href="#" class="mobile_secondary_nav_link">Graduate of Stevens</a>
					<a href="#" class="mobile_secondary_nav_link">Friend of Stevens</a>
					<a href="#" class="mobile_secondary_nav_link">Current Student</a>
					<a href="#" class="mobile_secondary_nav_link">Faculty or Staff Member</a>
					<a href="#" class="mobile_secondary_nav_link">Corporate Partner</a>
					<a href="#" class="mobile_secondary_nav_link">College Counselor</a>
					<a href="#" class="mobile_secondary_nav_link">Visitor</a>
					
				</nav>
			</div>
			<a href="#" class="mobile_my_stevens_link">Log in to MyStevens</a>
		</div>
	</div>
</div>