<header class="page_header">
	<div class="fs-row">
		<div class="fs-cell typography">
			<div class="school_heading">@@school</div>
			<h1>@@heading</h1>
		</div>
		<div class="fs-cell">
			@@include('_breadcrumb.html', {
				"set": "@@breadcrumb"
			})
		</div>
		<div class="fs-cell">
			<hr>
		</div>
	</div>
	@@page_header
</header>
