<header class="page_header">
	<div class="fs-row">
		<div class="fs-cell typography">
			<h1>@@heading</h1>
		</div>
		<div class="fs-cell">
			@@include('_breadcrumb.html', {
				"set": "@@breadcrumb"
			})
		</div>
		<div class="fs-cell">
			<div class="page_tabs">
				<a class="page_tab page_tab_active" href="page-directory-office.html">Offices</a>
				<a class="page_tab" href="page-directory-personel.html">Personnel</a>
			</div>
			<hr>
		</div>
	</div>
	@@page_header
</header>
