<aside class="sidebar sidebar_subnavigation fs-cell-right fs-lg-3">
	<h2 class="subnavigation_handle">Additional Navigation</h2>
	<div class="subnavigation js-navigation" data-navigation-handle=".subnavigation_handle" data-navigation-options='{"labels":{"open":"Close","closed":"Additional Navigation"}}'>
		<nav class="subnavigation_links">
			<a href="#top_level_page" class="subnavigation_top_level_page_link">@@heading</a>
			<ul>
				@@links
			</ul>
		</nav>
	</div>
</aside>
