.panel-landing-school {
	overflow: hidden;
}

.panel-column-first,
.panel-column-last,
.panel-column-left,
.panel-column-right,
.panel-right-bottom-first,
.panel-right-bottom-last {
	float: left;
}

.panel-column-left {
	clear: both;
	width: 30%;
}

.panel-column-right {
	overflow: hidden;
	width: 70%;
}

.panel-column-first,
.panel-column-last,
.panel-right-bottom-first,
.panel-right-bottom-last {
	width: 50%;
}

.panel-bottom-row {
	clear: both;
}