/**
 * Faculty Listing Main
 */

.view-stevens-faculty-listing {
  a {
    .color_red;
    border-bottom: 1px solid transparent;

    .no-touchevents &:hover {
      .border_red;
    }
  }

  .views-row-first {
    margin-top: 1.25em !important;
  }

  .views-row-last {
    border-bottom: 0px !important;
  }

  .views-row {
    position: relative;
    margin: 1.5em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #E4E5E6;
    min-height: 127px;
    .trade_gothic;

    .views-field {
      margin-left: 120px;
      font-size: .9em;

      &.views-field-field-photo {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        border: 1px solid #E4E5E6;
      }
    }
  }
}
