.flip-card--container {
  display: flex;
  flex-flow: wrap;
    
  margin: -5px;

  @media @min_xl {
    margin: -25px;
  }
}

.flip-card--callout {
  display: flex;
  margin: 5px 5px 72px;
  flex-basis: ~"calc(100% - 10px)";
  max-width: ~"calc(100% - 10px)";
  position: relative;

  img {
    width: 100%;
  }
  
  .flip-card--controls {
    position: absolute;
    bottom: -64px;
    left: 0;
    text-align: center;
    width: 100%;
    
    button {
      .trade_gothic_bold();
      text-transform: uppercase;
    }
  }

  // Colors
  &.red {
    .flip-card--front,
    .flip-card--back {
      background-color: @red;
    }
    .flip-card--front {
      color: @white;
    }
  }
  &.grey {
    .flip-card--front,
    .flip-card--back {
      background-color: @gray_light;
    }
    .flip-card--front {
      color: @gray_dark;
    }
  }
  &.orange {
    .flip-card--front,
    .flip-card--back {
      background-color: @orange;
    }
    .flip-card--front {
      color: @white;
    }
  }
  &.blue {
    .flip-card--front,
    .flip-card--back {
      background-color: @blue;
    }
    .flip-card--front {
      color: @white;
    }
  }
  &.teal {
    .flip-card--front,
    .flip-card--back {
      background-color: @teal;
    }
    .flip-card--front {
      color: @white;
    }
  }
  &.cyan {
    .flip-card--front,
    .flip-card--back {
      background-color: @cyan;
    }
    .flip-card--front {
      color: @white;
    }
  }
  
  @media only screen and (min-width: 550px) {
    flex-basis: ~"calc(50% - 10px)";
    max-width: ~"calc(50% - 10px)";
  }

  @media @min_md {
    flex-basis: ~"calc(50% - 10px)";
    max-width: ~"calc(50% - 10px)";
  }

  @media @min_lg {
    margin: 50px 25px;
    flex-basis: ~"calc(50% - 50px)";
    max-width: ~"calc(50% - 50px)";
  }
  
  @media @min_xl {
    margin: 50px 25px;
    flex-basis: ~"calc(33% - 50px)";
    max-width: ~"calc(33% - 50px)";
  }
}

.flip-card--faces {
  display: flex;
  min-width: 200%;
  perspective: 1500px;
  
  .flip-card--front,
  .flip-card--back {
    width: 50%;
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
  }
  
  .flip-card--front {
    transform: rotateY(0deg);

    .flip-card--stat {
      .trade_gothic_bold();
      box-shadow: inset 0 0 0 6000px rgba(0,0,0,0.2);
      overflow: hidden;
      padding: 0.7rem 1.25rem 1.25rem;

      .flip-card--stat-figure {
        font-size: 7rem;
        line-height: 7rem;
        float: left;
        position: relative;
        bottom: -0.5rem;
        letter-spacing: -0.25rem;
      }
      .flip-card--stat-label {
        font-size: 3rem;
        line-height: 3.5rem;
        float: left;
        position: relative;
        bottom: -0.5rem;
        margin-bottom: 1rem;
      }
    }
    
    .flip-card--title {
      .trade_gothic_bold();
      font-size: 1.5rem;
      padding: 0.75rem 1rem;
      overflow: hidden;
      position: relative;
      &:after {
        position: absolute;
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        content: '';
        bottom: 0;
        left: 1rem;
      }
    }
    
    .flip-card--source {
      padding: 0.75rem 1rem 2rem;
      letter-spacing: 1.55px;
      
      .flip-card--source-name {
        font-weight: 700;
      }
      .flip-card--source-year {
        font-weight: 300;
      }
    }
  }
  .flip-card--back {
    transform: translateX(-100%) rotateY(180deg);
    box-shadow: inset 0 0 0 6000px rgba(255,255,255,0.9);
    padding: 1rem;
    
    .flip-card--reverse-title {
      .trade_gothic_bold();
      font-size: 1.5rem;
    }
  }
}

/* Full Width Overrides */
.components {
  .flip-card--container {
    @media @min_lg {
      margin: -25px;
    }
  }

  .flip-card--callout {
    @media @min_lg {
      margin: 50px 25px;
      flex-basis: ~"calc(33% - 50px)";
      max-width: ~"calc(33% - 50px)";
    }
  
    @media @min_xl {
      flex-basis: ~"calc(25% - 50px)";
      max-width: ~"calc(25% - 50px)";
    }
  }
}

.flip-card--flipped .flip-card--front {
  transform: rotateY(-180deg);
}
.flip-card--flipped .flip-card--back {
  transform: translateX(-100%) rotateY(0deg);
}

.component.flip-cards .calendar_controls {
  margin: 0 0 32px;
}
