/* ==========================================================================
	Page Header Home
============================================================================= */

	.page_header_home {

		min-height: 300px;

		overflow: hidden;

		@media @min_md {
			.image_16_9;
			.relative;

			// padding-bottom: 85px;
		}

		@media @min_lg {
			padding-bottom: 50px;
		}

		.fs-row,
		.fs-cell {

			@media @max_md {
				width: 100% !important;
				margin: 0 !important;
			}
		}

		.page_header_home_carousel {

			@media @max_md {
				.background_black;
			}

			@media @min_md {
				.absolute;

				width: 100%;
				height: 100%;

				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			.fs-background-media.fs-background-animated {
				transition: opacity 0s;
			}
		}

		.fs-carousel-enabled {

			.fs-carousel-pagination {
				.font_size(0);

				width: 240px;

				border: 1px solid fade(@white, 40);
				border-bottom: none;
				margin: 0 auto;
				padding: 16px 0;
				text-align: center;

				top: 282px;

				.fs-carousel-page {
					background: fade(@white, 40);

					&.fs-carousel-active {
						.background_white;
					}
				}


				@media @min_sm @and_max_md {
					top: 416px;
				}


				@media @max_md {
					.absolute;

					left: 50%;

					transform: translate(-50%,-100%);
				}

				@media @min_md {
					display: none;
				}
			}

			.fs-carousel-controls {

				@media @max_md {
					display: none;
				}
			}

			.fs-carousel-canister,
			.fs-carousel-item {
				overflow: visible;
			}
		}
	}

	/* Page Header Home Block
	============================================================================= */

	.page_header_home_block {
		.relative;
		.killFlicker;

		z-index: 1;

		// @media @min_md {
		// 	height: 415px;
		// }

		// @media @min_lg {
		// 	height: 700px;
		// }

		// @media @min_lg and (min-height: 650px) and (max-height: 749px)  {
		// 	height: 400px;
		// }

		// @media @min_lg and (min-height: 750px) and (max-height: 849px)  {
		// 	height: 500px;
		// }

		// @media @min_lg and (min-height: 850px) and (max-height: 949px) {
		// 	height: 600px;
		// }

		&:after {

			@media @min_md {
				.block;
				.image_16_9;

				content: "";
			}
		}

		&.fs-carousel-visible {
			z-index: 2;
		}

		.fs-background-container {
			z-index: -1;

			pointer-events: none;

			height: 282px;

			@media @min_sm {
				height: 416px;
			}

			@media @min_md {
				height: 100%;
			}

			@media @max_md {
				// position: relative;
			}
		}
	}

	.page_header_home_block_content_container {
		margin-top: 282px;

		@media @max_md {
			transform: none !important;
		}

		@media @min_sm @and_max_md {
			margin-top: 416px;
		}

		@media @min_md {
			.absolute;
			.full_width;
			.gradient_vertical(fade(@true_black, 0), fade(@true_black, 70));

			bottom: 0;
			left: 0;

			padding-top: 100px;

			transform: translateZ(0, 0, 0);
		}

		.no-cssgradients & {

			@media @min_md {
				background: fade(@true_black, 60);
			}
		}
	}

	.page_header_home_block_content {
		.relative;

		z-index: 1;

		&:before {
			.absolute;
			.full_width;
			.gradient_vertical(fade(@true_black, 15), fade(@true_black, 0));

			height: 100px;

			top: 0;
			left: 0;
			z-index: -1;
		}

		@media @max_md {
			padding: 0 25px;

			&:before {
				content: "";
			}
		}

		@media @min_md {
			border: 1px solid fade(@white, 40);
			background: transparent !important;
			margin: 0 15px;
			padding: 0 25px;
		}

		@media @min_lg {
			margin: 0 -50px;
			padding: 0 50px;
		}
	}

	.page_header_home_block_content_inner {
		.relative;
		.contain;
		.killFlicker;

		padding: 25px 0 120px;

		@media @min_md {
			padding: 30px 0 100px;
		}

		@media @min_lg {
			padding: 40px 0 40px 50px;
			transform: translateY(-1px);
		}

		.page_header_home_carousel .has_callout & {

			@media @min_lg {
				margin-left: 250px;
			}
		}

		&:before {
			.absolute;
			.block;
			.size(27);

			top: 0;
			left: 0;
			z-index: 1;

			border-top: 9px solid @white;
			border-left: 9px solid @white;

			@media @min_lg {
				content: "";
			}
		}
	}

	.page_header_home_block_heading {
		.chaparral_light;
		.color_white;
		.font_size(22);

		@media @min_lg {
			.font_size(24);
		}

		@media @min_lg {
			.font_size(30);
		}

		@media @min_xl {
			.font_size(38);
		}
	}

	.page_header_home_block_link {
		.link_arrow;
		.color_white;
		.killFlicker;

		@media @max_md {
			margin-top: 20px;
		}

		@media @min_md @and_max_lg {
			.absolute;

			top: 100%;

			margin: 0;
			transform: translateY(-55px);
		}

		@media @min_lg {
			margin-top: 20px;
		}

		.no-touchevents &:hover {
			color: fade(@white, 50);
		}

		.has_callout & {

			@media @min_md @and_max_lg {
				left: 380px;
			}
		}
	}


	/* Page Header Home Persona Block
	============================================================================= */

	.page_header_home_persona_callout {
		z-index: 1;

		// @media @max_lg {
		// 	.absolute;

		// 	bottom: 0;
		// }

		@media @max_md {
			.absolute;

			width: 100%;
			height: 100px;

			bottom: 0;
			left: 0;

			padding: 0 25px;
		}

		// @media @min_md @and_max_lg {
		// 	.size(360,110);

		// 	transform: translateY(50%);
		// }

		// @media @min_lg {
		// 	float: left;
		// 	margin-top: -45px;
		// 	margin-bottom: -55px;
		// 	text-align: center;
		// }

		@media @min_md {
			.absolute;

			width: 360px;

			bottom: -15px;
			left: 25px;
		}

		@media @min_lg {
			width: 250px;

			bottom: -20px;
			left: 50px;
		}

		@media @min_xl {
			bottom: -30px;
		}
	}

	.page_header_home_persona_callout_figure {

		@media @max_lg {
			.size(50);

			float: left;
			border-radius: 100%;
			margin: 25px 20px 25px 25px;
			overflow: hidden;
		}

		@media @max_md {
			margin: 25px 20px 25px 0;
		}

		@media @min_md @max_lg {
			.size(80);

			margin: 15px 20px 15px 25px;
		}
	}

	.page_header_home_persona_callout_content {
		.relative;

		height: 100px;

		@media @max_md {
			border-top: 1px solid fade(@white, 40);
		}

		@media @min_md {
			// height: 110px;

			padding: 15px 20px;
		}

		@media @min_lg {
			// height: 140px;
			height: auto;

			padding: 25px 20px 35px;
			text-align: center;
		}

		@media @min_xl {
			padding: 30px 20px 45px;
		}
	}

	.page_header_home_persona_callout_content_inner {
		.absolute;
		.full_width;

		top: 50%;
		left: 0;

		transform: translateY(-50%);

		@media @max_md {
			padding-left: 70px;
		}

		@media @min_md @and_max_lg {
			padding-left: 100px;
		}

		@media @min_lg {
			position: static;
			padding: 0;

			transform: none;
		}
	}

	.page_header_home_persona_callout_label {
		.bold_uppercase;
		.font_size(12);
		.color_white;

		@media @max_md {
			display: none;
		}

		@media @min_md @and_max_lg {
			margin-bottom: 10px;
		}

		&:after {
			.size(20,2);
			.block;
			.background_white;

			margin: 15px auto;

			@media @min_lg {
				content: "";
			}
		}
	}

	.page_header_home_persona_callout_heading {
		.light_uppercase;
		.color_white;
	}

	.page_header_home_persona_callout_title {
		.color_white;
		.chaparral_light;
		.font_size(14);

		margin-top: 5px;

		p {
			margin: 0;
		}

		a {
			.color_white;

			border-bottom: 1px solid fade(@white, 40);

			.no-touchevents &:hover {
				border-bottom-color: @white;
			}
		}
	}

	/* Page Header Home 150th Anniversary Block
	============================================================================= */

	.onefifty-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.onefifty-img {
			width: 120px;
			height: auto;
			margin-top: 1rem;

			@media @min_sm {
				margin-bottom: 1.5rem;
			}

			@media only screen and (min-width: 600px) {
				width: 150px;
			}


			@media @min_md {
				width: 190px;
			}
		}

		.onefifty-text {
			display: inline-block;
		}

		.onefifty-text > a {
			.color_black;
			.link_arrow;
			.chaparral;
			padding-right: 0;
			.font_size(18);
			font-weight: 300;
			text-transform: none !important;

			@media only screen and (min-width: 600px) {
				.font_size(24);
			}

			@media @min_lg {
				.font_size(32);
			}
		}

		@media @min_sm {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

	.onefifty-bg {
		background-color: #eee;
		margin: -20px 0 20px;

		@media @min_lg {
			margin: -50px 0 50px;
		}
	}

	/* Page Header Home Annual Day of Giving Block
	============================================================================= */

	.dayOfGiving-container {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-top: -0.5rem;

		.dayOfGiving-img {
			width: 50%;
			height: auto;
			margin-top: 1rem;
			margin-bottom: 1rem;

			@media @max_sm {
				width: 150px;
			}

			@media @min_md {
				width: 200px;
			}

			@media @min_xl {
				width: 250px;
			}
		}

		.starImg-container {
			position: absolute;
			top: ~"calc(50% - 15px)";
			left: ~"calc(50% - 15px)";

			@media only screen and (max-width: 499px) {
				top: ~"calc(50% + 7px)";
			}

		}

		.starImg {
			width: 30px;
			height: 30px;
		}

		.dayOfGiving-text {
			display: inline-block;
			width: 85%;

			@media @min_sm {
				width: 210px;
			}

			@media @min_md {
				width: 280px;
			}

			@media @min_xl {
				width: 380px;
			}

		}

		.dayOfGiving-text > a {
			.link_arrow;
			.trade_gothic;
			padding-right: 0;
			.font_size(18);
			font-weight: 700;
			line-height: 1.2;
			color: #fff;
			text-transform: none !important;

			.no-touchevents &:hover {
				color: fade(@white, 60);
				text-decoration: underline;
			}

			@media @max_sm {
				text-align: center;
			}

			@media @min_md {
				.font_size(22);
			}

			@media @min_xl {
				.font_size(33);
			}

		}

		@media @min_sm {
			flex-direction: row;
			justify-content: space-evenly;
		}

		@media @min_lg {
			margin-top: -2.5rem;
		}
	}

	.dayOfGiving-logo-bg {
		background-color: #a32638;
		width: 50%;
		height: auto;
		text-align: center;

		@media @max_sm {
			width: 100%;
			height: 145px;
		}

	}
	.dayOfGiving-text-bg {
		background-color: #585858;
		width: 50%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;


		@media @max_sm {
			width: 100%;
			height: 100px;
		}
	}

	/* Page Header Home Secondary Info Block
	============================================================================= */

	.alert-secondary-text {
		text-align: center;
		.trade_gothic_bold;
		.font_size(18);
	}

	.alert-secondary-text > a,
	.no-touchevents .alert-secondary-text > a {
		.link_arrow;
		.trade_gothic_bold;
		.font_size(18);
		color: #fff;
		text-decoration: underline;
		text-transform: none;

		&:hover {
			color: #fff;
		}
	}

	.alert-secondary-bg {
		background: #004380;
		color: #fff;
	}

	@media @max_md {
		.alert-secondary-bg + .page_header {
			padding-top: 0;
		}
	}
