/**
 * Person Profile
 */

.field-name-field-person-profile-portrait {
  img {
    width: 200px;
    padding-right: 20px;
    background-color: white;
    float: left;
  }
}

.field-name-field-person-profile-subtitle {
  margin-bottom: .6em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.field-name-field-person-profile-hook {
  font-family: "Trade Gothic W01",Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  color: #111111;
  line-height: 1.5;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding-top: .6em;
  padding-bottom: .6em;
}

.node-person-profile {
  .field-name-body {
    display: inline-block;
  }
}

@media (max-width: 739px) {
  .field-name-field-person-profile-portrait {
    img {
      width: 100px;
      padding-right: 10px;
    }
  }
}

