/* ==========================================================================
	Simple Timeline
============================================================================= */

	.simple_timeline {
		ul {
			li:before {
				display: none;
			}

			li {
				margin: 0;

				.timeline-content {
				  width: 100%;
				
				  .timeline-text {
					  margin: 0;
				  }
				}
			}
		}
	}
