/* ==========================================================================
	Twitter Embed
============================================================================= */

	.twitter_embed {
		// .padded_md;
	}

	.twitter_embed_header {
		.clearfix;
	}

	.twitter_embed_heading {
		.color_gray;
	}

	.twitter_embed_account_link {
		.link_arrow;

		margin-top: 15px;
	}
