/* ==========================================================================
	Video
============================================================================= */

.video_component--wrapper {
  margin: 1em auto;
  width: 800px;
  max-width: 100%;
}

.video_component--container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video_component--video {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
.video_component--adesc {
  display: block;
  margin: 1em auto;
  width: 48px; 
  height: 48px;
}
