/* ==========================================================================
	Footer
============================================================================= */

	.footer {
                background: @gray_muted;
		.relative;

		z-index: 1;

		padding: 0;
	}

	.footer_start {
		background: @gray_pale;
		padding: 20px 0;

		@media @min_md {
			padding: 0;
                }
	}

        .footer_end {
		display: grid;
                column-gap: 2rem;
		row-gap: 1rem;
		align-items: center;
		padding-top: 8px;
		padding-bottom: 20px;

		@media @min_md {
			grid-template-rows: auto auto;
			grid-template-columns: auto auto;
                }

		@media @min_lg {
			grid-template-rows: 1fr;
			grid-template-columns: 250px 1fr 250px;
			padding-bottom: 8px;
		}
	}

	.footer_logo {
		height: 100%;
		text-align: center;

		@media @min_md {
			grid-row-start: 1;
			grid-row-end: span 2;
			text-align: right;
			align-self: top;
		}
		
		@media @min_lg {
			grid-row-end: span 1;
			text-align: left;
			align-self: center;
		}
	}

	/* Footer Image
	============================================================================= */

	.footer_image_container {

		@media @max_lg {
			display: none;
		}
	}

	.footer_image_figure {

		@media @max_lg {
			margin-bottom: 10px;
		}

		@media @min_lg {
			margin-right: -39px;
		}

		@media @min_xl {
			margin-right: -50px;
		}
	}


	/* Footer Meta
	============================================================================= */

	.footer_heading {
		.bold_uppercase;
		.color_red;

		margin: 0 0 14px;
	}

	.footer_link {
		.block;
		.chaparral_light;
		.color_gray_dark;
		.icon_only_before;
		.icon_left;

		line-height: 2;

		&:after {
			vertical-align: middle;
		}

		.no-touchevents &:hover {
			.color_red;
		}
	}


	/* Footer Navigation */

	.footer_navigation {
		margin-top: 4px;
		margin-bottom: 20px;

		@media @max_md {
			.columns(2, 10px);
		}

		@media @min_md {
			border-bottom: 3px solid @red;
                        text-align: center;
		}
	}

	.footer_nav_link {
		.inline_block;
		.trade_gothic_bold;
		.font_size(18);
		.uppercase;
		.color_black;

		height: 50px;

		line-height: 50px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		.no-touchevents &:hover {
			.color_red;
		}

		@media @max_md {
			.block;

			border-bottom: 3px solid @red;
		}

		@media @min_md {
			padding: 0 16px;
		}

		@media @min_lg @and_max_xl {
			padding: 0 10px;
		}

		@media @min_xl {
			padding: 0 19px;
		}
	}


	/* Footer Location */

	.footer_location_container {

		@media @max_md {
			margin-bottom: 40px;
		}

		@media @min_lg {
			padding-right: 10px;
		}

		@media @min_lg @and_max_xl {
			width: 40% !important;
		}
	}

	.footer_location {
		text-align: center;

		@media @min_md {
			text-align: left;
			margin-top: 14px;
		}

		@media @min_lg {
			text-align: center;
			margin-top: 0;
		}

		p {
		        font-size: 0.8rem;
                  	line-height: 1.75;
			margin: 0;
		}

		a {
                        border-bottom: 1px solid transparent;
			.color_red;
			.border_red;
		}

		.footer_image_figure {

			@media @min_md {
				display: none;
			}
		}

		p.tagline {

			@media @min_md {
				display: none;
			}
		}
	}


	/* Footer Contact */

	.footer_contact_container {

		@media @max_md {
			margin-bottom: 40px;
		}

		@media @min_lg {
			padding-right: 10px;
		}

		@media @min_lg @and_max_xl {
			width: 32% !important;
		}
	}

	.footer_contact {

		@media @min_md @and_max_lg {
			padding-left: 40px;
		}
	}

	.footer_contact_links {
		margin-right: -20px;

		@media @max_md {
			.columns(2, 20px);
		}
	}

	.footer_contact_link {
		&:extend(.footer_link all);

		&.phone:before {
			.icon_mobile;
		}

		&.email:before {
			.icon_mail;
		}

		&.info:before {
			.icon_info_circle_red;
		}

		&.feedback:before {
			.icon_pencil;
		}
	}


	/* Footer Social Media */

	.footer_social_media_container {

		@media @min_lg {
			float: right !important;
		}

		@media @min_lg @and_max_xl {
			width: 28% !important;
		}
	}

	.footer_social_media_links {
          display: grid;
          width: 166px;
          grid-template-rows: auto 1fr;
          grid-template-columns: 30px 30px 30px 30px 30px;
          column-gap: 4px;
          list-style-type: none;
          margin: 0 auto;
          padding: 0;
          
          @media @min_md {
            margin: 0 auto 0 0;
	  }

          @media @min_lg {
            margin: 0 0 0 auto;
	  }
	}

	.footer_social_media_link {
		a {
			&:extend(.footer_link all);
			&:before {
				margin-right: 0;
			}
		}
	}

	.footer_social_media_hub_link {
		grid-column-start: 1;
		grid-column-end: -1;

		a {
			.link_arrow;
			.color_gray;

			line-height: 1.4;
			margin-top: 5px;

			.no-touchevents &:hover {
				.color_red;
			}
		}
	}

	/* Copyright */

	.copyright_container {
		margin-top: 20px;

		@media @max_md {
			background: #E1E1E1;
			margin-top: 40px;
			padding: 15px 0;
		}

		@media @min_lg {
			display: none;
		}
	}

	.copyright {
		.light_uppercase;
		.font_size(11);
		.color_gray_dark;

		clear: left;
		letter-spacing: 0.6px;
		margin: 15px 0;
		padding: 0;
          a {
            .color_red;
            text-decoration: underline;
          }
	}

	.footer_location p.tagline {
		margin: 15px 0;

		@media @max_md {
			line-height: 1.3;
		}
	}

	.footer_image_md_container {
		.clearfix;

		display: none;
		margin-bottom: 40px;

		@media @min_md @and_max_lg {
			display: block;
		}

		.footer_image_figure {

			@media @min_md @and_max_lg {
				width: 230px;

				float: left;
				margin-right: 40px;
			}
		}

		p.tagline {

			@media @min_md @and_max_lg {
				line-height: 1.4;
				margin-right: 40px;
			}
		}
	}
