/* ==========================================================================
	Forms
============================================================================= */

  // Config
  @fs-dropdown-max-height:              260px;
  @fs-dropdown-text-color:              #222;
  @fs-dropdown-font-size:               14px;
  @fs-dropdown-background-color:            #fff;
  @fs-dropdown-border-width:              1px;
  @fs-dropdown-border-color:              #ccc;
  @fs-dropdown-border-radius:             3px;

  // Caret
  @fs-dropdown-caret-color:             #ccc;
  @fs-dropdown-caret-size:              5px;
                     
  // Hover
  @fs-dropdown-hover-text-color:            #222;
  @fs-dropdown-hover-background-color:        #ddd;

  // Selected
  @fs-dropdown-selected-height:           40px;
  @fs-dropdown-selected-padding:            0 40px 0 15px;
                                 
  // Open
  @fs-dropdown-open-background-color:         #fff;
                                     
  // Options
  @fs-dropdown-options-background-color:        #fff;
                                         
  // Group
  @fs-dropdown-group-border-color:          #ccc;
  @fs-dropdown-group-text-color:            #999;
  @fs-dropdown-group-font-size:           11px;
  @fs-dropdown-group-padding:             10px 15px;
  @fs-dropdown-group-text-transform:          uppercase;
                                                     
  // Disabled
  @fs-dropdown-disabled-border-color:         #ccc;
  @fs-dropdown-disabled-text-color:         #ccc;
  @fs-dropdown-disabled-background-color:       #fff;
  @fs-dropdown-disabled-selected-background-color:  #fafafa;
                                                               
  // Item
  @fs-dropdown-item-text-color:           #222;
  @fs-dropdown-item-font-size:            14px;
  @fs-dropdown-item-background-color:         #fff;
  @fs-dropdown-item-border-color:           #ccc;
  @fs-dropdown-item-border-width:           1px;
  @fs-dropdown-item-height:             40px;
  @fs-dropdown-item-padding:              0 15px;
                                                                               
  @fs-dropdown-item-hover-text-color:         #222;
  @fs-dropdown-item-hover-background-color:     #ddd;

  // Item - Selected
    
  @fs-dropdown-item-selected-background-color:  #eee;
        
  // Item - Disabled
  @fs-dropdown-item-disabled-text-color:      #999;
    
  // Shadows
      
  @fs-dropdown-selected-box-shadow:         0 0 5px rgba(0, 0, 0, 0.1);
  @fs-dropdown-options-box-shadow:          0 1px 4px rgba(0, 0, 0, 0.15);

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	input,
	textarea {
		border: none;
		border-radius: 0;
		padding: 0;
	}

	textarea {
		resize: vertical;
	}

	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=url],
	input[type=number],
	input[type=date] {
		height: 60px;
	}

	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=url],
	input[type=number],
	input[type=date],
	textarea {
		.chaparral_light;
		.font_size(24);

		border: 1px solid #C4C4C4;
		padding: 16px 20px;

		&::-webkit-input-placeholder {
			.chaparral_light_italic;
			.color_gray_light;
		}

		&:-moz-placeholder {
			.chaparral_light_italic;
			.color_gray_light;
		}

		&::-moz-placeholder {
			.chaparral_light_italic;
			.color_gray_light;
		}

		&:-ms-input-placeholder {
			.chaparral_light_italic;
			.color_gray_light;
		}

		&:focus,
		&:active {
			.border_gray;
		}
	}

	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=url],
	textarea {
		-webkit-appearance:none;
	}

	input[type=submit],
	button[type=submit],
	.styled_form .action button {
		.background_red;
		.color_white;
		.trade_gothic_bold;
		.font_size(13);
		.uppercase;

		display: inline-block;
		letter-spacing: 1.62px;
		padding: 20px 25px;
		transition: background @base_transition_duration;

		.no-touchevents &:hover {
			background: darken(@red, 10);
		}
	}

	label {
		&:extend(.section_break_intro);
	}

  // Formstone 0.8.x base styles.
  .fs-dropdown-selected {
    width: 100%;
    position: relative;
    background: @fs-dropdown-background-color;
    border: @fs-dropdown-border-width solid @fs-dropdown-border-color;
    border-radius: @fs-dropdown-border-radius;
    color: @fs-dropdown-text-color;
    cursor: pointer;
    display: block;
    font-size: @fs-dropdown-font-size;
    height: @fs-dropdown-selected-height;
    line-height: @fs-dropdown-selected-height;
    margin: 0;
    overflow: hidden;
    padding: @fs-dropdown-selected-padding;
    text-align: left;
    text-overflow: clip;
    z-index: 2;
                                                                                                            
    &:after {
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      border-left: @fs-dropdown-caret-size solid transparent;
      border-right: @fs-dropdown-caret-size solid transparent;
      border-top: @fs-dropdown-caret-size solid @fs-dropdown-caret-color;
      content: '';
      display: block;
      margin: auto 0;
    }
  }

/* ==========================================================================
	Web Forms
============================================================================= */

	.webform, .slate_graduate_form, .slate_undergraduate_form, .salesforce_form, .slate_form {

		.fs-dropdown {
			margin: 0;
		}

		.fs-checkbox {
			margin: 0 0 15px 0;
		}

		.fs-checkbox-marker {
			.relative;

			bottom: -6px;
			margin-right: 0.5rem;
		}

		.fs-checkbox-label {
			.font_size(20);

			line-height: 165%;
		}

		.fs-dropdown-selected {
			&:extend(.icon_only_after all);

			.trade_gothic_light;
			.font_size(20);
			.uppercase;
			.relative;

			height: auto;
			min-height: 60px;

			border: 1px solid #c4c4c4;
			border-radius: 0;
			color: #525252;
			line-height: 1.4;
			padding: 16px 80px 16px 20px;

			&:before {
				.block;

				width: 60px;
				height: 100%;

				position: absolute;
				top: 0;
				right: 0;

				border-left: 1px solid #c4c4c4;
				content: "";
			}

			&:after {
				&:extend(.icon_down_red);

				right: 20px;

				border: 0;
				transition: transform @base_transition_duration;
			}
		}

		.fs-dropdown-open .fs-dropdown-selected,
		.fs-dropdown-focus .fs-dropdown-selected {
			box-shadow: none;
		}

		.fs-dropdown-open .fs-dropdown-selected {
			border-radius: 0;
		}

		.fs-dropdown-open .fs-dropdown-options {
			border-color: #c4c4c4;
			border-radius: 0;
			box-shadow: none;
		}

		.fs-dropdown-open .fs-dropdown-selected {

			&:after {
				transform: rotate(180deg);
			}
		}

		.fs-dropdown-item {
			.trade_gothic_light;
			.font_size(14);
			.uppercase;

			height: auto;
			min-height: 40px;

			color: #525252;
			line-height: 1.4;
			padding: 10px 20px;
		}

		.required_messge {
			.chaparral_light_italic;

			position: absolute;
			top: 0;
			right: 20px;

			color: fade(@black, 70);

			@media @min_md {
				right: 30px;
			}

			@media @min_lg {
				right: 50px;
			}

			p {
				.chaparral_light_italic;

				color: fade(@black, 70);
			}
		}

		.required_star {
			.color_red;
		}
	}

	.webform-container-inline {

		div,
		div.form-item {

			.fs-dropdown-options {
				display: none;
			}

			.fs-dropdown-open {

				.fs-dropdown-options {
					.block;
				}
			}
		}
	}

	.webform-client-form,
	.styled_form {
		.background_gray_pale;
		.relative;
		.margined_md;

		padding: 30px 20px;

		@media @min_md {
			padding: 40px 30px;
		}

		@media @min_lg {
			padding: 60px 50px;
		}
	}

	.webform-component-fieldset {
		margin-bottom: 20px;

		legend {
			&:extend(.heading_5);

			.block;

			width: 100%;

			border-bottom: 1px solid #e6e6e6;
			letter-spacing: 1.21px;
			padding-bottom: 18px;

			@media @min_md {
				width: 75%;
			}
		}
	}

	.fieldset-legend {}

	.fieldset-wrapper {}

	.webform-layout-box {}

	.layout_split_50 {
		.contain;
		.relative;

		.webform-component {

			@media @min_md {
				width: ~"calc(50% - 15px)";

				float: left;
			}

			&:last-child {

				@media @min_md {
					float: right;
				}
			}
		}
	}

	.webform-component {
		margin-bottom: 20px;

		input {
			max-width: 100%;

			&.error {
				border-color: @red;
			}
		}

		textarea {
			max-width: 100%;
		}

		label {
			&:extend(.section_break_intro);

			margin-right: 60px;
		}
	}

	.block_input {

		.form-text {
			width: 100%;
		}

		textarea {
			width: 100%;
		}

		label {
			.block;

			margin-right: 0;
			margin-bottom: 8px;
		}
	}

	.inline_input {
		.contain;
		overflow: visible;

		label {

			@media @min_md {
				display: inline-block;
				float: left;
				margin-top: 34px;
			}
		}

		.fs-dropdown {
			margin: 10px 0;

			@media @min_md {
				min-width: 300px;

				display: inline-block;
				float: left;
				margin: 20px 0;
			}
		}
	}

	.form-required {
		.color_red;
	}

	.form-actions {
		border-top: 3px solid @white;
		padding-top: 20px;

		@media @min_md {
			padding-top: 30px;
		}
	}

	input.webform-submit {}

	.webform-component-date {

		> label {

			@media @min_md {
				display: inline-block;
				float: left;
				margin-top: 34px;
				margin-right: 60px;
			}
		}

		.webform-container-inline {

			@media @min_md {
				display: inline-block;
			}
		}

		.form-item {
			margin-bottom: 20px;

			@media @min_md {
				display: inline-block;
				margin: 0 10px 0 0;
			}

			label {

				@media @min_md {
					display: none;
				}
			}
		}

		.fs-dropdown {

			@media @min_md {
				display: inline-block;
				margin: 20px 0;
			}
		}
	}

	.webform-component-radios,
	.webform-component-checkboxes {

		> label {
			.block;

			margin-bottom: 10px;
		}
	}

	.form-radios,
	.form-checkboxes {

		label {
			margin-right: 0;
		}

		.form-item {
			margin: 10px 0;
		}
	}

	.input_columns {

		.form-radios {

			@media @min_md {
				.columns(2, 0);
			}
		}

		.form-item {
			display: inline-block;
		}
	}

	.webform-calendar {
		margin-top: 20px;
	}

	.webform-component-radios {

		div.form-type-radio,
		div.fs-checkbox-element_wrapper,
		div.fs-checkbox-radio,
		div.fs-checkbox-marker,
		div.fs-checkbox-flag {
			.block;
		}
	}

/* Slate/Salesforce Form Overrides
============================================================================= */

	.styled_form {
		form > div {
			margin: 0 !important; // It's an inline style
		}

		div.form_question {
			margin: 0 0 10px 0;
			padding: 0;
		}

		.action button {
			margin: 20px 0 0 0;
		}

		br {
			display: none;
		}

		div.form_question.form_radio .form_label {
			display: block;
			width: auto;

			legend {
				&:extend(.section_break_intro);
			}
		}

		div.form_question.form_layout_table .form_responses {
			display: block;
		}

		&.salesforce_form {
			label {
				display: block;
			}

			input {
				display: block;
				margin: 0 0 10px 0;

				&[type=text] {
					width: 100%;
				}

				&[type=submit] {
					margin: 20px 0 0 0;
				}
			}
		}

		.form_radio,
		.form_checkbox {

			.form_response {
				margin: 10px 0;
			}

			.fs-checkbox-label {
				.font_size(20);
			}
		}

		div.form_response input+label {
			font-weight: 300;
		}
	}


/* Sidebar Form
============================================================================= */

	.sidebar {

		.webform-client-form,
		.styled_form {
			margin-top: 20px;

			padding: 12px 10px 24px;
		}

		.webform-component {

			input {
				.font_size(16);

				width: 100%;
				height: auto;

				padding: 14px;
			}

			label {
				margin-right: 0;
			}
		}

		.form-item {
			margin-bottom: 10px;

			> label {
				.chaparral_light;
				.font_size(18);
			}
		}

		.styled_form .form_label,
		.styled_form div.form_question.form_radio .form_label legend,
		.salesforce_form label {
			.chaparral_light;
			.font_size(18);
		}

		.fs-checkbox-label {
			.font_size(16);

			padding: 3px 0 0 0;
		}

		.form-actions {
			border-top-width: 0;
			padding-top: 0;
		}

		.webform-submit {
			width: 100%;
		}

		.node-webform .fs-dropdown-selected {
			.font_size(18);
			.chaparral_light;

			text-transform: none;
		}
	}

	.siderbar_form_header {}

	.siderbar_form_heading {
		.trade_gothic_bold;
		.font_size(30);
		.line_height(36, 30);
		.color_red;

		border-bottom: 1px solid @gray_pale;
		letter-spacing: 1.28px;
		margin: 0 0 15px;
		padding-bottom: 4px;
		text-transform: uppercase;
	}

	.siderbar_form_description {
		.trade_gothic_light;
		.font_size(16);
		.line_height(22, 16);

		color: fade(@true_black, 70);

		p {
			margin: 0;
		}
	}

	.sidebar {

		.styled_form {

			.fs-checkbox-label {
				color: #222;
			}

			input[type=text],
			input[type=email],
			input[type=password],
			input[type=tel],
			input[type=url],
			input[type=number],
			input[type=date] {
				height: auto;
			}

			input[type=text],
			input[type=email],
			input[type=password],
			input[type=tel],
			input[type=url],
			input[type=number],
			input[type=date],
			textarea {
				font-size: 16px;
				padding: 10px 15px;
			}

			.fs-dropdown-selected {
				font-size: 14px;
				min-height: inherit;
				padding: 10px 40px 10px 15px;

				&:before {
					width: 40px;
				}

				&:after {
					right: 12px;
				}
			}

			.fs-dropdown-options {
				background-color: #fff;
			}
		}
	}

	.styled_form .action button {
		margin: 10px 0 0 0;
	}
