/* ==========================================================================
	Print
============================================================================= */

	@media print {

		* {
			background: transparent !important;
			box-shadow: none !important;
			color: #000 !important;
			text-shadow: none !important;
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		a[href]:after {
			content: " (" attr(href) ")";
		}

		abbr[title]:after {
			content: " (" attr(title) ")";
		}

		a[href^="javascript:"]:after,
		a[href^="#"]:after {
			content: "";
		}

		pre,
		blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100% !important;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}

		.print {
			display: block;
		}
	}

/* ==========================================================================
	 Custom print styles
============================================================================= */

	@media print {

		body {
			font-family: "Chaparral W01", Georgia, Times, "Times New Roman", serif !important;
			font-style: normal;
			font-weight: 400;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: "Chaparral W01", Georgia, Times, "Times New Roman", serif !important;
			font-weight: 400 !important;
			// margin: 2em 0 1em;
		}

		body,
		p,
		li {
			font-size: 12px !important;
		}

		h1 {
			font-size: 20px !important;
		}

		h2 {
			font-size: 18px !important;
		}

		h3 {
			font-size: 17px !important;
		}

		h4 {
			font-size: 16px !important;
		}

		h5 {
			font-size: 15px !important;
		}

		h6 {
			font-size: 14px !important;
		}

		.fs_grid_row,
		.fs-grid .fs-row {
			width: auto;
		}

		.fs_grid_cell,
		.fs-grid .fs-row [class*="fs-cell"] {
			width: auto;

			float: none;
			margin: 0;
		}

		.fs_grid_cell_right,
		.fs-grid .fs-row [class*="fs-cell"][class*="-right"] {
			float: none;
		}

		.typography {

			.block_left,
			.block_right {
				max-width: 40% !important;

				img {
					max-width: 100% !important;
				}
			}

			.block_left {
				float: left !important;
				margin: 0 20px 20px 0 !important;
			}

			.block_right {
				float: right !important;
				margin: 0 0 20px 20px !important;
			}

		}

		.header_push_mobile,
		.site_wide_alert_container,
		.secondary_nav,
		.utility_nav,
		.primary_nav,
		.mobile_navigation_handle,
		.page_header_home,
		.program_finder,
		.fs-background-container,
		.numbers_item_image,
		.numbers_footer,
		.news_list_footer,
		.events_list_footer,
		.homepage_gallery,
		.homepage_social_media,
		.homepage_callouts_spotlight,
		.homepage_callouts_people,
		.footer_image_container,
		.footer_navigation,
		.footer_image_figure,
		.footer_social_media_container,
		#header_clone,
		.mobile_navigation,
		#fs-grid-menu,
		.breadcrumb,
		.page_header_figure,
		.sidebar_subnavigation,
		.highlight_group,
		.news_list_all,
		.events_list_all,
		.checklist_container .component_header_block_link,
		.page_header_admissions,
		.dates_header .component_header_block_link,
		.page_header_article,
		.topic_group,
		.component.statistics,
		.testimonial,
		.page_header_program,
		.component.people,
		.sidebar .webform-client-form,
		.siderbar_form_header,
		.siderbar_form_description,
		.component_controls,
		.twitter_embed,
		.video_list,
		.social_sidebar,
		.footer_contact_link:before,
		.service-links,
		.calendar_controls_wrapper,
		.events_list_wide_item_links,
		.events_list_wide_item_time:before,
		.events_list_wide_item_location_label:before,
		.events_list_wide_item_button_detail,
		.events_list_wide_item_location_label,
		.calendar_detail_header_time:before,
		.calendar_detail_header_location:before,
		.calendar_detail_controls,
		.page_tabs,
		.page_header_figure,
		.pager,
		.acc_q:before,
		.acc_q:after,
		.typography iframe {
			.hide;
		}

		.homepage_callouts {
			padding: 0;
		}

		.numbers_set {
			display: none;

			&.js-loaded {
				.block;
			}
		}

		.numbers_item_content {
			padding: 0;
		}

		.js-equalize_child {
			height: auto !important;
		}

		.content_callouts {
			clear: both;
		}

		.topic_single_figure {
			.left;

			width: 294px;

			margin-right: 30px;
		}

		.announcement_callout,
		.multi_column_list {
			border: 1px solid #ccc;
		}

		.announcement_container,
		.multi_column_list_container {
			padding: 20px;
		}

		.announcement_container {

			&:before,
			&:after {
				.hide;
			}
		}

		.quote {
			margin: 40px 0;
		}

		.events_list_wide_figure {
			.right;

			width: 100px;

			margin-left: 30px;
		}

		.events_list_wide {
			margin-right: 0;
			margin-left: 0;
			max-width: none;
		}

		.footer_contact {
			margin: 20px 0;
		}

		.events_list_wide_item_location_data {

			&:before {
				content: "LOCATION: "
			}
		}

		.events_list_wide_item_date {
			.block;

			&:before {
				content: "TIME: "
			}
		}

		.events_list_wide_item_time {
			.inline_block;
		}

		.events_list_wide_item_cat {
			.block;

			&:before {
				content: "CATEGORIES: "
			}
		}

		.calendar_detail_header_time,
		.calendar_detail_header_location {
			.block;

			margin: 10px 0;
		}

		.directory_container {
			border-bottom: 1px solid #ccc;
			padding: 20px 0;
		}

		.accordion_item .toggle_target {
			display: block !important;
		}

	}
