/* ==========================================================================
	Search
============================================================================= */

	.search_results {}

	.search_results_form {
		.contain;

		max-width: 730px;

		.search_form {
			.relative;

			width: 100%;
			max-width: 100%;

			float: left;
			padding-right: 60px;
		}

		.search_input {
			.block;
			.trade_gothic_light;
			.font_size(20);
			.line_height(24, 20);

			width: 100%;

			letter-spacing: 0.28px;

			&::-ms-clear {
				display: none;
			}
		}

		.search_submit {
			&:extend(.icon_only_before all);

			.size(60);
			.absolute;

			top: 0;
			right: 0;

			&:before {
				&:extend(.icon_search_white_lg);
				.absolute_center();
			}
		}
	}

	.search-form {
		.contain;

		max-width: 730px;

		> div {}

		.form-wrapper {
			.relative;

			width: 100%;
			max-width: 100%;

			float: left;
			padding-right: 110px;
		}

		.form-item {

			label {
				&:extend(.visually_hidden all);
			}

			input {
				.block;
				.trade_gothic_light;
				.font_size(20);
				.line_height(24, 20);

				width: 100%;

				letter-spacing: 0.28px;
			}
		}

		.form-submit {
			&:extend(.icon_only_before all);

			.size(110, 60);
			.absolute;

			top: 0;
			right: 0;

			&:before {
				&:extend(.icon_search_white_lg);
				.absolute_center();
			}
		}
	}

	.search_result_message,
	.search_result_message p {
		.chaparral_light_italic;
		.font_size(20);
		.line_height(28, 20);
		.color_gray_dark;
	}

	.search_result_message {
		margin: 20px 0;

		p {
			margin: 0;
		}
	}

	.spelling-suggestions {
		.chaparral_light_italic;
		.font_size(20);
		.line_height(28, 20);
		.color_gray_dark;

		.form-item {

			dt {}

			strong {
				font-weight: normal;
			}

			dd {
				margin-left: 0;
			}

			a {
				border-bottom: 1px solid transparent;
				color: @red;

				.no-touchevents &:hover {
					border-bottom-color: @red;
					color: @black;
				}
			}
		}
	}


/* Search Results
============================================================================= */

	.search_result {
		padding: 40px 22px;

		&:nth-child(odd) {
			.background_gray_pale;
		}

		@media @min_lg {
			margin: 0 -60px;
			padding-right: 60px;
			padding-left: 60px;
		}
	}

	.search_result_content {
		max-width: 570px;

		@media @min_lg {
			max-width: 760px;
		}

		@media @min_xl {
			max-width: 950px;
		}
	}

	.search_result_header {
		margin-bottom: 10px;
	}

	.search_result_title {
		.chaparral_light;
		.font_size(24);
		.color_red;
		.line_height(27, 24);

		a {
			border-bottom: 1px solid transparent;
			color: inherit;

			.no-touchevents &:hover {
				.color_black;
			}
		}
	}

	.search_result_title_link {}

	.search_result_description,
	.search_result_description p {
		.trade_gothic_light;
		.font_size(16);
		.color_black;
		.line_height(25, 16);
	}

	.search_result_description {
		margin: 0 0 20px 0;

		p {
			margin: 0;
		}
	}

	.search_result_footer {}

	.search_result_url {
		.link_arrow;
		.trade_gothic_bold;
		.font_size(14);
		.color_black;
		.line_height(17, 14);

		border-bottom: 1px solid transparent;
		letter-spacing: 0.6px;
		text-transform: uppercase;

		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
		word-break: break-word;

		.no-touchevents &:hover {
			.color_red;
		}
	}

	/* ==========================================================================
	   Google Results
	============================================================================= */

	.search-form.google-cse {
		margin-left: 14px;
	}

	.search-form.google-cse .form-text {
		background-position: 20px 50% !important;
		padding: 16px 20px !important;
		border-color: #c4c4c4 !important;
		&:focus {
			border-color: #666 !important;
		}
	}

	.cse .gsc-control-cse,
	.gsc-control-cse {
		border: 0;
	}

	.gsc-control-cse tbody {
		border: none;
	}

	.cse .gsc-control-cse,
	.gsc-control-cse,
	.gsc-above-wrapper-area-container td {
		padding: 0;
		border: none !important;
	}

	.gsc-above-wrapper-area {
		margin-bottom: 15px;
	}

	.gsc-control-cse .gsc-control-wrapper-cse,
	.gsc-control-cse .gsc-control-wrapper-cse .gsc-table-result {
		.trade_gothic_light;
		.font_size(20);

		font-weight: normal;
	}

	.gsc-result-info-container .gsc-result-info {
		.trade_gothic_bold;
		.font_size(14);

		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}

	.gsc-control-cse .gsc-control-wrapper-cse .gs-spelling,
	.gsc-control-cse .gsc-control-wrapper-cse .gs-result .gs-title,
	.gsc-control-cse .gsc-control-wrapper-cse .gs-result .gs-title * {
		.chaparral_light;
		.font_size(24);
		.line_height(27, 24);

		margin: 8px 0 10px;

		color: @red !important;
	}
	.gsc-wrapper .gs-result .gs-title,
	.gsc-wrapper .gs-result .gs-title * {
		text-decoration: none;
	}

	.gsc-wrapper .gs-result .gs-title:hover,
	.gsc-wrapper .gs-result .gs-title:hover * {
		.color_black;
	}

	.gsc-wrapper .gs-result .gs-snippet,
	.gsc-wrapper .gs-result .gsc-url-bottom {
		margin: 10px 0;
	}

	.gsc-wrapper .gs-result .gsc-url-top {
		.font_size(16);
	}

	.gsc-wrapper .gs-result .gs-snippet,
	.gsc-wrapper .gs-result div.gs-fileFormat {
		padding-left: 8px;
	}

	.gsc-wrapper .gs-result .gs-snippet {
		margin-bottom: 12px;
	}

	.gsc-thumbnail .gs-web-image-box,
	.gsc-thumbnail .gs-promotion-image-box {
		margin: 0 20px 0 0;
		padding: 10px 0 0 !important;
		width: 100px !important;
	}

	.gsc-thumbnail .gs-web-image-box a.gs-image,
	.gsc-thumbnail .gs-promotion-image-box a.gs-image {
		display: block;
	}

	.gsc-thumbnail .gs-web-image-box img.gs-image,
	.gsc-thumbnail .gs-promotion-image-box img.gs-promotion-image {
		border: none !important;
		max-width: 100% !important;
	}

	.gsc-table-result tbody,
	.gsc-table-result td {
		border: none !important;

		&.gsc-table-cell-snippet-close {
			padding-top: 0px !important;
			padding-bottom: 0;
		}
	}

	.gsc-wrapper .gsc-webResult.gsc-result {
		border-bottom: none !important;
		padding: 25px 12px;
		margin: 0;

		@media @min_lg {
			padding: 25px;
		}

		&:nth-child(odd) {
			.background_gray_pale;
		}
	}

	.gsc-table-cell-snippet-close {
		border-left: none !important;
	}

	.gsc-wrapper .gs-result a.gs-visibleUrl,
	.gsc-wrapper .gs-result .gs-visibleUrl {
		color: #222;
	}

	.gsc-wrapper .gsc-results .gsc-cursor-box {
		margin: 10px 0;
	}

	.gsc-wrapper .gsc-results .gsc-cursor-box .gsc-cursor-page {
		.trade_gothic_light;
		.color_red;

		font-style: normal;
		margin-right: 10px;
		text-decoration: none;
	}

	.gsc-wrapper .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
		.color_black;

		pointer-events: none;

		&:hover {
			text-decoration: none;
		}
	}

	.gsc-control-cse .cse .gsc-webResult.gsc-result,
	.gsc-control-cse .gsc-webResult.gsc-result,
	.gsc-control-cse .gsc-imageResult-column,
	.gsc-control-cse .gsc-imageResult-classic {
		border-top-width: 0 !important;
		border-right-width: 0 !important;
		border-left-width: 0 !important;
	}

	.gsc-control-cse .cse .gs-promotion a.gs-title:link,
	.gsc-control-cse .gs-promotion a.gs-title:link,
	.gsc-control-cse .cse .gs-promotion a.gs-title:link *,
	.gsc-control-cse .gs-promotion a.gs-title:link *,
	.gsc-control-cse .cse .gs-promotion .gs-snippet a:link,
	.gsc-control-cse .gs-promotion .gs-snippet a:link,
	.gsc-control-cse .cse .gs-promotion a.gs-title:visited,
	.gsc-control-cse .gs-promotion a.gs-title:visited,
	.gsc-control-cse .cse .gs-promotion a.gs-title:visited *,
	.gsc-control-cse .gs-promotion a.gs-title:visited *,
	.gsc-control-cse .cse .gs-promotion .gs-snippet a:visited,
	.gsc-control-cse .gs-promotion .gs-snippet a:visited {
		color: #222 !important;
	}

	.gsc-control-cse .gsc-selected-option-container {
		width: auto !important;
	}

	.gsc-control-cse .gsc-refinementsArea {
		border-width: 0;
		margin: 0;
		padding: 0;
	}

	.cse .gsc-webResult.gsc-result.gsc-promotion,
	.gsc-webResult.gsc-result.gsc-promotion {
		background-color: #f9f9f9 !important;
		border: 1px solid #ddd !important;
		margin-top: 20px !important;
		padding: 30px !important;
	}

	.gsc-resultsHeader {
		display: none;
	}


	.gsc-cursor-box {
	  margin: 20px 0 !important;
	  padding: 0 !important;

	  text-align: left;

	  @media @min_md {
	    margin: 40px !important;
	  }
	}



	.gsc-cursor-page {
		line-height: 56px;

		display: inline-block;

		height: 56px;
		margin: 0 !important;
		padding: 0 15px !important;

		vertical-align: middle;
		vertical-align: top;

		.trade_gothic_bold;
		.font_size(15);
		.relative;
		.color_red;

		font-weight: bold !important;

		.no-touchevents &:hover {
			.color_black;
		}

		@media @min_xl {
			padding-right: 20px;
			padding-left: 20px;
		}

		@media @max_md {
			line-height: 30px;

			height: 30px;
			padding-right: 10px;
			padding-left: 10px;
		}

		&:after {
			top: 13px;
			left: 100%;

			content: '';
			vertical-align: middle;

			.absolute;
			.inline_block;
			.size(1,30);
			.background_gray_pale;

			@media @max_md {
				top: 0;
			}
		}

		&:last-child:after {
			content: none;
		}


	}
