/* ==========================================================================
	Sidebar
============================================================================= */

	.sidebar {

	}


	/* Sidebar Navigation */

  // Config
  @fs-navigation-margin: 0;
  @fs-navigation-icon-offset: 15px;
  @fs-navigation-icon-color: #ccc;
  @fs-navigation-icon-height: 3px;
  @fs-navigation-icon-width: 15px;
  @fs-navigation-icon-gap: 2px;
  @fs-navigation-icon-close-size: 15px;
  @fs-navigation-icon-close-font-size: 22px;
         
  // Toggle
  @fs-navigation-toggle-background: #fff;         
  @fs-navigation-toggle-border-color: #ccc;         
  @fs-navigation-toggle-border-size: 1px;           
  @fs-navigation-toggle-border-radius: 3px;
  @fs-navigation-toggle-handle-text-color: #111;
  @fs-navigation-toggle-handle-font-size: 14px;
  @fs-navigation-toggle-handle-height: 40px;
  @fs-navigation-toggle-handle-padding: 0 45px 0 15px;
                  
  // Slide
                   
  @fs-navigation-slide-background: #fff;
  @fs-navigation-slide-width: 270px;
  @fs-navigation-slide-zindex: 0;
  @fs-navigation-slide-transition-speed: 0.2s;
  @fs-navigation-slide-transition-timing: ease;
  @fs-navigation-slide-handle-background: #fff;
  @fs-navigation-slide-handle-text-color: #111;
  @fs-navigation-slide-handle-font-size: 14px;
  @fs-navigation-slide-handle-padding: 10px 40px 10px 15px;
  @fs-navigation-slide-content-box-shadow-color: rgba(0, 0, 0, 0.15);
  @fs-navigation-slide-content-box-shadow-blur: 2px;
  @fs-navigation-overlay-zindex: 2;
                               
  @fs-navigation-overlay-content-background: #fff;
  @fs-navigation-overlay-content-opacity: 75;
  @fs-navigation-overlay-content-zindex: 1;
                                  
  @fs-navigation-push-zindex: 0;
  @fs-navigation-push-content-zindex: 1;

  // Formstone navigation 0.8.x base styles
  .fs-navigation {
    &-toggle-handle&-enabled {
      width: 100%;
      background: @fs-navigation-toggle-background;
      border: 4px solid #eeeeee;
      border-radius: 0;
      color: @red;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-size: 1rem;
      height: 50px;
      line-height: 50px;
      margin: 0;
      padding: 0 50px 0 24px;
      position: relative;
      user-select: none;
    }

    &-toggle-handle&-open {
      border-radius: @fs-navigation-toggle-border-radius @fs-navigation-toggle-border-radius 0 0;
    }
    
    &-toggle-handle,
    &-toggle-handle&-enabled {
      font-family: "Trade Gothic W01",Arial,Helvetica,sans-serif;
      font-style: normal;
      font-weight: 700;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    
    &-toggle-handle&-handle:after,
    &-toggle-handle&-handle&-enabled:after {
      right: auto;
      left: 0;
      margin-top: 24px;
    }
    
    &-toggle-handle&-enabled:after {
      transition: box-shadow .25s,color .25s;
    }
    
    &-handle&-enabled:after {
      height: 2px;
      width: 12px;
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      background: #9D1535;
      box-shadow: 0 4px 0 #9D1535, 0 -4px 0 #9D1535;
      content: '';
      display: block;
      margin: auto 0;
    }
    
    &-toggle-handle&-handle&-open:after, &-toggle-handle&-handle&-enabled&-open:after {
      margin-top: 19px;
    }
    
    &-handle&-open:after {
      width: 12px;
      height: 12px;
      background: transparent;
      border: none;
      box-shadow: none;
      color: #9D1535;
      content: "\00d7";
      font-size: 20px;
      font-weight: 700;
      line-height: 10px;
      text-align: center;
    }
  }

	.sidebar_subnavigation {
		.margined_bottom;
	}

	.subnavigation {

		ul {
			border-left: 4px solid @gray_pale;
			list-style: none;
			margin: 0;
			padding: 0;

			li {

			}

			ul {
				border: none;
				padding: 5px 0 10px 20px;
			}
		}
	}

	.subnavigation_handle {

		@media @min_lg {
			.hide();
		}
	}

	.subnavigation_top_level_page_link {
		.chaparral;
		.font_size(22);
		.color_black;
		.block;

		margin: 0 0 18px;

		.no-touchevents &:hover {
			.color_red;
		}
	}

	.subnavigation_links {

		@media @max_lg {
			padding-top: 30px;
		}
	}

	.subnavigation_link {
		.block;
		.light_uppercase;
		.color_gray;

		border-left: 4px solid transparent;
		line-height: 1.3;
		margin-left: 4px;
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 2px 0 2px 16px;

		&.active,
		.no-touchevents &:hover {
			.color_red;

			border-left-color: @red;
		}
	}

	.subnavigation_child_links {
		padding: 15px 0 20px;
	}

	.subnavigation_child_link {
		.block;
		.trade_gothic_light;
		.font_size(14);
		.color_black;

		line-height: 1.4;
		padding: 8px 20px;

		&.active,
		.no-touchevents &:hover {
			.color_red;
		}
	}


	/* Sidebar Callouts */

	.sidebar_callouts {

	}
