#box {
  width: auto;
/*  height: 95px; */
  padding:1em;
  background-color: #A32638;
  color: #fff;
}

#box h2 {
  color: #fff !important;
}

#search-form {	
  background: #e1e1e1; /* Fallback color for non-css3 browsers */
  width: 100%;
  overflow:auto;
  /* Gradients */
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
  background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);
  /* Rounded Corners */
  border-radius: 16px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  /* Shadows */
  box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  min-width: 2px;
  min-height: 4px;
  margin: 2px 3 px;
  display: block;
}

/*** TEXT BOX ***/
#box input[type="text"]{

  background: #fafafa; /* Fallback color for non-css3 browsers */

  /* Gradients */
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
  background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	
  width: 80%;

  /* Rounded Corners */
  border-radius: 17px 0 0 17px; 
  -webkit-border-radius: 17px 0 0 17px;
  -moz-border-radius: 17px 0 0 17px;
	
  /* Shadows */
  box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
  -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

/*** USER IS FOCUSED ON TEXT BOX ***/
#box input[type="text"]:focus{
  outline: none;
  background: #fff; /* Fallback color for non-css3 browsers */
	 
  /* Gradients */
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(235,235,235)));
  background: -moz-linear-gradient( center top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
}

/*** SEARCH BUTTON ***/

.search-field input.submit {
  position: relative;
  top: 3px;
  right: 3px;
  left :3px;
  bottom: 3px;
  border: none;
  margin: 2px 0px 0px 2px ;
  padding: 0;
}

#box a {
  text-decoration: underline;
}

/* unvisited link */
#box a:link {
  color: #FFFFFF;
}

/* visited link */
#box a:visited {
  color: #FFFFFF;
}

/* mouse over link */
#box a:hover {
  color: #FFFFFF;
}

/* selected link */
#box a:active {
  color: #FFFFFF;
}

#box .search-input {
  width: 80%;
  float: left;
  color: #000;
}

#box .search-submit {
  width: 20%;
  float: left;
  padding: 22px 0px;
}

#box p {
  margin-bottom:0;
}

#research-widget-wrapper,
.libChat {
  margin: 1em 0;
}
